include ../formulario/questionario3

#modal-visualizar-questionario

	div.modal-header

		button.close(type='button', ng-click="$ctrl.fechar()")
			span(aria-hidden='true') ×
			span.sr-only Fechar

		h4.modal-title Visualizar Questionário

	div.modal-body
		+questionario3('$ctrl.questionario', "true", "false")
	
	div.modal-footer

		button.btn.btn-default.pull-left(ng-click="$ctrl.fechar()")
			i.glyphicon.glyphicon-remove
			| &nbsp;Fechar
