div.modal-header

    button.close(type='button', ng-click="visualizarJustificativasCtlr.fechar()")
        span(aria-hidden='true') ×
        span.sr-only Fechar

    h4.modal-title Visualizar observação

div.modal-body(ng-if="visualizarJustificativasCtlr.acaoTramitacao === visualizarJustificativasCtlr.enumAcaoTramitacao.DEFERIR_ANALISE_GEO")
    div.row
        label.col-sm-4 Despacho:
        br
        div.col-sm-12.espacamento-visualizar-obs
            .area
                p(ng-bind-html="visualizarJustificativasCtlr.despacho")


div.modal-body(ng-if="visualizarJustificativasCtlr.acaoTramitacao === visualizarJustificativasCtlr.enumAcaoTramitacao.INDEFERIR_ANALISE_GEO")
    div.row
        label.col-sm-4 Justificativa:
        br
        div.col-sm-12.espacamento-visualizar-obs
            .area
                p(ng-bind-html="visualizarJustificativasCtlr.justificativa")

div.modal-body(ng-if="visualizarJustificativasCtlr.acaoTramitacao === visualizarJustificativasCtlr.enumAcaoTramitacao.EMITIR_NOTIFICACAO")
    div.row
        label.col-sm-4 Descrição da solicitação:
        br
        div.col-sm-12.espacamento-visualizar-obs
            .area
                p(ng-bind-html="visualizarJustificativasCtlr.descricaoSolicitacao")

div.modal-body(ng-if="visualizarJustificativasCtlr.acaoTramitacao === visualizarJustificativasCtlr.enumAcaoTramitacao.SOLICITAR_DESVINCULO")
    div.row
        label.col-sm-4 Justificativa:
        br
        div.col-sm-12.espacamento-visualizar-obs
            .area
                p(ng-bind-html="visualizarJustificativasCtlr.justificativaDesvinculo")

div.modal-body(ng-if="visualizarJustificativasCtlr.acaoTramitacao === visualizarJustificativasCtlr.enumAcaoTramitacao.SOLICITAR_AJUSTES")
    div.row
        label.col-sm-4 Observações:
        br
        div.col-sm-12.espacamento-visualizar-obs
            .area
                p(ng-bind-html="visualizarJustificativasCtlr.observacoes")

div.modal-footer

    button.btn.btn-default.pull-left(ng-click="visualizarJustificativasCtlr.fechar()")
        i.glyphicon.glyphicon-arrow-left
        | &nbsp;Voltar
    

