div(ng-if="modalVisualizacaoProcessoCtrl.verificaLoginAnaliseGeo()")
	label.titulo(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo.length > 0 ) || ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo.length > 0 )") Resultados das análises
	div.info-sem-dados-para-exibir(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo.length === 0 ) && ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo.length === 0 )") 
		i Não há análises para este protocolo
	.panel-group(id="accordion-{{parecer.id}}", ng-if = "modalVisualizacaoProcessoCtrl.pareceres", ng-repeat="parecer in modalVisualizacaoProcessoCtrl.pareceres")
		div(ng-if="modalVisualizacaoProcessoCtrl.condicoesAnalistas(parecer)")
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-analista-geo-{{parecer.id}}', aria-expanded='false', data-target='#dados-analista-geo-{{parecer.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGeo = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGeo = !modalVisualizacaoProcessoCtrl.openedAccordionGeo')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| ANALISTA GEO: {{ parecer.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGeo, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGeo}")
				
				div.collapse(ng-class="{in: parecer.id}", id="dados-analista-geo-{{parecer.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecer.dataParecer }}

						label Situação:
						p {{ parecer.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.setLabelAnalistas(parecer.tipoResultadoAnalise) }}:
						p.i(ng-bind-html="parecer.parecer")

		div(ng-if="modalVisualizacaoProcessoCtrl.condicoesGerentes(parecer)")
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-gerente-tecnico{{parecer.id}}', aria-expanded='false', data-target='#dados-gerente-tecnico-{{parecer.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGerenteTecnico = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGerenteTecnico = !modalVisualizacaoProcessoCtrl.openedAccordionGerenteTecnico')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| GERENTE TÉCNICO: {{ parecer.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGerenteTecnico, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGerenteTecnico}")
				
				div.collapse(ng-class="{in: parecer.id}", id="dados-gerente-tecnico-{{parecer.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecer.dataParecer }}

						label Situação:
						p {{ parecer.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.setLabelGerente(parecer.tipoResultadoAnalise) }}:
						p.i(ng-bind-html="parecer.parecer")

div(ng-if="modalVisualizacaoProcessoCtrl.verificaLoginAnaliseTecnica()")
	label.titulo(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresGerenteAnaliseTecnico !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresGerenteAnaliseTecnico.length > 0 ) || ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresAnalistaTecnico !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresAnalistaTecnico.length > 0 )")
	div.info-sem-dados-para-exibir(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresGerenteAnaliseTecnica === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresGerenteAnaliseTecnica.length === 0 ) && ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresAnalistaTecnico === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.pareceresAnalistaTecnico.length === 0 )") 
		i Não há análises para este protocolo
	.panel-group(id="accordion-{{parecer.id}}", ng-if = "modalVisualizacaoProcessoCtrl.pareceresTecnicos", ng-repeat="parecer in modalVisualizacaoProcessoCtrl.pareceresTecnicos")
		div(ng-if="modalVisualizacaoProcessoCtrl.condicoesAnalistas(parecer)")
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-analista-tecnico-{{parecer.id}}', aria-expanded='false', data-target='#dados-analista-tecnico-{{parecer.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionTecnico = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionTecnico = !modalVisualizacaoProcessoCtrl.openedAccordionTecnico')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| ANALISTA TECNICO: {{ parecer.analistaTecnico.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionTecnico, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionTecnico}")
				
				div.collapse(ng-class="{in: parecer.id}", id="dados-analista-tecnico-{{parecer.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecer.dataParecer }}

						label Situação:
						p {{ parecer.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.setLabelAnalistas(parecer.tipoResultadoAnalise) }}:
						p.i(ng-bind-html="parecer.parecer")

		div(ng-if="modalVisualizacaoProcessoCtrl.condicoesGerentes(parecer)")
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-gerente-{{parecer.id}}', aria-expanded='false', data-target='#dados-gerente-{{parecer.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGerente = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGerente = !modalVisualizacaoProcessoCtrl.openedAccordionGerente')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| GERENTE TÉCNICO: {{ parecer.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGerente, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGerente}")
				
				div.collapse(ng-class="{in: parecer.id}", id="dados-gerente-{{parecer.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecer.dataParecer }}

						label Situação:
						p {{ parecer.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.setLabelGerente(parecer.tipoResultadoAnalise) }}:
						p.i(ng-bind-html="parecer.parecer")

div(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico.length > 0 ) || ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico.length > 0 )")
	label.titulo(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico.length > 0 ) || ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico.length > 0 )")
	div.info-sem-dados-para-exibir(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico.length === 0 ) && ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresDiretorTecnico.length === 0 )") 
		i Não há análises para este protocolo
	.panel-group(id="accordion-{{parecerDiretor.id}}", ng-if = "modalVisualizacaoProcessoCtrl.pareceresDiretor", ng-repeat="parecerDiretor in modalVisualizacaoProcessoCtrl.pareceresDiretor")
		div
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-diretor-tecnico-{{parecerDiretor.id}}', aria-expanded='false', data-target='#dados-diretor-tecnico-{{parecerDiretor.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionDiretor = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionDiretor = !modalVisualizacaoProcessoCtrl.openedAccordionDiretor')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| DIRETOR TÉCNICO: {{ parecerDiretor.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionDiretor, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionDiretor}")
					
				div.collapse(ng-class="{in: parecerDiretor.id}", id="dados-diretor-tecnico-{{parecerDiretor.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecerDiretor.dataParecer }}

						label Situação:
						p {{ parecerDiretor.tipoResultadoAnalise.nome }}

						label Despacho:
						p.i(ng-bind-html="parecerDiretor.parecer")

div(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario.length > 0 ) || ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario.length > 0 )")
	label.titulo(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario.length > 0 ) || ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario !== null && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario.length > 0 )")
	div.info-sem-dados-para-exibir(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario.length === 0 ) && ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.pareceresSecretario.length === 0 )")
		i Não há análises para este protocolo
	.panel-group(id="accordion-{{parecerSecretario.id}}", ng-if = "modalVisualizacaoProcessoCtrl.pareceresSecretario", ng-repeat="parecerSecretario in modalVisualizacaoProcessoCtrl.pareceresSecretario")
		div
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-secretario-{{parecerSecretario.id}}', aria-expanded='false', data-target='#dados-secretario-{{parecerSecretario.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionSecretario = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionSecretario = !modalVisualizacaoProcessoCtrl.openedAccordionSecretario')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| SECRETARIO: {{ parecerSecretario.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionSecretario, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionSecretario}")
				
				div.collapse(ng-class="{in: parecerSecretario.id}", id="dados-secretario-{{parecerSecretario.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecerSecretario.dataParecer }}

						label Situação:
						p {{ parecerSecretario.tipoResultadoAnalise.nome }}

						label Despacho:
						p.i(ng-bind-html="parecerSecretario.parecer")
