div
	label.titulo Resultados das análises
	#accordion-analista-geo.panel-group(ng-if="modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.despacho")
		div
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-analista-geo', aria-expanded='false', data-target='#dados-analista-geo', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGeo = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGeo = !modalVisualizacaoProcessoCtrl.openedAccordionGeo')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| ANALISTA GEO: {{ modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analisesGeo[0].analistasGeo[0].usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGeo, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGeo}")
				#dados-analista-geo
					.panel-body
						label Situação:
						p {{ modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.labelAnalistaGeo }}:
						p.i {{ modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.despacho }}

	#accordion-gerente.panel-group(ng-if="modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.parecerValidacaoGerente && modalVisualizacaoProcessoCtrl.usuarioLogadoCodigoPerfil === modalVisualizacaoProcessoCtrl.GERENTE")
		div
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-gerente', aria-expanded='false', data-target='#dados-gerente', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGerente = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGerente = !modalVisualizacaoProcessoCtrl.openedAccordionGerente')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| GERENTE: {{ modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.usuarioValidacaoGerente.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGerente, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGerente}")
				#dados-gerente
					.panel-body
						label Situação:
						p {{ modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.tipoResultadoValidacaoGerente.nome }}

						label {{ modalVisualizacaoProcessoCtrl.labelGerente }}:
						p.i {{ modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.parecerValidacaoGerente }}
