div#dadosProcesso
  form
    .form-group
      label Justificativa
      textarea.form-control.textarea--no-resize(readonly="", ng-model="modalVisualizacaoProcessoCtrl.processo.analise.analiseTecnica.justificativaCoordenador", ng-if="modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseTecnica.justificativaCoordenador")
      p.i(ng-if="!modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.despacho") Não há nenhuma justificativa
      p.i(ng-if="modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.despacho") {{modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.despacho}}