#modalProcesso

	div.modal-header

		button.close(type='button', ng-click="modalVisualizacaoProcessoCtrl.fechar()")
			span(aria-hidden='true') ×
			span.sr-only Fechar

		h4.modal-title Visualizar Processo

	div.modal-body

		ul.nav.nav-tabs(role="tablist")
			li.active(role="presentation")
				a(data-toggle="tab", data-target="#tabDadosProcesso") Dados do Processo
			li(role="tab")
				a(data-toggle="tab", data-target="#tabCaracterizacao") Solicitação
			li(role="tab")
				a(data-toggle="tab", data-target="#tabEmpreendimento") Empreendedor / Empreendimento
			li(role="tab")
				a(data-toggle="tab", data-target="#tabJustificativaCoordenador") Observações 

		div.row#dadosProcesso
			.col-xs-12.col-md-8
				blockquote.success

					div.row
						label.col-sm-4 Processo:
						span.col-sm-8 {{modalVisualizacaoProcessoCtrl.processo.numero ? modalVisualizacaoProcessoCtrl.processo.numero : modalVisualizacaoProcessoCtrl.processo.numeroProcesso}}

					div.row
						label.col-sm-4 CPF/CNPJ:
						span.col-sm-8 {{modalVisualizacaoProcessoCtrl.processo.cpfEmpreendimento ? modalVisualizacaoProcessoCtrl.processo.cpfEmpreendimento : (modalVisualizacaoProcessoCtrl.processo.empreendimento.pessoa.cpf ? modalVisualizacaoProcessoCtrl.processo.empreendimento.pessoa.cpf : modalVisualizacaoProcessoCtrl.processo.cnpjEmpreendimento) | brCpfCnpj}}

					div.row
						label.col-sm-4 Nome/Razão Social:
						span.col-sm-8 {{modalVisualizacaoProcessoCtrl.processo.denominacaoEmpreendimento}}

		.tab-content

			#tabDadosProcesso.tab-pane.fade.in.active
				include visualizacaoProcessoDadosProcesso

			#tabCaracterizacao.tab-pane.fade
				include visualizacaoProcessoCaracterizacao

			#tabEmpreendimento.tab-pane.fade
				include visualizacaoProcessoEmpreendimento

			#tabJustificativaCoordenador.tab-pane.fade
				include visualizacaoJustificativaCoordenador


	div.modal-footer#footer-modal

		button.btn.btn-default.pull-left(ng-click="modalVisualizacaoProcessoCtrl.fechar()")
			i.glyphicon.glyphicon-arrow-left
			| &nbsp;Fechar