div.panel.panel-success
    table.table.table-striped.table-condensed
        thead
            th.col-md-5 Nome
            th.col-md-3 Tipo
            th.col-md-3 Responsável
            th.col-md-1.text-right Ação
        tbody
            tr(ng-repeat="documento in modalVisualizacaoProcessoCtrl.documentos")
                td.col-md-5 {{ documento.nomeDoArquivo}}
                td.col-md-3 {{ documento.tipo.nome}}
                td.col-md-3 {{ documento.responsavel }}
                td.col-md-1.text-right(style='cursor: pointer;',title="Visualizar anexo",ng-click="modalVisualizacaoProcessoCtrl.downloadDocumentos(documento.id)")
                    i.glyphicon.glyphicon-eye-open.pointer