div
	label.titulo(ng-if="modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo.length > 0 && modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo.length > 0") Resultados das análises
	div.info-sem-dados-para-exibir(ng-if="(modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo.length === 0 ) && ( modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo === null || modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo.length === 0 )") 
		i Não há análises para este protocolo
	.panel-group(id="accordion-analista-geo-{{parecer.id}}", ng-if = "modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo", ng-repeat="parecer in modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresAnalistaGeo")
		div
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-analista-geo-{{parecer.id}}', aria-expanded='false', data-target='#dados-analista-geo-{{parecer.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGeo = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGeo = !modalVisualizacaoProcessoCtrl.openedAccordionGeo')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| ANALISTA GEO: {{ parecer.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGeo, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGeo}")
				div(id="dados-analista-geo-{{parecer.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecer.dataParecer }}

						label Situação:
						p {{ parecer.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.setLabelAnalistaGeo(parecer.tipoResultadoAnalise) }}:
						p.i(ng-bind-html="parecer.parecer")

	.panel-group(id='accordion-gerente-{{parecer.id}}', ng-if="modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo && modalVisualizacaoProcessoCtrl.usuarioLogadoCodigoPerfil === modalVisualizacaoProcessoCtrl.perfis.GERENTE", ng-repeat="parecer in modalVisualizacaoProcessoCtrl.dadosProcesso.analise.analiseGeo.pareceresGerenteAnaliseGeo")
		div
			.panel.panel-default.panel-analise
				a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-gerente-{{parecer.id}}', aria-expanded='false', data-target='#dados-gerente-{{parecer.id}}', ng-init = 'modalVisualizacaoProcessoCtrl.openedAccordionGerente = false', ng-click = 'modalVisualizacaoProcessoCtrl.openedAccordionGerente = !modalVisualizacaoProcessoCtrl.openedAccordionGerente')
					.panel.panel-default
						.panel-heading
							h4.panel-title
								| GERENTE: {{ parecer.usuario.pessoa.nome }}
								i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoProcessoCtrl.openedAccordionGerente, 'glyphicon-chevron-right': !modalVisualizacaoProcessoCtrl.openedAccordionGerente}")
				div(id="dados-gerente-{{parecer.id}}")
					.panel-body

						label Data do parecer:
						p {{ parecer.dataParecer }}

						label Situação:
						p {{ parecer.tipoResultadoAnalise.nome }}

						label {{ modalVisualizacaoProcessoCtrl.setLabelGerente(parecer.tipoResultadoAnalise) }}:
						p.i(ng-bind-html="parecer.parecer")
