div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.COORDENADOR_GEO",
    ng-controller='validacaoAnaliseGeoCoordenadorController as validacaoAnaliseGeoCoordenador', ng-init="validacaoAnaliseGeoCoordenador.init()")
    include coordenadorGeo/validacao-analise-geo
