div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.COORDENADOR",
    ng-controller='validacaoAnaliseTecnicaCoordenadorController as validacaoAnaliseTecnicaCoordenador', ng-init="validacaoAnaliseTecnicaCoordenador.init()")
    include coordenador/validacao-analise-tecnica