//- div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.COORDENADOR_JURIDICO",
//-     ng-controller='validacaoAnaliseJuridicaController as validacaoAnaliseJuridica', ng-init="validacaoAnaliseJuridica.init()")
//-     include coordenadorJuridico/validacao-analise

//- div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.COORDENADOR_TECNICO",
//-     ng-controller='validacaoAnaliseTecnicaController as validacaoAnaliseTecnica', ng-init="validacaoAnaliseTecnica.init()")
//-     include coordenadorTecnico/validacao-analise

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.GERENTE",
    ng-controller='validacaoAnaliseGeoGerenteController as validacaoAnaliseGeoGerente', ng-init="validacaoAnaliseGeoGerente.init()")
    include gerenteTecnico/validacao-analise-geo