div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.GERENTE",
    ng-controller='validacaoAnaliseTecnicaGerenteController as validacaoAnaliseTecnicaGerente', ng-init="validacaoAnaliseTecnicaGerente.init()")
    include gerenteTecnico/validacao-analise-tecnica