div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.GERENTE",
    ng-controller='validacaoAnaliseGeoGerenteController as validacaoAnaliseGeoGerente', ng-init="validacaoAnaliseGeoGerente.init()")
    include gerenteTecnico/validacao-analise-geo
