div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === validacaoAnalise.perfis.COORDENADOR",
    ng-controller='validacaoAnaliseGeoCoordenadorController as validacaoAnaliseGeoCoordenador', ng-init="validacaoAnaliseGeoCoordenador.init()")
    include coordenador/validacao-analise-geo
