doctype html
html(lang="pt-br")
  head
    meta(charset='utf-8')
    title Análise - Licenciamento Ambiental - Amazonas
    link(rel='stylesheet' href='${templatePath}/style/estilo.css')

  body
    div.cabecalho
      div
        img.logo(src='/public/app/images/brasao_am.png' height="100" width="70")
        br
        span(style="text-align:center;") GOVERNO DO ESTADO DO Amazonas
        br
        span(style="text-align:center;")  INSTITUTO DE PROTEÇÃO AMBIENTAL DO AMAZONAS - IPAAM