h3 Em análise jurídica

filtro-processos(paginacao="cxEntCoordenadorJuridico.paginacao", 
    atualizar-lista="cxEntCoordenadorJuridico.atualizarListaProcessos",
    atulizar-paginacao="cxEntCoordenadorJuridico.atualizarPaginacao")