include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

+resumo-processo('validacaoAnaliseTecnica.analiseTecnica.analise.processo','validacaoAnaliseTecnica.exibirDadosProcesso()', true, 'validacaoAnaliseTecnica.exibirAnaliseJuridica()')