.botoes-analise-geo {

	position: absolute;
	bottom: 3%;
	width: 96%;
}

.no-padding {

	padding-right: 0px;
	padding-left: 0px;
}

.error-button {
	color: @vermelho-erro;
	border: solid 1px;
}

.observacao {
	margin-top: 10px;
	font-size: 12px;
}

.card-observacao {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	margin: 0 0 10px 0;
}

.icone-excluir {
	margin-top: 10px;
}

.icone {
	cursor: pointer;
}

.analise-manejo {
	font-size: 14px;
}

.rodape-analise {
	margin-top: 132px;
	margin-bottom: 10px;
}

.abas {

	font-size: 12px !important;
}

.card-analise-manejo {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	margin: 0 0 10px 0;
}

.linha-destaque {
	background-color: #eee;
}

.analise-temporal {
	margin-top: 10px;
	margin-bottom: 10px !important;
}

.coluna-dupla {
	vertical-align: middle !important;
	border-left: solid 2px #ddd;
}

.card-analise-manejo {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	margin: 0 0 10px 0;
}

.coluna-dupla-divisao {
	border-left: solid 2px #ddd;
}

.botoes-cadastro-manejo {
	margin-bottom: 10%;
}

.error-botao {
	border-color: #c50000;
	outline-color: #c50000;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(113,0,0,.2);
}