#modal-parecer-restricao {

	#mapa-parecer-restricao {
		width: 100%;
		height: 500px;
	}

	.title-textarea {
		margin-top: 20px;
	}

	textarea {
		resize: none;
		width: 100%;
		height: 100px;
	}

}
#localizacaoGeografica {

	.temInconsistencia {
		color: red;
	}
}

#etapa-conclusao{

	.text-cloneParecer{
		margin-bottom:10px;
		font-size:11px;
	}

	.display-clone{
		display:inline-flex;
	}

	.textArea-clone{
		width: 200px; 
		height: 35px;
		border-radius: 3px;
		resize: none;
		margin-right: 7px;
	}
	.tamanho-botaoClone{
		width: 150px;
		&.disabled {
			pointer-events: none;
			cursor: not-allowed;
		}
	}
}
.etapa-anterior{
	color: #536e01;
	font-weight: bold;
}
.etapa-proxima{
	color: #536e01;
	font-weight: bold;
}
#camposAnaliseGeo{

	.label-parecer{
		font-size: 13px;
	}
	.campos-parecer{
		margin: 0px; 
		width: 811px; 
		height: 120px;
	}
}

#camposAnaliseTecnica{

	.label-parecer{
		font-size: 13px;
	}
	.campos-parecer{
		margin: 0px; 
		width: 811px; 
		height: 120px;
	}
}

#localizacaoGeografica{
	font-size:13px;
}

#conclusao{
	font-size:13px;

	.posicao-principal{
		padding:15px;
		padding-left: 0px; 
	}

	.posicao-conteudo{
		position:center; 
		border:1px solid; 
		margin: 0px; 
		width: 850px; 
		height: 70px; 
		padding:22px;
	}

	.posicao-conteudo-secretario{
		position:center; 
		border:1px solid; 
		margin: 0px; 
		width: 820px; 
		height: 70px; 
		padding:22px;
	}

	.posicao-primeiroItem{
		padding-left: 30%;
	}

	.posicao-primeiroItem-gerente{
		padding-left: 13%;
	}
	.posicao-primeiroItem-diretor{
		padding-left: 15%;
	}

	.posicao-primeiroItem-juridico{
		padding-left: 25%;
	}

	.tamanho-obs{
		margin: 0px;
		width: 850px; 
		height: 150px;		
	}
}
.posicao-avancar-concluir{
	position:absolute; 
	bottom:15px; 
	right:15px;
}
.posicao-cancelar-gerente{
	width: 115px;
	position:absolute; 
	bottom:15px; 
}

.posicao-avancar-concluir-gerente{
	position:absolute; 
	bottom:15px; 
	right:15px;
	width: 115px;
}

.btn-assinar-licenca{
	position:absolute; 
	bottom:15px; 
	right:15px;
	width: 230px;
}

.btn-cancelar-suspender-licenca{
	position:absolute; 
	bottom:15px; 
	right:15px;
	width: 300px;
}

.posicao-avancar-gerente{
	position:absolute; 
	bottom:17px; 
	right:15px;
	width: 115px;
}

.posicao-voltar{
	position:absolute; 
	bottom:15px; 
	right:125px;
}
.posicao-voltar-gerente{
	position:absolute; 
	bottom:15px; 
	right:145px;
	width: 115px;
}

.troca-etapa{
	margin: 0px; 
	width: 150px;
}

.obrigatorio{
	&:after{
		content: '*';
		color: @vermelho-erro;
		margin-left: 5px;
	}
}

.error{
	border-color: #d62c1a !important;
}

.error-summernote{
	border-color: #d62c1a !important;
	border: 1px solid;
	border-radius: 5px;
}

#mapa-restricoes{
	width: 100%;
	height: 500px;
}

#mapa-restricoes-info{
	i.glyphicon{
		cursor: pointer;
	}
	i.glyphicon:hover{
		opacity: 0.7;
	}
}
#lista-restricoes{
	i.glyphicon{
		cursor: pointer;
	}
	i.glyphicon:hover{
		opacity: 0.7;
	}
	#accordion {
		
		.atendimento-notificacao {
			display: flex;

			.check-atendimento-notificacao {
				display: inline-grid;
				margin-left: 10px;

				.checkbox-inline{
					margin-left: 0;
				}

				.retificacao-com-geo {
					margin-left: 18px;
					display: inherit;

					.radio-inline {
						margin: 0;
					}
				}
			}
		}
	}
}

.restricao-adicionada {
	color: @vermelho-erro;
}

.collapse-atividade {
	margin-top: 20px;
}

.aba-clicavel {
	cursor: pointer;
}

//Modal de adição de inconsistência
.label-modal {
	font-size:13px;
	margin-top: 15px;
}

.span-modal {
	font-size:13px;
}

.textarea-modal {
	margin: 0px;
	height: 88px;
	width: 100%;
}

.area-modal {
	width: 100%;
}

.button-upload-modal{
	margin-bottom: 5px;
	margin-top: 25px;
}

.collapse-atividade {
	margin-top: 20px;
}

.float-right{
	float: right;
}

.label-analista {
	margin-bottom: 10px;
}

.parecer-diretor {
	margin-left: 15px;
}

.panel-analise {
	margin-bottom: 20px !important;
}

.area-info {
	border: solid 1px #ccc;
	border-radius: 5px;
	margin: 0;
	height: 50px;
	margin-bottom: 30px;
}

.table-empreendimento {
	border: 1px solid #d0cbcb;
	margin-bottom: 30px;
}

.icon-open-info {
	margin-top: 16px;
	float: right;
}

.icon-eye {
	float: right;
}

.icon-area-info {
	margin-top: 16px;
    width: 0;
}

.label-area-info {
	margin-top: 16px;
}

.label-situacao {
	margin-bottom: 8px;
}

.title-info {
	font-weight: bold;
}

.icon-download {
	margin-right: 4px;
}

.text-area{
	width: 100%;
}

.btn-download{
	margin-bottom: 5px;
	width: 140px;
}

#camposAnaliseGeo {
	margin-top: 20px;
}

.area {
	min-height: 100px;
	border: solid 1px #A9A9A9;
	padding: 5px;
	background-color: #EBEBE4;
	margin-bottom: 25px;
}

.table-docs {
	margin-top: 30px;
}

.margin-inconsistencia{
    margin-top: 30px;
    margin-bottom: 25px;
}

.espacamento-visualizar-obs{
	padding:30px;
}
