@import "variaveis.less";

.btn-plain.ativo ,
.btn-plain:focus,
.btn-plain:active {
    
    box-shadow: none;
    outline: 0;
}

.checked {
    
    display:none;
}

.ativo .checked {
    
    display:inline-block;
}

.ativo .unchecked {
    
    display:none;
}

.valido {

    color: lighten(@brand-primary,20%);
}

.invalido {

    color: @vermelho-erro;
}

.nao-marcado {

    color: @gray;
}