.glyphicon--with-right-margin {

    margin-right: 5px;
}

.btn {

    font-size:14px;
    padding:4px 6px;
}

@media (min-width: 768px) {

    .botaoProximaEtapa {
        font-size:14px;
        padding:4px 6px;
        white-space: normal;
    }
}