@import "variaveis.less";

.main-container{
	background-color: @body-bg;
	min-height: ~"calc(100% - @{header-height} - @{footer-height} - @{menu-height})";
	box-shadow: 0px 5px 25px 9px #D5D5D5;
	margin: 0 auto 0 auto;
	padding-left: @container-padding;
	padding-right: @container-padding;
	padding-top: 35px;
	padding-bottom: @footer-height + @footer-height;
	margin-top: @menu-height;
}

.main-container__menu {
	padding-left: 0px;
    padding-right: 0px;
    width: 21%;
}

.main-container__views {

    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: @cinza-claro;

    padding-top: 20px;
	min-height: 600px;
    margin-left: -1px;
    width: 79%;
}

.main-container__parecer-orgao {

	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: @cinza-claro;

	padding-top: 20px;
	min-height: 600px;
}