@margin-xs: 7px;
@margin-sm: 14px;
@margin-md: 28px;


.margin-top-sm {

    margin-top: @margin-sm;
}

.margin-top-md {

    margin-top: @margin-md;
}


.margin-bottom-sm {

    margin-top: @margin-sm;
}

.margin-bottom-md {

    margin-bottom: @margin-md;
}