.label-item-restricao {
    font-size: 16px;
}

.label-documentos, .label-manifestacao{
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.modal-header-comunicado {
    padding-left: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.text-manifestacao {
    font-size: 14px;
}

.title-manifestacao {
    font-size: 14px;
}

.border-body, .border-head {
    border: solid 1px #ddd;
}

.manifestacao-orgao {
    display: 'flow-root';
}

.table-anexo {
    padding-top: 20px;
}