.dropzone {
	
	text-align: center;
	padding: 30px;
	font-size: 22px;
	border-radius: 5px;
	cursor:pointer;
	border: dotted 2px #888;
	background-color: #F5F5F5;
	margin: 30px 0;
	
	i {
		font-size:35px;
	}

	a {
        cursor: pointer;
    }
    p span {
    	display: block;
    	margin-top: 8px;
    	font-size: 0.7em;
    }

}

.progress-bar {
	background-color: green;
}

.file-action {
	margin-left: 5px;
	a {
		cursor: pointer;
		color: #799079;
	}

	a:hover {
		color: #526352;
		text-decoration: none;
	}
}

/** TODO - oisouothiago - Aprimorar o CSS do componente de abrir modal **/
.modal-open-icon {
    cursor: pointer;
}

.modal-open-text {
    cursor: pointer;
    text-decoration: none;
}

.modal-open-text:hover {
    text-decoration: none;
}