#vistoria {

	padding: 10px;
	display: flex;
	flex-direction: column;

	.vistoria-analista-tecnico {

		display: flex;
		flex-direction: row;
		margin-bottom: 10px;

		.nome {

			margin-left: 5px;

		}

	}

	.vistoria-radio {

		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
		
		.titulo {

			margin-right: 10px;

		}
		
	}

	.vistoria-realizada {
		
		.upload {

			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 10px;

		}

		.inconsistencia {

			padding: 10px;
			border: 1px solid #ddd;
			border-radius: 4px;
			box-shadow: 0 1px 1px rgba(0,0,0,.05);
			margin-bottom: 10px;

			i.item {

				font-size: 15px;
				margin-left: 5px;

			}

		}

		.data-vistoria {

			display: flex;
			flex-direction: row;
			margin-bottom: 10px;

			.data {

				margin-right: 20px;

			}

			.hora {

				display: flex;
				flex-direction: column;

			}

		}

		.equipe {

			margin-bottom: 10px;

		}

	}

}

.arquivosAdicionados {

	margin-top: 5px;
	margin-bottom: 10px;

}
