div
    h1 Parecer jurídico

    section.margin-bottom-md
        
        header.row
                
            h3.col-md-6 Resumo do processo

            .col-md-6(style="margin-top: 20px; margin-bottom: 10px")
                .btn-group.pull-right(role="group")
                    button.btn.btn-default
                        i.glyphicon.glyphicon-th-list.glyphicon--with-right-margin
                        | Legislações
                    button.btn.btn-default
                        i.glyphicon.glyphicon-eye-open.glyphicon--with-right-margin
                        | Dados do processo

        div

            div
                label.not-bold(for="texto_numero_processo") Número: 
                span#texto_numero_processo
                    strong {{ctrl.processo.numero}}
            div
                label.not-bold(for="texto_cpf_ou_cnpj") CPF/CNPJ: 
                span#texto_cpf_ou_cnpj
                    strong {{ctrl.processo.empreendimento.pessoa.cpf}}
            div
                label.not-bold(for="texto_nome_empreendimento") Empreendimento: 
                span#texto_nome_empreendimento
                    strong {{ctrl.processo.empreendimento.denominacao}}
            div
                label.not-bold(for="texto_municipio_estado") Município: 
                span#texto_municipio_estado   
                    strong {{ctrl.processo.empreendimento.municipio.nome}} / {{ctrl.processo.empreendimento.municipio.estado.codigo}} 
 
    section.margin-bottom-md

        form
            div.form-group
                label(for="input_numero_processo") Número do processo para clonar parecer
                div.input-group
                    input#input_numero_processo(type="text", class="form-control", placeholder="Digite o número do processo do qual você deseja clonar o parecer")
                    span.input-group-btn
                        button.btn.btn-default(type="button") 
                            i.glyphicon.glyphicon-refresh.glyphicon--with-right-margin
                            | Clonar parecer

    section.margin-bottom-md

        h3 Análise jurídica

        div.margin-top-md
            label.not-bold(for="texto_nome_consultor_juridico") Consultor jurídico:  
            span#texto_nome_consultor_juridico
                strong {{usuarioSessao.nome}}

        hr

        form

            .form-group
                textarea#texto_parecer.form-control(froala, ng-model="ctrl.analiseJuridica.parecer")

            .form-group
                button.btn.btn-default(type="file", ngf-select="ctrl.upload($file)", accept="application/pdf", ngf-pattern="application/pdf")
                    i.glyphicon.glyphicon-open.glyphicon--with-right-margin
                    | Anexar arquivo ao parecer

        table.table.table-condensed(ng-if="ctrl.documentosParecer.length > 0")

            thead

                tr
                    th Arquivo anexado
                    th.text-right Ações

            tbody

                tr(ng-repeat="documento in ctrl.documentosParecer")

                    td {{documento.caminho}}
                    td.text-right 
                        a.btn
                            i.glyphicon.glyphicon-save

                        a.btn
                            i.glyphicon.glyphicon-trash

        table.table.table-condensed

            thead

                tr
                    th.col-md-8 Documento
                    th.col-md-3.text-center Validar
                    th.col-md-1.text-right Ações

            tbody

                tr(ng-repeat="documento in ctrl.documentosProcesso")

                    td.col-md-8 {{documento.tipo.nome}}
                    td.col-md-3.text-center
                    td.col-md-1.text-right 
                        a.btn(ng-click="ctrl.downloadDocumentoLicenciamento(documento.id)")
                            i.glyphicon.glyphicon-download

        
        form.text-center.margin-bottom-md.margin-top-md
            label.radio-inline(for="radio_parecer_deferido")
                input#radio_parecer_deferido(type="radio", name="parecer", value="DEFERIDO", ng-model="ctrl.analiseJuridica.tipoResultadoAnalise.id") 
                | Deferido
            label.radio-inline(for="radio_parecer_indeferido")
                input#radio_parecer_indeferido(type="radio", name="parecer", value="INDEFERIDO", ng-model="ctrl.analiseJuridica.tipoResultadoAnalise.id") 
                | Indeferido
            label.radio-inline(for="radio_parecer_notificacao")
                input#radio_parecer_notificacao(type="radio", name="parecer", value="EMITIR_NOTIFICACAO", ng-model="ctrl.analiseJuridica.tipoResultadoAnalise.id") 
                | Emitir notificação

    section.margin-bottom-md
    
        button.btn.btn-default.col-md-2.col-md-offset-0
            i.glyphicon.glyphicon-ban-circle.glyphicon--with-right-margin
            | Cancelar
        
        button.btn.btn-success.col-md-2.col-md-offset-5
            i.glyphicon.glyphicon-edit.glyphicon--with-right-margin
            | Salvar
        
        button.btn.btn-success.col-md-2.col-md-offset-1
            i.glyphicon.glyphicon-check.glyphicon--with-right-margin
            | Concluir
            

        






