div.modal-header

    button.close(type='button', ng-click="visualizarAjustesController.fechar()")
        span(aria-hidden='true') ×
        span.sr-only Fechar

    h4.modal-title Visualizar solicitação de ajustes do Gerente
    div(growl inline="true" reference='5')
  

div.modal-body

    div#justificativa-desvinculo
        div
            span.pull-center.visualizar-justificativa É necessário ajustar a análise, conforme a justificativa do gerente.
            br
            br
            label.label-justificativa Justificativa:
            br
            textarea.text-justificativa(name="justificativa", ng-model="visualizarAjustesController.parecerValidacaoGerente", id='justificativa', ng-disabled="true")

div.modal-footer

    button.btn.btn-default.pull-left(ng-click="visualizarAjustesController.fechar()")
        i.glyphicon.glyphicon-arrow-left
        | &nbsp;Voltar
    
