nav
	ul.menu-principal
		li(ng-repeat="item in $ctrl.itens")
			a.menu-principal__item(ng-click="$ctrl.irPara(item.url())", ng-if="item.visivel()", ng-class="{ 'menu-principal__item--selecionado' : item.estaSelecionado() }")
				i(ng-class="item.icone")
				| {{item.titulo}}
				span.badge.pull-right(ng-if="item.countItens")
					| {{item.totalItens ? item.totalItens : 0}}
		