div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === aguardandoValidacaoListagem.perfis.COORDENADOR_JURIDICO",
    ng-controller='aguardandoValidacaoJuridicoListController as listagem')
    include coordenadorJuridico/aguardando-validacao-listagem

div(ng-if="usuarioSessao.usuarioEntradaUnica.perfilSelecionado.codigo === aguardandoValidacaoListagem.perfis.COORDENADOR_TECNICO",
    ng-controller='aguardandoValidacaoTecnicaListController as listagem')
    include coordenadorTecnico/aguardando-validacao-listagem