div(ng-if="usuarioSessao.perfilSelecionado.id === aguardandoValidacaoListagem.perfis.COORDENADOR_JURIDICO", 
    ng-controller='aguardandoValidacaoJuridicoListController as listagem')
    include coordenadorJuridico/aguardando-validacao-listagem