.modal-header
    h4.modal-title Visualizar Inconsistência

.body
    label.tituloTexto Categoria da Inconsistência:
    span.descricao {{ $ctrl.inconsistencia.categoria }}
    
    div(ng-if="$ctrl.inconsistencia.categoria !== 'PROPRIEDADE'")
        label.tituloTexto Item da Restrição:
        p
            span.descricao {{ $ctrl.restricao.item }}

    label.tituloTexto Descrição da Inconsistência:
    span.descricao {{ $ctrl.inconsistencia.descricaoInconsistencia }}

    label.tituloTexto Tipo da Inconsistência:
    span.descricao {{ $ctrl.inconsistencia.tipoInconsistencia }}
    hr

    table.area-modal.table.table-condensed(ng-if="$ctrl.inconsistencia.anexos.length > 0")

            thead

                tr
                    th.col-md-10 Arquivo anexado
                    th.col-md-2.text-right Ações

            tbody

                tr(ng-model="$ctrl.anexo",ng-repeat="anexo in $ctrl.inconsistencia.anexos")

                    td.col-md-10 {{anexo.nomeDoArquivo}}
                    td.col-md-2.text-right
                        a.d-inline.margin-right-xs(style='cursor: pointer;', ng-click="$ctrl.baixarDocumentoInconsistencia(anexo)")
                            i.glyphicon.glyphicon-eye-open

    .footer
        button.btn.btn-default.fechar(ng-click="$ctrl.fechar()")
            i.glyphicon.glyphicon-remove
            |  Fechar