<!DOCTYPE html>
<html lang="en">
<head>
    <title>Análise - Licenciamento Ambiental - Pará</title>
    <link rel="stylesheet" href="${templatePath}/style/estilo.css">
    <meta charset="UTF-8">
</head>
<body>
<table class="cabecalho">
    <!-- Template inicial para simular o grid de colunas-->
    <tr class="estrutura">
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
        <td style="width: 10%"></td>
    </tr>
    <tr>
        <td class="text-center transparent-cell" colspan="1"><img class="logo" src="/public/app/images/brasao_pa.png"></td>
        <td class="text-center transparent-cell" colspan="9">GOVERNO DO ESTADO DO PARÁ<br>SECRETARIA DE MEIO AMBIENTE E SUSTENTABILIDADE - SEMAS/PA</td>
    </tr>
</table>
</body>
</html>