div(ng-if='isRoute("/parecer-orgao")', ng-controller='parecerOrgaoController')
    button.btn.btn-default(ng-click="showMensagem()")
        i.glyphicon.glyphicon-arrow-left
        | &nbsp;Click aqui!