#modalProcesso

	div.modal-header

		button.close(type='button', ng-click="modalVisualizacaoProcessoManejoCtrl.fechar()")
			span(aria-hidden='true') ×
			span.sr-only Fechar

		h4.modal-title Visualizar Protocolo Manejo

	div.modal-body.modalVisualizarProcessoManejo

		div.row#dadosProcessoManejo
			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Número protocolo:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.numeroProcesso}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Tipologia:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.atividadeManejo.tipologiaManejo.nome}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Município:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.municipio.nome}}/{{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.municipio.estado.nome}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Atividade:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.atividadeManejo.nome}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Licença:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.tipoLicenca.nome}}

			.col-xs-12.margin-top-md
				h5.margin-bottom-sm Dados do imóvel

			.col-xs-12
				div.row
					label.col-xs-4.col-md-2  CAR:
					span.col-xs-8.col-md-10 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.imovel.registroCar}}

			.col-xs-12
				div.row
					label.col-xs-4.col-md-2  Status:
					span.col-xs-8.col-md-10 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.imovel.status}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Nome do proprietário e/ou Detentor:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.denominacao}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Nome do imóvel:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.imovel.nome}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 CPF/CNPJ:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.cpfCnpj | brCpfCnpj}}

			.col-xs-12.col-md-6
				div.row
					label.col-sm-4 Município:
					span.col-sm-8 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.imovel.municipio.nome}}/{{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.imovel.municipio.estado.nome}}

			.col-xs-12
				div.row
					label.col-sm-4.col-md-2  Descrição de acesso:
					span.col-sm-8.col-md-10 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.empreendimento.imovel.descricaoAcesso}}

			div(ng-if="modalVisualizacaoProcessoManejoCtrl.dadosProcesso.justificativaIndeferimento")
				.col-xs-12.margin-top-md
					h5.margin-bottom-sm Protocolo indeferido

				.col-xs-12
					div.row
						label.col-sm-4.col-md-2  Justificativa:
						span.col-sm-8.col-md-10 {{modalVisualizacaoProcessoManejoCtrl.dadosProcesso.justificativaIndeferimento}}

	div.modal-footer#footer-modal

		button.btn.btn-default.pull-left(ng-click="modalVisualizacaoProcessoManejoCtrl.fechar()")
			i.glyphicon.glyphicon-arrow-left
			| &nbsp;Fechar