include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

+resumo-processo('validacaoAnaliseGeoGerente.analiseGeo.analise.processo','validacaoAnaliseGeoGerente.exibirDadosProcesso()')

section.margin-bottom-md

	.row
		div(style="padding:15px;")
			div.modal-body

			ul.nav.nav-tabs(role="tablist")
				li#localizacaoGeografica.active.aba-clicavel(role="presentation")
					a(data-toggle="tab", data-target="#tabAnaliseGeo") Análise Geo
					
				li#conclusao.aba-clicavel(role="tab")
					a(data-toggle="tab", data-target="#tabValidacaoDaAnalise") Validação da Análise

			.tab-content
				#tabAnaliseGeo.tab-pane.fade.in.active
					include tab-analise-geo

				#tabValidacaoDaAnalise.tab-pane
					include tab-validacao-analise

section.margin-bottom-xl

	button.btn.btn-default.col-md-2(ng-click="validacaoAnaliseGeoGerente.cancelar()")
		i.glyphicon.glyphicon-ban-circle.glyphicon--with-right-margin
		| Cancelar
	
	button.btn.btn-success.col-md-2.col-md-offset-8(ng-click="validacaoAnaliseGeoGerente.concluir()")
		i.glyphicon.glyphicon-check.glyphicon--with-right-margin
		| Concluir                    
