div(ng-if="usuarioSessao.perfilSelecionado.id === validacaoAnalise.perfis.APROVADOR", 
    ng-controller='validacaoAnaliseAprovadorController as validacaoAnaliseAprovador', ng-init="validacaoAnaliseAprovador.init()")
    include aprovador/validacao-analise
