div(ng-controller='analiseGeoController as geoCtrl', ng-init='geoCtrl.init(ctrl.restricoes, ctrl.analiseTecnica)')
	section.margin-bottom-md

		header.row

		.row
			.col-md-12

				div.margin-bottom-sm(ng-if="ctrl.imovel")  
					span.d-inline-block.margin-right-xs CAR vinculado:
					strong {{ctrl.imovel.codigo}} 
					span - {{ctrl.imovel.nome}} - {{ctrl.imovel.municipio.nome}}-{{ctrl.imovel.municipio.estado.codigo}}

				div.margin-bottom-md
					button.btn.btn-sm.btn-default.pull-right(ng-click="ctrl.visualizarFichaImovel()")
						i.glyphicon.glyphicon-search
						| &nbsp;Ficha do Imóvel

				h5 Localização do empreendimento

				#mapa-restricoes
				br
				#lista-restricoes
					#accordion.panel-group
						div
							a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', data-target='#meusDados')
								.panel.panel-default
									.panel-heading
										h4.panel-title
											| Meus Dados
							#meusDados.collapse
									table.table.table-condensed
										thead
											tr
												th Nome
												th.text-right #

										tbody
											tr(ng-repeat='(key, layer) in meusDados.getLayers()')
												td.col-md-11(ng-if='layer.feature.id === "meu-imovel"') Minha área do imóvel
												td.col-md-11(ng-if='layer.feature.id === "meu-empreendimento"') Meu empreendimento
												td.col-md-11(ng-if='layer.feature.id === "municipio-empreendimento"') Município do empreendimento
												td.col-md-1.text-right
													i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida')
													i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida')
													| &nbsp;&nbsp;
													i.glyphicon.glyphicon-screenshot(ng-click='visualizarLayer(layer, layer.color)')
						
						div.margin-top-xs(ng-repeat='(key, groupLayer) in layersRestricoes')
							a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', data-target='#outrosDados')
								.panel.panel-default
									.panel-heading
										h4.panel-title
											| {{key}}
							#outrosDados.collapse
								table.table.table-condensed
									thead
										tr
											th Nome
											th.text-right Restrição
											th.text-right #

									tbody
										tr(ng-repeat='(key, layer) in groupLayer.getLayers()')
											td.col-md-6 {{layer.feature.properties.descricaoLayer | textoTruncado: 30:4}}
											td.col-md-4.text-right {{tratarRestricao(layer.feature.properties)}}
											td.col-md-2.text-right
												i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida', title='Exibir geometria')
												i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida', title='Esconder geometria')
												| &nbsp;&nbsp;
												i.glyphicon.glyphicon-screenshot(ng-click='visualizarLayer(layer, groupLayer.color)', , title='Centralizar na geometria')
												| &nbsp;&nbsp;
												i.glyphicon.glyphicon-alert(ng-click='adicionarRestricao(layer)', title='Adicionar parecer da restrição', ng-class="{'restricao-adicionada': layer.feature.properties.parecer}")