div#modal-parecer-restricao
	div.modal-header

		button.close(type='button', ng-click="modalCtrl.cancelar()")
			span(aria-hidden='true') ×
			span.sr-only Fechar

		h3.modal-title Parecer de restrição geográfica

	div.modal-body

		div
			label.not-bold.margin-right-xs(for="origem") Origem: 
			span#origem
				strong {{modalCtrl.restricao.feature.properties.descricaoLayer}} ({{modalCtrl.restricao.feature.properties.descricao}})
		div
			label.not-bold.margin-right-xs(for="texto_nome_empreendimento") Restrição: 
			span#texto_nome_empreendimento
				strong {{modalCtrl.tratarDistancia(modalCtrl.restricao.feature.properties.distancia)}}

		div#mapa-parecer-restricao

		div.title-textarea
			label.not-bold Parecer de restrição geo:
		div
			textarea(ng-model='modalCtrl.parecer', required) 

	div.modal-footer#footer-modal

		button.btn.btn-default.pull-left(ng-click="modalCtrl.cancelar()")
			i.glyphicon.glyphicon-arrow-left
			| &nbsp;Cancelar
		button.btn.btn-success.pull-right(type="submit" ng-click="modalCtrl.vincular()")
			i.glyphicon.glyphicon-share
			| &nbsp;Confirmar parecer