include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

+resumo-processo('validacaoAnaliseGeoGerente.analiseGeo.analise.processo','validacaoAnaliseGeoGerente.exibirDadosProcesso()')

section.margin-bottom-md

	.row
		div(style="padding:15px;")
			div.modal-body

			ul.nav.nav-tabs(role="tablist")
				li#localizacaoGeografica.active.aba-clicavel(role="presentation")
					a(data-toggle="tab", data-target="#tabAnaliseGeo") Análise Geo
					
				li#conclusao.aba-clicavel(role="tab")
					a(data-toggle="tab", data-target="#tabValidacaoDaAnalise") Validação da Análise

			.tab-content
				#tabAnaliseGeo.tab-pane.fade.in.active
					include tab-analise-geo

				#tabValidacaoDaAnalise.tab-pane
					include tab-validacao-analise

	//- h3 Análise técnica

	//- div.margin-top-md
	//- 	label.not-bold.margin-right-xs(for="texto_nome_analista_tecnico") Analista técnico:  
	//- 	span#texto_nome_analista_tecnico
	//- 		strong {{validacaoAnaliseGeoGerente.analiseTecnica.analistasTecnicos[0].usuario.pessoa.nome}}
	//- hr

	//- section(ng-if="validacaoAnaliseGeoGerente.analiseTecnica.analiseTecnicaRevisada && validacaoAnaliseGeoGerente.analiseTecnica.analiseTecnicaRevisada.parecerValidacao")
	//- 	label Parecer da validação:

	//- 	div(class="alert alert-warning", ng-bind-html="validacaoAnaliseGeoGerente.analiseTecnica.analiseTecnicaRevisada.parecerValidacao")

	//- h4 {{validacaoAnaliseGeoGerente.analiseTecnica.tipoResultadoAnalise.nome}}

	//- fieldset.panel.panel-default
	//- 	div.panel-body
	//- 		p(ng-bind-html="validacaoAnaliseGeoGerente.analiseTecnica.parecer")

	//- table.table.table-condensed

	//- 	thead

	//- 		tr
	//- 			th Arquivo anexado
	//- 			th.text-right Ações

	//- 	tbody

	//- 		tr(ng-repeat="documento in validacaoAnaliseGeoGerente.analiseTecnica.documentos")

	//- 			td {{documento.nome}}
	//- 			td.text-right 
	//- 				a.btn(ng-if="documento.id", title="Baixar documento", ng-click="validacaoAnaliseGeoGerente.downloadDocumentoAnalise(documento.id)")
	//- 					i.glyphicon.glyphicon-save

	//- .row(ng-show="!validacaoAnaliseGeoGerente.analiseTecnica.documentos || validacaoAnaliseGeoGerente.analiseTecnica.documentos.length == 0")
	//- 	.col-md-12
	//- 		p.empty-result Não existem arquivos anexados.            

	//- form(name="formularioValidacao", novalidate)
	//- 	.form-group.text-center.margin-bottom-md.margin-top-md
	//- 		div(ng-class="{'input-radio-error': formularioValidacao.$submitted && formularioValidacao.resultado.$error.required}")
	//- 			label.radio-inline(for="radio_parecer_validado")
	//- 				input#radio_parecer_validado(type="radio", name="resultado", ng-value="validacaoAnaliseGeoGerente.TiposResultadoAnalise.PARECER_VALIDADO", 
	//- 					ng-model="validacaoAnaliseGeoGerente.analiseTecnicaValidacao.idTipoResultadoValidacaoGerente", required) 
	//- 				| Parecer validado
	//- 			label.radio-inline(for="radio_solicitar_ajustes")
	//- 				input#radio_solicitar_ajustes(type="radio", name="resultado", ng-value="validacaoAnaliseGeoGerente.TiposResultadoAnalise.SOLICITAR_AJUSTES", 
	//- 					ng-model="validacaoAnaliseGeoGerente.analiseTecnicaValidacao.idTipoResultadoValidacaoGerente", required) 
	//- 				| Solicitar ajustes
	//- 			label.radio-inline(for="radio_parecer_nao_validado")
	//- 				input#radio_parecer_nao_validado(type="radio", name="resultado", ng-value="validacaoAnaliseGeoGerente.TiposResultadoAnalise.PARECER_NAO_VALIDADO", 
	//- 					ng-model="validacaoAnaliseGeoGerente.analiseTecnicaValidacao.idTipoResultadoValidacaoGerente", required) 
	//- 				| Parecer não validado
	//- 		+inputErrors('formularioValidacao', 'resultado', 'required')    

	//- 	.form-group(ng-if="!!validacaoAnaliseGeoGerente.analiseTecnicaValidacao.idTipoResultadoValidacaoGerente")
	//- 		label.control-label(ng-class="{'obrigatorio': validacaoAnaliseGeoGerente.isObrigatorio()}") 
	//- 			| {{validacaoAnaliseGeoGerente.isParecerNaoValidado() ? 'Justificativa:' : 'Considerações:'}}

	//- 		div(text-angular, ng-model="validacaoAnaliseGeoGerente.analiseTecnicaValidacao.parecerValidacaoGerente", name="parecer",
	//- 			ta-text-editor-class="form-control myform2-height", 
	//- 			ta-html-editor-class="form-control myform2-height",
	//- 			ng-required="validacaoAnaliseGeoGerente.isObrigatorio()",
	//- 			ng-class="{'wysiwyg-error': formularioValidacao.$submitted && formularioValidacao.parecer.$error.required}")

	//- 		+inputErrors('formularioValidacao', 'parecer', 'required')

	//- 	.form-group(ng-if="validacaoAnaliseGeoGerente.isParecerNaoValidado()")
	//- 			label.control-label.obrigatorio Analista técnico:
	//- 			select.form-control(
	//- 				ng-model="validacaoAnaliseGeoGerente.analiseTecnicaValidacao.idAnalistaTecnico", 
	//- 				name="selectConsultor",
	//- 				required,
	//- 				ng-options="analista.id as analista.pessoa.nome for analista in validacaoAnaliseGeoGerente.analistas")

	//- 			+inputErrors('formularioValidacao', 'selectConsultor', 'required')            

section.margin-bottom-xl

	button.btn.btn-default.col-md-2(ng-click="validacaoAnaliseGeoGerente.cancelar()")
		i.glyphicon.glyphicon-ban-circle.glyphicon--with-right-margin
		| Cancelar
	
	button.btn.btn-success.col-md-2.col-md-offset-8(ng-click="validacaoAnaliseGeoGerente.concluir()")
		i.glyphicon.glyphicon-check.glyphicon--with-right-margin
		| Concluir                    
