div(ng-if="usuarioSessao.perfilSelecionado.id === validacaoAnalise.perfis.COORDENADOR_JURIDICO", 
    ng-controller='validacaoAnaliseJuridicaController as validacaoAnaliseJuridica', ng-init="validacaoAnaliseJuridica.init()")
    include coordenadorJuridico/validacao-analise