.modal-header
	h4 Justificativa Suspensão da Licença

.modal-body#informacoesLicenca

	div(growl inline="true", reference="1")

	div
		label Data de emissão:

	br

	div
		label Validade:
		|	
	br

	div
		label PROCESSO:
		p Numero:
		p CPF/CNPJ:
		p Empreendimento:
		p Município: 

	br
	label.margin-right-xs Observações:
	p {{licenca.observacoes}}
	//- form
	//- 	.form-group
	//- 		textarea.form-control(rows="4", ng-model="$ctrl.resolve.dadosLicenca.observacao", name="observacoes")

	hr

	label.margin-right-xs Condicionantes:
	
	div.tabela.table-responsive

		table.tabela.table.table-striped
			thead
				tr
					th.col-md-1.index #
					th.col-md-8 Condicionante
					th.col-md-2.text-right Prazo(dias)
	

			tbody(as-sortable="$ctrl.sortOptions", data-ng-model="$ctrl.condicionantes")
				tr(data-ng-repeat="condicionante in $ctrl.condicionantes", as-sortable-item)
					td {{$index + 1}}
					td(as-sortable-item-handle)
						span(ng-hide="condicionante.editingTexto" ng-dblclick="$ctrl.editarTextoCondicionante(condicionante)") {{condicionante.texto}}
						textarea.input-edicao(ng-show="condicionante.editingTexto" ng-model="condicionante.texto" ng-blur="$ctrl.doneEditingTextoCondicionante(condicionante)" autofocus)
					td.text-right(as-sortable-item-handle)
						span(ng-hide="condicionante.editingPrazo " ng-dblclick="$ctrl.editarPrazoCondicionante(condicionante)") {{condicionante.prazo}}
						input.input-edicao(type="number", ng-show="condicionante.editingPrazo" ng-model="condicionante.prazo" ng-blur="$ctrl.doneEditingPrazoCondicionante(condicionante)" autofocus, max="1900")


		.text-center.vazio
			span(ng-if="$ctrl.condicionantes.length == 0") Nenhuma condicionante adicionada
	hr

	label.margin-right-xs Recomendações:
	form(name="formularioRecomendacao", novalidate)
		.form-group
			textarea.form-control(rows="4", ng-model="$ctrl.recomendacao.texto", name="recomendacao", required)


	label.margin-right-xs Justificativa da suspensão da(s) licença(s):
	form
		.form-group
			textarea.form-control(rows="4", ng-model="$ctrl.resolve.dadosLicenca.justificativa", name="justificativa")

.modal-footer

	button.btn.btn-default.pull-left(type="button", ng-click="$ctrl.cancelar()") Cancelar
	button.btn.btn-success.pull-right(type="button", ng-click="$ctrl.confirmarDadosLicenca()") Confirmar Suspensão da Licença


