h4 Parecer Técnico

	hr
	div.row#dadosProcesso
		.col-xs-12.col-md-8
			blockquote.success

				div.row
					label.col-sm-4 Processo:
					span.col-sm-8 {{analiseGeoManejo.processo.numero ? analiseGeoManejo.processo.numero : analiseGeoManejo.processo.numeroProcesso}}

				div.row
					label.col-sm-4 CPF/CNPJ:
					span.col-sm-8 {{analiseGeoManejo.processo.cpfEmpreendimento ? analiseGeoManejo.processo.cpfEmpreendimento : analiseGeoManejo.processo.cnpjEmpreendimento | brCpfCnpj}}

				div.row
					label.col-sm-4 Nome/Razão Social:
					span.col-sm-8 {{analiseGeoManejo.processo.denominacaoEmpreendimento}}