doctype html
html(lang="pt-br")
    head
        meta(charset='utf-8')
        title Análise - Licenciamento Ambiental - Amazonas
        link(rel='stylesheet' href='${templatePath}/style/estilo.css')
        meta(charset='UTF-8')

    body
        div.corpo
            div
                h3 PARECER TÉCNICO Nº ${analiseEspecifica.analise.processo.numero} - GGEO