doctype html
html(lang="pt-br")
    head
        meta(charset='utf-8')
        title Análise - Licenciamento Ambiental - Amazonas
        link(rel='stylesheet' href='${templatePath}/style/estilo.css')
        style.
            * {
                margin: 0;
                padding:0;
            }
            .titulo{
                text-align: center;
            }
            .conteudo {
                margin: 20px 20px 20px 60px;
            }

            .item {
                text-decoration:underline;
            }



body.corpo
        div.titulo
            h2 PARECER TÉCNICO Nº ${numeroParecer} - GGEO
        div.conteudo
            h3 PROCESSO: ${analiseEspecifica.analise.processo.numero}
            h3 INTERESSADO: ${analiseEspecifica.analise.processo.empreendimento.denominacao}

            ol
                li.item  DO REQUERIMENTO