doctype html
html(lang="pt-br")
  head
      meta(charset='utf-8')
      title Análise - Licenciamento Ambiental - Amapá
      link(rel='stylesheet' href='${templatePath}/style/estilo.css')
      style.
        * {
          margin: 0px;
          padding:0px;
        }
        .in-left {
          text-align: left;
          float: left;
          margin-top: 15px;

        }

        .in-right {
          text-align: right;
          float: right;
          margin-top: 15px;          
        }
        .rodape{
          margin-bottom:0px;
        }

  body
    div.rodape
            p
                hr
            div(style="display:inline-flex;")

              span.pull-left Análise do Licenciamento - Amapá

              span(style="text-align:center;margin-left:80px;") Gerado em: ${new Date().format('dd/MM/yyyy HH:mm:ss')}

              span.pull-right(style="margin-left:160px;") Página:
                    pagenumber
                    span /
                    pagecount               