doctype html
html(lang="pt-br")
  head
    meta(charset='utf-8')
    style.

      * {
        margin: 0px;
        padding:0px;
      }

      .footer {
        padding:60px;
      }

      .in-left {
        text-align: left;
      }

      .in-right {
        text-align: right;
      }

  body
    .footer.in-left

      p Av. Mario Ypiranga Monteiro, 3280 - Parque 10 de Novembro
      p Fone: (92) 2123-6721 / (92) 2123-6731 / (92) 2123-6778
      p Manaus - AM - CEP: 69.050-030
      p Web: www.ipaam.an.gov.br

    .footer.in-right
      img(src='/public/app/images/logo-ipaam-preto.png' height="127" width="352")