.modal-header

	button.close(type='button', ng-click="$ctrl.fechar()")
		span(aria-hidden='true') ×
		span.sr-only Fechar

	h4.modal-title Visualizar Inconsistência

.modal-body
	| {{$ctrl.inconsistenciaTecnica}}