include ../../layout/components/mapPanel

div(ng-init='ctrl.init()')

	.row
		.col-md-6
			h4 PARECER GEO

			div.row
				label.col-sm-4 Processo:
				span.col-sm-8 {{ctrl.analiseGeo.analise.processo.numero ? ctrl.analiseGeo.analise.processo.numero : ctrl.analiseGeo.analise.processo.numeroProcesso}}

			div.row
				label.col-sm-4 CPF/CNPJ:
				span.col-sm-8 {{ctrl.analiseGeo.analise.processo.empreendimento.pessoa.cpf ? ctrl.analiseGeo.analise.processo.empreendimento.pessoa.cpf : ctrl.analiseGeo.analise.processo.empreendimento.pessoa.cnpj | brCpfCnpj}}

			div.row
				label.col-sm-4 Interessado:
				span.col-sm-8 {{ctrl.analiseGeo.analise.processo.empreendimento.denominacao}}

			div.row
				label.col-sm-4 Município:
				span.col-sm-8 {{ctrl.analiseGeo.analise.processo.empreendimento.municipio.nome }}/{{ctrl.analiseGeo.analise.processo.empreendimento.municipio.estado.codigo }}

		.col-md-6

			button.btn.btn-sm.btn-default.pull-right(ng-click="ctrl.visualizarProcesso(ctrl.analiseGeo.analise.processo)")
				i.fa.fa-eye
				| &nbsp;Visualizar Processo
			a.btn.btn-sm.btn-default.pull-right.margin-right-xs(href="http://online.sefaz.am.gov.br/silt/Normas/Legisla%E7%E3o%20Estadual/Lei%20Estadual/Ano%202012/Arquivo/LE%203785_12.htm", target="_blank")
				i.fa.fa-bars
				| &nbsp;Legislação 

	.row
		.col-md-12

			h5 Localização do empreendimento

			+mapPanel-sidebar("mapa-localizacao-empreendimento",'400', true, 'ctrl')
			br
			#lista-restricoes
				#accordion.panel-group
					div
						a(href='javascript:;', data-toggle='collapse', data-parent='#accordion', aria-expanded='false', data-target='#meusDados', ng-init = 'ctrl.openedAccordion = false', ng-click = 'ctrl.openedAccordion = !ctrl.openedAccordion' )
							.panel.panel-default
								.panel-heading
									h4.panel-title
										| Dados do empreendimento
										i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.openedAccordion, 'glyphicon-chevron-right': !ctrl.openedAccordion}")
						#meusDados.collapse
								table.table.table-striped.table-condensed.no-margin.table-responsive
									thead
										tr
											th.col-md-5 Item
											th.col-md-5 Área (ha)
											th.col-md-2.text-right Ações

									tbody
										tr(ng-repeat='camada in ctrl.camadasDadosEmpreendimento')
											td.col-md-5 {{camada.item}}
											td.col-md-5 {{camada.descricao}}
											td.col-md-2.text-right
												i.glyphicon.glyphicon-alert(ng-if = 'camada.item.toUpperCase() === ctrl.categoria.PROPRIEDADE', ng-click='addInconsistencia(ctrl.categoria.PROPRIEDADE)', title='Adicionar inconsistência')
												| &nbsp;&nbsp;
					br
					br




					div.margin-top-xs(ng-repeat='(key, groupLayer) in layersRestricoes')
						a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', ng-attr-data-target="{{'#outrosDados'+$index}}")
							.panel.panel-default
								.panel-heading
									h4.panel-title
										| {{key}}
						div.collapse(id="{{'outrosDados'+$index}}")
							table.table.table-condensed
								thead
									tr
										th Nome
										th.text-right Restrição
										th.text-right #

								tbody
									tr(ng-repeat='(key, layer) in groupLayer.getLayers()')
										td.col-md-6 {{layer.feature.properties.descricaoLayer | textoTruncado: 30:4}}
										td.col-md-4.text-right {{tratarRestricao(layer.feature.properties)}}
										td.col-md-2.text-right
											i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida', title='Exibir geometria')
											i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida', title='Esconder geometria')
											| &nbsp;&nbsp;
											i.glyphicon.glyphicon-screenshot(ng-click='visualizarLayer(layer, groupLayer.color)', , title='Centralizar na geometria')
											| &nbsp;&nbsp;
											i.glyphicon.glyphicon-alert(ng-click='adicionarRestricao(layer)', title='Adicionar parecer da restrição', ng-class="{'restricao-adicionada': layer.feature.properties.parecer}")