include ../../layout/components/mapPanel
#localizacaoGeografica
    .row
        .col-md-12

            h5 Localização do empreendimento

            +mapPanel-sidebar("mapa-localizacao-empreendimento",'400', true, 'ctrl')
            br
            #lista-restricoes
                #accordion.panel-group
                    div
                        a(href='javascript:;', data-toggle='collapse', data-parent='#accordion', aria-expanded='false', data-target='#meusDados', ng-init = 'ctrl.openedAccordion = false', ng-click = 'ctrl.openedAccordion = !ctrl.openedAccordion' )
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        | Dados do empreendimento
                                        i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.openedAccordion, 'glyphicon-chevron-right': !ctrl.openedAccordion}")
                        #meusDados.collapse
                            table.table.table-striped.table-condensed.no-margin.table-responsive
                                thead
                                    tr
                                        th.col-md-5 Item
                                        th.col-md-5 Área (ha)
                                        th.col-md-2.text-right Ações

                                tbody
                                    tr(ng-repeat='camada in ctrl.camadasDadosEmpreendimento')
                                        td.col-md-5 {{camada.item}}
                                        td.col-md-5 {{camada.descricao}}
                                        td.col-md-2.text-right
                                            i.glyphicon.glyphicon-alert(ng-if = 'camada.item.toUpperCase() === ctrl.categoria.PROPRIEDADE', ng-click='addInconsistencia(ctrl.categoria.PROPRIEDADE)', title='Adicionar inconsistência')
                                            | &nbsp;&nbsp;

            br
            div
                a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', data-target='#restricoesAtividade', ng-init = 'ctrl.openedAccordion = false', ng-click = 'ctrl.openedAccordion = !ctrl.openedAccordion')
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                | Áreas de restrição da atividade
                                i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.openedAccordion, 'glyphicon-chevron-right': !ctrl.openedAccordion}")
                #restricoesAtividade.collapse
                        table.table.table-striped.table-condensed.no-margin.table-responsive
                            thead
                                tr
                                    th.col-md-4 Item
                                    th.col-md-5 Critério
                                    th.col-md-1.text-right Ações

                            tbody
                                tr
                                    td.col-md-4 Minha área do imóvel
                                    td.col-md-5 Meu empreendimento
                                    td.col-md-2.text-right
                                        //- i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida')
                                        //- i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida')
                                        //- | &nbsp;&nbsp;
                                        i.glyphicon.glyphicon-alert(title='Sobreposição encontrada. Emitir notificação ao interessado')
                                        i.glyphicon.glyphicon-envelope(title='Será comunicado ao órgão competente sobre a restrição declarada')
                                        | &nbsp;&nbsp;
            br
            br

            div.margin-top-xs(ng-repeat='(key, groupLayer) in layersRestricoes')
                a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', ng-attr-data-target="{{'#outrosDados'+$index}}")
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                | {{key}}
                div.collapse(id="{{'outrosDados'+$index}}")
                    table.table.table-condensed
                        thead
                            tr
                                th Nome
                                th.text-right Restrição
                                th.text-right #

                        tbody
                            tr(ng-repeat='(key, layer) in groupLayer.getLayers()')
                                td.col-md-6 {{layer.feature.properties.descricaoLayer | textoTruncado: 30:4}}
                                td.col-md-4.text-right {{tratarRestricao(layer.feature.properties)}}
                                td.col-md-2.text-right
                                    i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida', title='Exibir geometria')
                                    i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida', title='Esconder geometria')
                                    | &nbsp;&nbsp;
                                    i.glyphicon.glyphicon-screenshot(ng-click='visualizarLayer(layer, groupLayer.color)', , title='Centralizar na geometria')
                                    | &nbsp;&nbsp;
                                    i.glyphicon.glyphicon-alert(ng-click='adicionarRestricao(layer)', title='Adicionar parecer da restrição', ng-class="{'restricao-adicionada': layer.feature.properties.parecer}")
                        