#localizacaoGeografica
    h5 Localização do empreendimento

    #mapa-restricoes
    br
    br
    #lista-restricoes
        #accordion.panel-group
            div
                a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', data-target='#meusDados')
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                | Dados do empreendimento 
                #meusDados.collapse
                        table.table.table-striped.table-condensed.no-margin.table-responsive
                            thead
                                tr
                                    th.col-md-4 Item
                                    th.col-md-5 Área (ha)
                                    th.col-md-1.text-right Ações

                            tbody
                                tr
                                    td.col-md-4.text-left Propriedade
                                    td.col-md-5.text-left Meu empreendimento 
                                    td.col-md-1.text-right
                                        //- i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida')
                                        //- i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida')
                                        //- | &nbsp;&nbsp;
                                        //- i.glyphicon.glyphicon-screenshot(ng-click='visualizarLayer(layer, layer.color)')
                                        i.glyphicon.glyphicon-alert(ng-click='addInconsistencia(ctrl.categoria.PROPRIEDADE)', title='Adicionar inconsistência')
                                        | &nbsp;&nbsp;

    br
    #lista-restricoes
        #accordion.panel-group
            h4.panel-title Dados da área do projeto
            br
            div(ng-repeat="caracterizacao in ctrl.analiseGeo.analise.processo.caracterizacoes") 
                div(ng-repeat="atividadeCaracterizacao in caracterizacao.atividadesCaracterizacao")

                    a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', data-target='#dadosAreaProjeto')
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    | Atividade: {{atividadeCaracterizacao.atividade.nome}} 
                    #dadosAreaProjeto.collapse
                            table.table.table-striped.table-condensed.no-margin.table-responsive
                                thead
                                    tr
                                        th.col-md-4 Item
                                        th.col-md-5 Área (ha)
                                        th.col-md-1.text-right Ações

                                tbody
                                    tr
                                        td.col-md-4 Área do projeto
                                        td.col-md-5 dadosReferentesaAreadoProjeto
                                        td.col-md-1.text-right
                                            i.glyphicon.glyphicon-alert(ng-click='addInconsistencia(ctrl.categoria.AREA_PROJETO)', title='Adicionar inconsistência')
                                            | &nbsp;&nbsp;

            br
            div
                a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', data-target='#restricoesAtividade')
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                | Áreas de restrição da atividade
                #restricoesAtividade.collapse
                        table.table.table-striped.table-condensed.no-margin.table-responsive
                            thead
                                tr
                                    th.col-md-4 Item
                                    th.col-md-5 Critério
                                    th.col-md-1.text-right Ações

                            tbody
                                tr
                                    td.col-md-4 Minha área do imóvel
                                    td.col-md-5 Meu empreendimento
                                    td.col-md-2.text-right
                                        //- i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida')
                                        //- i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida')
                                        //- | &nbsp;&nbsp;
                                        i.glyphicon.glyphicon-alert(title='Sobreposição encontrada. Emitir notificação ao interessado')
                                        i.glyphicon.glyphicon-envelope(title='Será comunicado ao órgão competente sobre a restrição declarada')
                                        | &nbsp;&nbsp;
            br
            br




            div.margin-top-xs(ng-repeat='(key, groupLayer) in layersRestricoes')
                a(href='javascript:;', data-toggle='collapse', data-parent='#accordion',aria-expanded='false', ng-attr-data-target="{{'#outrosDados'+$index}}")
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                | {{key}}
                div.collapse(id="{{'outrosDados'+$index}}")
                    table.table.table-condensed
                        thead
                            tr
                                th Nome
                                th.text-right Restrição
                                th.text-right #

                        tbody
                            tr(ng-repeat='(key, layer) in groupLayer.getLayers()')
                                td.col-md-6 {{layer.feature.properties.descricaoLayer | textoTruncado: 30:4}}
                                td.col-md-4.text-right {{tratarRestricao(layer.feature.properties)}}
                                td.col-md-2.text-right
                                    i.glyphicon.glyphicon-eye-open(ng-click='mostrarLayer(layer)', ng-if='layer.escondida', title='Exibir geometria')
                                    i.glyphicon.glyphicon-eye-close(ng-click='esconderLayer(layer)', ng-if='!layer.escondida', title='Esconder geometria')
                                    | &nbsp;&nbsp;
                                    i.glyphicon.glyphicon-screenshot(ng-click='visualizarLayer(layer, groupLayer.color)', , title='Centralizar na geometria')
                                    | &nbsp;&nbsp;
                                    i.glyphicon.glyphicon-alert(ng-click='adicionarRestricao(layer)', title='Adicionar parecer da restrição', ng-class="{'restricao-adicionada': layer.feature.properties.parecer}")
div#troca-etapa
    .btn.etapa-proxima.pull-right(type="submit", name="etapaProxima")
        i.glyphicon.glyphicon-menu-right
        | Próxima etapa                        