div.modal-header

    button.close(type='button', ng-click="modalCtrl.fechar()")
        span(aria-hidden='true') ×
        span.sr-only Fechar

    h4.modal-title Adicionar Inconsistência
    div(growl inline="true" reference='5')

div.modal-body

    div.area-modal
        label.label-modal Categoria da inconsistência*:
        select.form-control(ng-if="modalCtrl.categoriaInconsistencia !== 'ATIVIDADE'", ng-model="modalCtrl.categoriaInconsistencia", name="selectCategoriaInconsistencia", ng-disabled="modalCtrl.habilitaExcluir")
            option(value="") Selecione o a categoria da inconsistência
            option(value="PROPRIEDADE") Propriedade
            option(ng-if="modalCtrl.getRestricoesSemInconsistencia().length > 0" value="RESTRICAO") Restrição

    div.area-modal(ng-if="modalCtrl.categoriaInconsistencia === 'RESTRICAO'")
        label.label-modal Item da Restrição*:
        select.form-control(ng-model="modalCtrl.idSobreposicao", name="selectItemRestricao", ng-if="!modalCtrl.habilitaExcluir",
                ng-options="restricao.sobreposicaoCaracterizacaoEmpreendimento.id as restricao.item for restricao in modalCtrl.getRestricoesSemInconsistencia() track by restricao.sobreposicaoCaracterizacaoEmpreendimento.id")
            option(value="") Selecione o item da Restrição
        br(ng-if="modalCtrl.habilitaExcluir")
        span.span-modal(ng-if="modalCtrl.habilitaExcluir") {{modalCtrl.getItemRestricao(modalCtrl.idSobreposicao)}}

    div.area-modal
        label.label-modal Descrição da inconsistência*:
        br
        textarea.textarea-modal(name="descricaoInconsistência", ng-model="modalCtrl.descricaoInconsistencia")

    div.area-modal
        label.label-modal Tipo da inconsistência*:
        br
        textarea.textarea-modal(name="tipoInconsistência", ng-model="modalCtrl.tipoInconsistencia")

    div.button-upload-modal.btn.btn-default(style=" margin-bottom:5px;",type="file", name="arquivo", ngf-select="modalCtrl.upload($file, $invalidFile)", ngf-accept="'application/pdf,image/*'", ngf-pattern="'application/pdf,image/*'", ngf-max-size="{{ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
        i.glyphicon.glyphicon-open.glyphicon--with-right-margin
        | Anexar arquivo na inconsistência

    table.area-modal.table.table-condensed(ng-if="modalCtrl.anexos.length > 0")

        thead

            tr
                th.col-md-10 Arquivo anexado
                th.col-md-2.text-right Ações

        tbody

            tr(ng-model="modalCtrl.anexo",ng-repeat="anexo in modalCtrl.anexos")

                td.col-md-10 {{anexo.nomeDoArquivo}}
                td.col-md-2.text-right
                    a.d-inline.margin-right-xs(style='cursor: pointer;',title="Baixar anexo", ng-click="modalCtrl.baixarDocumentoInconsistencia(anexo)")
                        i.glyphicon.glyphicon-save

                    a.d-inline.margin-right-xs(style='cursor: pointer;',title="Remover anexo", ng-click="modalCtrl.removerDocumento($index,anexo.id)")
                        i.glyphicon.glyphicon-trash

div.modal-footer

    button.btn.btn-default.pull-left(ng-click="modalCtrl.fechar()")
        i.glyphicon.glyphicon-arrow-left
        | &nbsp;Cancelar
    
    button.btn.btn-success.pull-right(ng-click="modalCtrl.concluir()")
        i.glyphicon.glyphicon-arrow-right
        | &nbsp;Confirmar

    //- button.btn.btn-default.pull-right(ng-disabled = "!modalCtrl.habilitaExcluir", ng-bootbox-title='Confirmação', ng-bootbox-custom-dialog='Deseja realmente excluir esta inconsistência ?', ng-bootbox-buttons='modalCtrl.customDialogButtons')
    //-     i.glyphicon.glyphicon-trash
    //-     | &nbsp;Excluir
