include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

div(ng-init="ctrl.init()")
    +resumo-processo('ctrl.analise.processo','ctrl.exibirDadosProcesso()')

    section.margin-bottom-md(active='ctrl.tabAtiva')
        uib-tabset(active='ctrl.tabAtiva')
            uib-tab(index="0", heading="Parecer Jurídico", select="ctrl.carregarDadosAnaliseJuridica()")
                div(ng-if='ctrl.tabAtiva === 0')
                    visualizar-analise-juridica(analise-juridica="ctrl.analiseJuridica", exibir-documentos-analisados="true")

            uib-tab(index="1", heading="Análise geo")
                div(ng-if='ctrl.tabAtiva === 1')
                    include ../../../analiseTecnica/analiseGeo/analise-geo

            uib-tab(index="2", heading="Parecer Técnico")
                div(ng-if='ctrl.tabAtiva === 2')
                    include parecerTecnico/parecerTecnico

            uib-tab(index="3", heading="Validar pareceres")
                solicitar-ajuste-aprovador(ng-if='ctrl.tabAtiva === 3', analise="ctrl.analise")


        section.margin-bottom-xl.alone

            a.btn(ng-click="ctrl.tabAtiva = ctrl.tabAtiva - 1", ng-if="!ctrl.tabAtiva == 0")
                |<< Etapa anterior


            a.btn.pull-right(ng-click="ctrl.tabAtiva = ctrl.tabAtiva + 1", ng-if="ctrl.tabAtiva != 3")
                | >> Próxima Etapa
