include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

+resumo-processo('validacaoAnaliseAprovador.aprovador.analise.processo','validacaoAnaliseAprovador.exibirDadosProcesso()')


