include ../../../../layout/components/panel
include ../../../../components/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

div(ng-init="validacaoAnaliseAprovador.init()")
	+resumo-processo('validacaoAnaliseAprovador.analise.processo','validacaoAnaliseAprovador.exibirDadosProcesso()')

	section.margin-bottom-md

		uib-tabset(active='validacaoAnaliseAprovador.tabAtiva')
			uib-tab(index="0", heading="Parecer jurídico", select="validacaoAnaliseAprovador.carregarDadosAnaliseJuridica()")
				div(ng-if='validacaoAnaliseAprovador.tabAtiva === 0')
					visualizar-analise-juridica(analise-juridica="validacaoAnaliseAprovador.analiseJuridica", exibir-documentos-analisados="true")

						uib-tab(index="1", heading="Análise geo")
							div(ng-if='validacaoAnaliseAprovador.tabAtiva === 1')
								include ../../../analiseTecnica/analiseGeo/analise-geo

						uib-tab(index="2", heading="Parecer técnico")
							div(ng-if='validacaoAnaliseAprovador.tabAtiva === 2')


			uib-tab(index="3", heading="Validar pareceres")

				div(ng-controller="solicitarAjusteAprovadorController as solicitarAjuste")
					form
						.form-group
							label.margin-right-sm Revisão do parecer
							label.radio-inline(for="parecer_juridico")
								input#parecer_juridico(type="radio", name="tipo_parecer", ng-model="solicitarAjuste.solicitacao.tipo", value="{{perfis.COORDENADOR_JURIDICO}}", ng-change="solicitarAjuste.listarCoordenadores()")
								| Jurídico
							label.radio-inline(for="parecer_tecnico")
								input#parecer_tecnico(type="radio", name="tipo_parecer", ng-model="solicitarAjuste.solicitacao.tipo", value="{{perfis.COORDENADOR_TECNICO}}", ng-change="solicitarAjuste.listarCoordenadores()")
								| Técnico
						.form-group
							label Coordenador:
							select.form-control(ng-model="solicitarAjuste.solicitacao.coordenador", ng-options="coordenador as coordenador.pessoa.nome for coordenador in solicitarAjuste.coordenadores")

						.form-group
							label Justificativa:
							textarea.form-control.textarea--resize-vertical(ng-model="solicitarAjuste.solicitacao.justificativa")
					button.btn.btn-default.pull-right
						| Solicitar revisão do parecer






