include ../../layout/components/inputErrors

.modal-header

	button.close(type='button', ng-click="$ctrl.fechar()")
		span(aria-hidden='true') ×
		span.sr-only Fechar

	h4.modal-title(ng-if="!$ctrl.resolve.isSuspensao && !$ctrl.resolve.isCancelamento") Visualizar Licença
	h4.modal-title(ng-if="$ctrl.resolve.isSuspensao") Justificativa da suspensão da licença
	h4.modal-title(ng-if="$ctrl.resolve.isCancelamento") Cancelamento de licença

.modal-body

	div(growl inline="true", reference="4")

	div(ng-if="!$ctrl.resolve.isSuspensao && !$ctrl.resolve.isCancelamento")
		label {{$ctrl.resolve.dadosLicenca.caracterizacao.tipoLicenca.nome}} ({{$ctrl.resolve.dadosLicenca.caracterizacao.atividadeCaracterizacao.porteEmpreendimento.codigo}} - {{$ctrl.resolve.dadosLicenca.caracterizacao.atividadeCaracterizacao.atividade.potencialPoluidor.codigo}})

		br

		br

	div.info-licenca-processo(ng-if="$ctrl.resolve.isSuspensao || $ctrl.resolve.isCancelamento")
		blockquote
			label.tituloMaior Informações da Licença:
			p {{$ctrl.resolve.dadosLicenca.caracterizacao.tipoLicenca.nome}} ({{$ctrl.resolve.dadosLicenca.caracterizacao.atividadeCaracterizacao.porteEmpreendimento.codigo}} - {{$ctrl.resolve.dadosLicenca.caracterizacao.atividadeCaracterizacao.atividade.potencialPoluidor.codigo}})
			p Data de emissão: {{$ctrl.resolve.dadosLicenca.dataCadastro}}
		blockquote
			label.tituloMaior Informações do Processo:
			p Número: {{$ctrl.resolve.dadosLicenca.numeroProcesso ? $ctrl.resolve.dadosLicenca.numeroProcesso : '-'}}
			p CPF/CNPJ: {{$ctrl.resolve.dadosLicenca.caracterizacao.empreendimento.pessoa.cnpj ? $ctrl.resolve.dadosLicenca.caracterizacao.empreendimento.pessoa.cnpj : $ctrl.resolve.dadosLicenca.caracterizacao.empreendimento.pessoa.cpf}}
			p Empreendimento: {{$ctrl.resolve.dadosLicenca.caracterizacao.empreendimento.denominacao}}
			p Município: {{$ctrl.resolve.dadosLicenca.caracterizacao.empreendimento.municipio.nome + '/' + $ctrl.resolve.dadosLicenca.caracterizacao.empreendimento.municipio.estado.codigo}}
			p Validade: {{$ctrl.resolve.dadosLicenca.validade ? $ctrl.resolve.dadosLicenca.validade : $ctrl.dateUtil.calcularPrazoEmAnos($ctrl.resolve.dadosLicenca.dataCadastro,$ctrl.resolve.dadosLicenca.dataValidade)}} ano(s)


	.form-group(ng-if="!$ctrl.resolve.isSuspensao && !$ctrl.resolve.isCancelamento")
		label.margin-right-xs(for="selectValidade") Validade: 
		label {{$ctrl.resolve.dadosLicenca.validade ? $ctrl.resolve.dadosLicenca.validade : $ctrl.dateUtil.calcularPrazoEmAnos($ctrl.resolve.dadosLicenca.dataCadastro,$ctrl.resolve.dadosLicenca.dataValidade)}} ano(s)


	label.margin-right-xs Observações:
	form
		.form-group
			textarea.form-control.textarea--no-resize(rows="4", ng-if="$ctrl.resolve.dadosLicenca.observacao", ng-model="$ctrl.resolve.dadosLicenca.observacao", name="observacoes", disabled)
			.text-center.vazio(ng-if="!$ctrl.resolve.dadosLicenca.observacao") 
				span Nenhuma observação adicionada
	hr

	label.margin-right-xs Condicionantes:
	div.tabela

		table.table.table-striped.table-condensed.no-margin(ng-if="$ctrl.resolve.dadosLicenca.condicionantes")
			thead
				tr
					th.col-md-10 Condicionante
					th.col-md-2.text-right Prazo(dias)

			tbody
				tr(ng-repeat="condicionante in $ctrl.resolve.dadosLicenca.condicionantes")
					td
						span {{condicionante.texto}}
					td.text-right
						span {{condicionante.prazo}}


		.text-center.vazio
			span(ng-if="$ctrl.resolve.dadosLicenca.condicionantes.length == 0 || !$ctrl.resolve.dadosLicenca.condicionantes") Nenhuma condicionante adicionada
	hr

	label.margin-right-xs Recomendações:
	div.tabela

		table.table.table-striped.table-condensed.no-margin(ng-if="$ctrl.resolve.dadosLicenca.recomendacoes")
			thead
				tr
					th.col-md-12 Recomendação

			tbody
				tr(ng-repeat="recomendacao in $ctrl.resolve.dadosLicenca.recomendacoes")
					td
						span {{recomendacao.texto}}

		.text-center.vazio
			span(ng-if="$ctrl.resolve.dadosLicenca.recomendacoes.length == 0 || !$ctrl.resolve.dadosLicenca.recomendacoes") Nenhuma recomendação adicionada
	hr

	div(ng-if="$ctrl.resolve.isSuspensao")
		label.margin-right-xs Justificativa da suspensão da(s) licença(s):

		.row
			form(name="$ctrl.formSuspensaoLicenca")
				div.col-md-10.form-group
					textarea.textarea--no-resize.form-control(rows="4", ng-model="$ctrl.justificativa", name="justificativa", required)

				div.col-md-2.form-group

					label.posicionamento-suspensao-licenca Prazo de suspensão da(s) licença(s)

					div.col-sm-6.posicionamento-suspensao-licenca
						input.input-dias.form-control(id="qtdeDiasSuspensao",type="number", name="qtdeDiasSuspensao",
							ng-model="$ctrl.qtdeDiasSuspensao", max="1900", min="1", required)
					div.no-margin-dias.col-sm-6
						span dias
					+inputErrors('formSuspensaoLicenca', 'qtdeDiasSuspensao', 'required', 'max', 'min')

	div(ng-if="$ctrl.resolve.isCancelamento")
		form(name="$ctrl.formCancelamentoLicenca")
			label.margin-right-xs Justificativa do cancelamento da licença: 
			textarea.textarea--no-resize.form-control(rows="4", ng-model="$ctrl.justificativaCancelamento", name="justificativaCancelamento", required)

.modal-footer#footer-modal

	button.btn.btn-default.pull-left(ng-click="$ctrl.fechar()")
		i.glyphicon.glyphicon-arrow-left
		| &nbsp;Fechar

	div(ng-if="$ctrl.resolve.isSuspensao")
		form(name="formSuspensaoLicenca")
			button.btn.btn-default.pull-right(ng-click="$ctrl.suspenderLicenca()", type="submit")
				i.glyphicon.glyphicon-ok
				| &nbsp;Confirmar suspensão da Licença

	div(ng-if="$ctrl.resolve.isCancelamento")
		form(name="formCancelamentoLicenca")
			button.btn.btn-default.pull-right(ng-click="$ctrl.cancelarLicenca()", type="submit")
				i.glyphicon.glyphicon-ok
				| &nbsp;Confirmar cancelamento da licença
