doctype html
html(lang="pt-br")
  head
    meta(charset='utf-8')
    title Análise - Licenciamento Ambiental - Amazonas
    link(rel='stylesheet' href='${templatePath}/style/estilo.css')

  body
    div.cabecalho
      div
        img.logo(src='/public/app/images/logo-governo-am-vertical.png' height="125" width="130")