doctype html
html(lang="pt-br")
  head
      meta(charset='utf-8')
      title Análise - Licenciamento Ambiental - Amazonas
      link(rel='stylesheet' href='${templatePath}/style/estilo.css')
      style.
        * {
          margin: 0px;
          padding:0px;
        }

        .footer {
            margin-top: 30px;
        }

        .in-left {
          text-align: left;
          float: left;
           margin-top: 30px;

        }

        .in-right {
          text-align: right;
          float: right;
          margin-top: 30px;
        }

  body
    div.rodape
            p.in-left
                span Av. Mario Ypiranga Monteiro, 3280 - Parque 10 de Novembro
                br
                span Fone: (92) 2123-6721 / (92) 2123-6731 / (92) 2123-6778
                br
                span Manaus - AM - CEP: 69.050-030
                br
                span web: www.ipaam.am.gov.br
            p.in-right
                img.logo(src='/public/app/images/logo-ipaam-preto.png' height="50" width="100")