doctype html
html(lang="pt-br")
  head
      meta(charset='utf-8')
      title Análise - Licenciamento Ambiental - Amazonas
      link(rel='stylesheet' href='${templatePath}/style/estilo.css')
      style.
        * {
          margin: 0px;
          padding:0px;
        }

        .rodape{
          margin-bottom:0px;
        }

        .container {
            display: flex;
            flex-direction: column;
        }
        .container-flex {
            display: flex;
            justify-content: space-between;
        }

        div.container-left{
            width: 30%;
            display: inline-block;
            text-align: left;
        }

        div.container-center {
            width: 30%;
            display: inline-block;
            text-align: left;
        }

        div.container-right {
            width: 30%;
            display: inline-block;
            text-align: right;
        }


  body
    div.rodape
            p
                hr
            .container
              .container-flex
                .container-left
                    span.pull-left Análise do Licenciamento - Amazonas
                .container-center
                    span(style="text-align:center;margin-left:80px;") Gerado em: ${new Date().format('dd/MM/yyyy HH:mm:ss')}
                .container-right
                    span.pull-right(style="margin-left:160px;") Página:
                          pagenumber
                          span /
                          pagecount               