doctype html

html(lang='en')
  head
    title Análise - Licenciamento Ambiental - Pará
      link(rel='stylesheet' href='${templatePath}/style/estilo.css')
      meta(charset='UTF-8')
  body

    div.header
        div.header-item-medium
            h4 Secretaria de Meio Ambiente e Sustentabilidade
        div.header-item-small-padding
            center
                img.logo(src='/public/app/images/brasao_pa.png' height="63" width="83")
        div.header-item-large
            h3 LAUDO TÉCNICO DE APAT
        div.header-item-small
            center
                img.logo(src='/public/app/images/logo_digeo.png' height="73" width="93")