div(title='Instrução Normativa No: 22', type='doc')
	article.estiloLegislacao
		h2.title Instrução Normativa No: 22 
		p
			strong Data: 31 de março de 2009
		p(style='margin-left: 20%;')
			strong
		p
			strong Sobre a atualização anual do cadastro no CEPROF/SISFLORA.
		strong
		p
		p EMENTA: Atualização Anual do Cadastro no CEPROF/SISFLORA.
		p
			| O SECRETÁRIO DE ESTADO DO MEIO AMBIENTE, no uso das atribuições que lhes conferem o Art. 138, inciso II, da Constituição Estadual, e  a Lei n°. 5.457, de 11 de Maio de 1988, que cria a Secretaria de Estado de Meio Ambiente – SEMAS,
		p
			| R E S O L V E:
			br
			| Art 1° O cadastro no CEPROF/PA terá a validade de um ano:
			br
			| Parágrafo único. A renovação do cadastro no CEPROF/PA deverá ser requerida com antecedência mínima de 30 (trinta) dias, contados da data de expiração de seu prazo de validade, que ficará automaticamente prorrogado por mais 1 (um) ano até a manifestação definitiva do órgão competente, sob pena de suspensão do empreendimento que não apresentar o recadastramento.
		p
			| Art 2° O pedido de renovação do cadastro no CEPROF/PA, será providenciado pelo responsável do empreendimento,  em conformidade com os artigos de 4º, 5º e 6º da Instrução Normativa  Nº 11, de 30 de Novembro de 2006, e obedecendo ainda  as seguintes orientações:
			br
			| I – no ato do recadastramento, deverão ser preenchidos e entregues os formulários de I a VIII, conforme especificações do art. 5º da Instrução Normativa nº 11, de 30 de novembro de 2006, devendo ser utilizado o sistema on-line do SISFLORA;
			br
			| II – quando não houver mudança de proprietário, administrador, representantes legais, representantes operacionais e responsáveis técnicos, a documentação pessoal destes não necessitará ser encaminhada novamente, desde que oficialmente comunicado a Secretaria;
			br
			| III – os documentos relacionados no art. 5º e no Anexo I (Chek List padrão), que não sofreram mudanças no período de vigência do cadastro e desde que não estejam vencidos, não necessitarão de substituição, com exceção dos abaixo listados que obrigatoriamente deverão ser atualizados anualmente;
			br
			| a) procurações;
			br
			| b) alvará de localização e funcionamento Municipal;
			br
			| c) anotação de Responsabilidade Técnica (ART) emitida pelo CREA-PA do responsável técnico pelo empreendimento;
			br
			| d) certidão de Regularidade Fiscal, expedida pela Fazenda Pública Estadual SEFA -PA;
			br
			| e) certidão Negativa de Débitos do IBAMA;
			br
			| f) cópia autenticada da Licença de Operação (LO) da SEMAS, quando for o caso, para as atividades Licenciadas pelos Municípios;
			br
			| h) comprovante do recolhimento da Taxa de Cadastro no valor correspondente a 200 UPF’s – PA.
		p
			| Art 2° Será exigido a Certificação Digital para todos os Empreendimentos cadastrados no CEPROF-PA.
			br
			| Parágrafo único. Os Empreendimentos terão um prazo de 60 dias a contar data de publicação desta Instrução Normativa, para providenciarem a Certificação Digital, conforme dispõe o caput deste artigo.
		p
			| Art. 3º Esta Instrução Normativa entra em vigor na data de sua publicação, revogando-se as disposições em contrário.
		p
			| VALMIR GABRIEL ORTEGA
			br
			| Secretário de Estado do Meio Ambiente
		p ANEXO
		p
			| CHECK LIST padrão de documentos para cadastro de empreendimentos no cadastro de consumidores de produtos florestais – CEPROF/PA.
			br
			| Item
		p Nº. Documentos Exigidos Verificar os seguintes itens:
		p
			| 01 – Formulário 1 – Requerimento de Cadastro;.
			br
			| (Padrão CEPROF/PA)
		p
			| •Deve estar integralmente preenchido; 
			br
			| •Deve conter a assinatura reconhecida Firma do Proprietário ou Responsável Técnico com procuração;
			br
			| •Verificar a classificação correta do empreendimento;
			br
			| •Deverão constar obrigatoriamente as coordenadas geográficas em graus;
			br
			| •Apresentar E-mail do empreendimento  e do engenheiro.
		p
			| 02 – Formulário 2 – Proprietário.
			br
			| (Padrão CEPROF/PA)
		p
			| •Deve estar integralmente preenchido;
			br
			| •Deverá constar o nome dos proprietários, ou quando for S/A constar o nome do diretor ou secretario responsável pelo empreendimento;
			br
			| •Conferir  RG, CPF  e assinatura;
			br
			| •Quando o dono for Espólio é preciso ter o nome do Inventariante com seu RG e CPF no mesmo Formulário 2 e cópias autenticadas.
			br
			| 03 – Formulário 3 – Representante Legal.
			br
			| (Padrão CEPROF/PA)
			br
			| •Deve estar integralmente preenchido;
			br
			| •Identificar o Representante Legal do empreendimento;
			br
			| •Conferir RG, CPF e assinatura.
			br
			| 04 – Formulário 4 – Representante Operacional.
			br
			| (Padrão CEPROF/PA)
			br
			| •Deve estar integralmente preenchido;
			br
			| •Identificar o Representante Operacional do empreendimento;
			br
			| •Conferir RG, CPF e assinatura.
			br
			| 05 – Formulário 5 – Responsável Técnico.
			br
			| (Padrão CEPROF/PA)
			br
			| •Deve estar integralmente preenchido;
			br
			| •Identificar o Representante Técnico do empreendimento;
			br
			| •Deve ser Engenheiro Florestal com inscrição no CREA; Com as exceções descritas no Art. 2º;
			br
			| •Conferir RG, CPF, CREA e assinatura.
			br
			| 06 – Formulário 6 – Caracterização de Empreendimentos de Extração, Coleta e Produção.
			br
			| (Padrão CEPROF/PA)
			br
			| •È exigido somente para empreendimentos tipo Extração, Coleta  e Produção;
			br
			| •Deve estar integralmente preenchido;
			br
			| •Identificar a classificação do empreendimento – Extração / Coleta /Produção;
			br
			| •Conferir  assinatura;
			br
			| •Verificar se o quadro de áreas esta preenchido;
			br
			| •As atividades de Extração e Coleta poderão ser cadastradas como empreendimento único, uma vez que as atividades são complementares (extração de madeira nativa, lenha, coleta de seiva ou resinas, folhas, raízes frutos, palmito e outros produtos).
			br
			| 07 – Formulário 7 – Caracterização de Empreendimentos de Serraria, Laminação, Beneficiamento, Industrialização, Comércio e Armazenamento.
			br
			| •È exigido somente para empreendimentos tipo Serraria, Laminação, Beneficiamento, Industrialização, Comércio e Armazenamento;
			br
			| •Deve estar integralmente preenchido;
			br
			| •Carvoaria é classificada como industrialização;
			br
			| •Indústria de Palmito é classificada como Industrialização/ beneficiamento;
			br
			| •Conferir assinatura;
			br
			| 08 – Formulário 8 – Caracterização de Empreendimentos de Consumo.
			br
			| (Padrão CEPROF/PA)
			br
			| •È exigido somente para empreendimentos tipo Consumo;
			br
			| •Deve estar integralmente preenchido;
			br
			| •Empreendimentos classificados como consumo: Curtume, Cerâmicas, Armazéns de secagem de grãos (secadores), Frigoríficos e Laticínios;
			br
			| •Verificar se os empreendimentos assim classificados consomem lenhas, aparas e sobras de madeira como fonte de energia;
			br
			| •Conferir assinatura.
			br
			| 09 – Atos constitutivos da Empresa e última alteração no quadro societário arquivada na Junta Comercial (cópia autenticada); •Obrigatório somente para empreendimentos que possuam CNPJ.
			br
			| •Apresentação da Ultima alteração do Contrato Social. (ano Vigente);
			br
			| •Requerimento de Empresário com carimbo de certificado da Junta Comercial.(ano vigente);
			br
			| •Ata da diretoria da empresa, (ano vigente);
			br
			| •Certidão simplificada da JUCEPA;
			br
			| 10 – Cópia autenticada do Cartão do CNPJ.
			br
			| •Obrigatório somente para empreendimentos que possuam CNPJ;
			br
			| •Retirada através da internet, não precisa ser autenticada;
			br
			| •Verificar a situação cadastral: deve estar ATIVA;
			br
			| •Verificar se a atividade fim está de acordo com o formulário 1.
			br
			| 11 – Cópia autenticada FIC (Inscrição Estadual).
			br
			| •Deve estar atualizado (09 dígitos);
			br
			| •Verificar a data de vencimento;
			br
			| •Verificar se a atividade fim está de acordo com o formulário 1;
			br
			| •Conferir a razão social e o nome fantasia;
			br
			| •Não será aceito o relatório emitido via internet na  Consulta Pública ao Cadastro SINTEGRA/ICMS.
		p 12 – Cópia autenticada do Alvará de Localização e Funcionamento Municipal.
		p
			| •Verificar a razão social;
			br
			| •Verificar o prazo de validade: (ano vigente);
			br
			| •Alvarás aceitos: Alvará de funcionamento, Alvará de localização, Certidão de Funcionamento;
		p 13 – Cópia autenticada Carteira de Identidade dos Sócios.
		p •Verificar se o documento esta autenticado.
		p 14 – Cópia autenticada do Cartão do CPF dos Sócios.
		p •Verificar se o documento esta autenticado.
		p 15 – Cópia autenticada Carteira de Identidade do Representante Operacional.
		p •Verificar se o documento esta autenticado.
		p 16 – Cópia autenticada do Cartão do CPF do Representante Operacional.
		p •Verificar se o documento esta autenticado.
		p 17 – Cópia autenticada Carteira de Identidade do Representante Legal.
		p •Verificar se o documento esta autenticado.
		p 18 – Cópia autenticada do Cartão do CPF do Representante Legal.
		p •Verificar se o documento esta autenticado.
		p
			| 19 – Cópia autenticada da Carteira do CREA do  Responsável Técnico (Engenheiro Florestal).
		p •Verificar se o documento esta autenticado.
		p
			| 20 – Cópia autenticada do Cartão do CPF do Responsável Técnico (Engenheiro Florestal).
		p •Verificar se o documento esta autenticado.
		p
			| 21 – Anotação de Responsabilidade Técnica (ART) emitida pelo CREA-MT do Responsável Técnico pelo Empreendimento; ou documento equivalente conforme Art. 2º.
		p
			| •Verificar a descrição do serviço, o documento deve estabelecer a responsabilidade técnica pelo empreendimento até a data de validade do cadastro;
			br
			| •Verificar o nome correto do Responsável Técnico;
			br
			| •Verificar se a taxa da ART foi paga.
		p 22 – Certidão de Cadastro do Responsável técnico junto a SEMAS.
		p
			| •Item obrigatório para o Responsável Técnico;
			br
			| •A retirada do documento proceder-se-á junto a SEMAS pelo empreendedor.
		p
			| 23 – Procuração registrada em cartório nomeando o Responsável legal do empreendimento e dos empreendedores p/ representá-los perante o CEPROF-PA.
		p
			| •A procuração deve ter fé pública (registrada em cartório);
			br
			| •Deve transferir plenos poderes para a representação do empreendimento junto ao C;
			br
			| •Se o Representante Legal for o proprietário não precisará de procuração.
		p
			| 24 – Procuração registrada em cartório nomeando o representante operacional p/ operar o sistema do CEPROF-PA.
		p
			| •A procuração deve ter fé pública (registrada em cartório);
			br
			| •Deve transferir poderes para a utilização total do Sistema Sisflora pelo Representante Operacional;
			br
			| •Se o representante Operacional for o proprietário não precisará  de procuração.
		p
			| 25 – Cópia Autenticada do Título de Propriedade do Imóvel onde está localizado o empreendimento ou Certidão da Matrícula do mesmo no RGI.
		p
			| Serão aceitos os seguintes documentos:
			br
			| -matrícula atualizada do imóvel no RGI;
			br
			| -escritura pública de compra e venda de imóvel;
			br
			| -compromisso público de compra e venda de imóvel registrado e com cláusula de irretratabilidade;
			br
			| -sentença judicial transitada em julgado em ação de adjudicação compulsória;
			br
			| -sentença judicial transitada em julgado em ação de usucapião;
			br
			| -certidão administrativa de comprovação de posse emitida pelo Instituto de Terras do Pará (ITERPA), ou pelo Instituto Nacional de Colonização e Reforma Agrária (INCRA);
			br
			| -escritura pública de cessão de direitos possessórios lavrada em cartório e reconhecida pelos confinantes, com comprovante do requerimento de regularização fundiária junto ao órgão competente;
			br
			| -Escritura pública de compra e venda a prazo ou cuja transferência de domínio esteja pendente de análise do georreferenciamento junto ao INCRA.
		p •Verificar se o documento esta em nome do requerente.
		p
			| 26 – Cópia autenticada do Contrato de Locação ou Arrendamento do Imóvel, quando for o caso.
		p
			| •Deve ter fé pública (registrado em cartório);
			br
			| •Contrato de Locação, Contrato de Arrendamento e Contrato de Comodato: solicitar apresentação do Registro do imóvel e matrícula;
		p 28 – Certidão de Regularidade junto ao IBAMA (Nada consta).
		p
			| •Verificar se está em nome do requerente; 
			br
			| •Verificar se o documento esta dentro do prazo de validade.
		p 29 – Certidão de regularidade para com a Fazenda Pública Estadual.
		p
			| •Verificar se o documento esta dentro do prazo de validade;
			br
			| •Verificar se o documento esta em nome do requerente;
		p 31 – Croqui de localização do empreendimento.
		p •Exigi-se Croqui detalhado.
		p 32 – Cópia das três últimas faturas de energia elétrica do empreendimento.
		p
			| •As cópias das faturas não precisão ser autenticadas;
			br
			| •Verificar se a Conta está em nome do requerente, do empreendimento ou do responsável;
			br
			| •Em caso de não existir fatura de energia elétrica, justificar através laudo quais as fontes de energia ou da não utilização da mesma.
		p
			| 34 – Fotos da entrada principal e da sede da propriedade no caso de projetos (PEF ou Manejo).
		p •Foto da placa de entrada do Manejo ou da propriedade.
		p 35 – Layout do terreno onde está localizado o empreendimento.
		p
			| •Mapa do terreno com os pátios, ruas, áreas de rejeito, edificações e outros dados relevantes, situados e identificados, entregues na forma impressa e na forma digital.
		p 36 – Fotos do empreendimento conforme exigido no formulário (7).
		p
			| •È exigido somente para empreendimentos tipo Serraria, Laminação, Beneficiamento, Industrialização, Comércio e Armazenamento;
			br
			| •Apresentar as fotografias da entrada principal, das edificações, do terreno e do maquinário, apresentadas através de impressão colorida em papel a4, e na forma digital no aplicativo de processamento de texto Word.
		p 37 – Cópia autenticada da Licença de Operação (LO) da SEMAS.
		p
			| •È exigido somente para empreendimentos tipo Serraria, Laminação, Beneficiamento, Industrialização, Comércio e Armazenamento;
			br
			| •Verificar o prazo de validade;
			br
			| •Verificar se a razão social esta em nome do requerente;
		p 38 – Cópia autenticada da Licença Ambiental Rural (LAR).
		p
			| • È exigido somente para empreendimentos tipo Extração,  Coleta e Produção;
			br
			| • Verificar a data de validade;
			br
			| • Verificar se o documento esta em nome do requerente.
		p
			| 39 – Comprovante do recolhimento da Taxa de Cadastro no CEPROF-PA no valor correspondente a 200 (cinco) UPF’s – PA.
		p
			| •Verificar se o comprovante esta em nome do requerente;
			br
			| •A cópia do Comprovante não precisa ser autenticada;
			br
			| •Verificar a posição do cliente emitida pela SEMAS.
