div(title='Portaria Nº179, de 11/2/2016. Publicado no DOE 33066, de 12/2/2016. Página 24 e 25.', type='doc')
	article.estiloLegislacao
		h2.title
			| Portaria Nº179, de 11/2/2016. Publicado no DOE 33066, de 12/2/2016. Página 24 e 25.
		p
			strong Data: 12 de fevereiro de 2016
		p(style='margin-left: 20%;')
			strong
		p(style='text-align: justify;')
			| Dispõe sobre os Municípios do Estado do Pará que possuem capacidade para exercer a gestão ambiental municipal e dá outras providências.
		p(style='text-align: justify;')
			a(href='https://www.semas.pa.gov.br/wp-content/uploads/2016/06/PORTARIA-SEMAS-Nº-179-DE-11-FEVEREIRO-DE-2016.pdf') Anexo Único
		p(style='text-align: justify;')
			strong O SECRETÁRIO DE ESTADO DE MEIO AMBIENTE E SUSTENTABILIDADE DO PARÁ
			| , no uso das atribuições que lhe confere o art. 138, no inciso II, da Constituição do Estado do Pará e,
		p(style='text-align: justify;')
			| CONSIDERANDO o disposto no art. 23, VI e VII da Constituição Federal, de 1988, que atribui à União, aos Estados, ao Distrito Federal e aos Municípios a competência comum para proteção do meio ambiente e combate à poluição em todas as suas formas;
		p(style='text-align: justify;')
			| CONSIDERANDO que o art. 9
			u
				sup º
			| , inciso XIV, alínea ‘a’ da Lei Complementar n
			u
				sup º
			| 140, de 8 de dezembro de 2011, dispõe que são ações administrativas dos Municípios, observadas as atribuições dos demais entes federativos, promover o licenciamento ambiental das atividades ou empreendimentos que causem ou possam causar impacto ambiental de âmbito local, conforme tipologia definida pelos respectivos Conselhos Estaduais de Meio Ambiente, considerados os critérios de porte, potencial poluidor e natureza da atividade;
		p(style='text-align: justify;')
			| CONSIDERANDO que o art. 6
			u
				sup º
			|  da Resolução n
			u
				sup º
			| 237, de 19 de dezembro de 1997, do Conselho Nacional do Meio Ambiente – CONAMA, estabelece a competência do órgão ambiental municipal para o licenciamento ambiental de empreendimentos e atividades de impacto ambiental local, e de outros que lhe forem delegadas pelo Estado por instrumento legal ou convênio;
		p(style='text-align: justify;')
			| CONSIDERANDO que a Lei Estadual n
			u
				sup º
			|  5.887, de 9 de maio de 1995, em seu art. 7
			u
				sup º
			|  e seguintes, dispõe acerca do Sistema Estadual de Meio Ambiente – SISEMA, prevendo como órgãos locais os organismos ou entidades municipais responsáveis pela gestão ambiental nas suas respectivas jurisdições;
		p(style='text-align: justify;')
			| CONSIDERANDO o art. 11 da Resolução n
			u
				sup º
			|  120, de 28 de outubro de 2015, do Conselho Estadual de Meio Ambiente – COEMA, que dispõe que a SEMAS poderá apoiar os Municípios quanto aos projetos de estruturação da gestão ambiental municipal;
		p(style='text-align: justify;')
			| CONSIDERANDO que compete à SEMAS, nos termos do parágrafo único do art. 12 da Resolução n
			u
				sup º
			|  120, de 28 de outubro de 2015, do COEMA, manter atualizada a Lista Oficial dos Órgãos Ambientais Municipais Capacitados ao exercício da gestão ambiental municipal, o qual será divulgada no endereço eletrônico da SEMAS;
		p(style='text-align: justify;')
			| CONSIDERANDO os princípios que regem a Administração Pública, em especial os da legalidade e publicidade,
		p(style='text-align: justify;')
			strong RESOLVE:
		p(style='text-align: justify;')
			| Art. 1
			u
				sup º 
			|  Tornar pública a relação, constante no Anexo Único desta Portaria, dos Municípios do Estado do Pará que possuem capacidade para exercer a gestão ambiental local, de acordo com o art. 8
			u
				sup º 
			|  da Resolução n
			u
				sup º
			|  120, de 28 de outubro de 2015, do Conselho Estadual de Meio Ambiente – COEMA.
		p(style='text-align: justify;')
			| Art. 2
			u
				sup º
			|  Esta Portaria entra em vigor na data da sua publicação.
		p(style='text-align: justify;') Belém, 11 de fevereiro de 2016.
		p(style='text-align: justify;') LUIZ FERNANDES ROCHA
		p(style='text-align: justify;')
			strong
				em Secretário de Estado de Meio Ambiente e Sustentabilidade
		p(style='text-align: justify;')
			strong
				em  
