div(title='PORTARIA  SEMAS Nº 1421 DE 12  DE AGOSTO DE 2016, publicada no DOE 33191 de 16/8/2016, página 27', type='doc')
	article.estiloLegislacao
		h2.title
			| PORTARIA  SEMAS Nº 1421 DE 12  DE AGOSTO DE 2016, publicada no DOE 33191 de 16/8/2016, página 27
		p
			strong Data: 16 de agosto de 2016
		p(style='margin-left: 20%;')
			strong
		p
			| PORTARIA 
			sup  
			| SEMAS N
			u
				sup º 
			|  1421 DE 12  DE AGOSTO DE 2016.
		p Publicada no DOE 33191 de 16/8/2016, página 27.
		p
			| Dispõe sobre a atualização da Portaria n
			u
				sup º 
			| 179, de 11 de fevereiro de 2016 e dá outras providências.
		p
			strong O SECRETÁRIO DE ESTADO DE MEIO AMBIENTE E SUSTENTABILIDADE DO PARÁ
			| , no uso das atribuições que lhe confere o art. 138, no inciso II, da Constituição do Estado do Pará e,
		p
			| CONSIDERANDO o disposto no art. 23, VI e VII da Constituição Federal, de 1988, que atribui à União, aos Estados, ao Distrito Federal e aos Municípios a competência comum para proteção do meio ambiente e combate à poluição em todas as suas formas;
		p
			| CONSIDERANDO que o art. 9
			u
				sup º
			| , inciso XIV, alínea ‘a’ da Lei Complementar n
			u
				sup º
			| 140, de 8 de dezembro de 2011, dispõe que são ações administrativas dos Municípios, observadas as atribuições dos demais entes federativos, promover o licenciamento ambiental das atividades ou empreendimentos que causem ou possam causar impacto ambiental de âmbito local, conforme tipologia definida pelos respectivos Conselhos Estaduais de Meio Ambiente, considerados os critérios de porte, potencial poluidor e natureza da atividade;
		p
			| CONSIDERANDO que o art. 6
			u
				sup º
			|  da Resolução n
			u
				sup º
			| 237, de 19 de dezembro de 1997, do Conselho Nacional do Meio Ambiente – CONAMA, estabelece a competência do órgão ambiental municipal para o licenciamento ambiental de empreendimentos e atividades de impacto ambiental local, e de outros que lhe forem delegadas pelo Estado por instrumento legal ou convênio;
		p
			| CONSIDERANDO que a Lei Estadual n
			u
				sup º
			|  5.887, de 9 de maio de 1995, em seu art. 7
			u
				sup º
			|  e seguintes, dispõe acerca do Sistema Estadual de Meio Ambiente – SISEMA, prevendo como órgãos locais os organismos ou entidades municipais responsáveis pela gestão ambiental nas suas respectivas jurisdições;
		p
			| CONSIDERANDO o art. 11 da Resolução n
			u
				sup º
			|  120, de 28 de outubro de 2015, do Conselho Estadual de Meio Ambiente – COEMA, que dispõe que a SEMAS poderá apoiar os Municípios quanto aos projetos de estruturação da gestão ambiental municipal;
		p
			| CONSIDERANDO que compete à SEMAS, nos termos do parágrafo único do art. 12 da Resolução n
			u
				sup º
			|  120, de 28 de outubro de 2015, do COEMA, manter atualizada a Lista Oficial dos Órgãos Ambientais Municipais Capacitados ao exercício da gestão ambiental municipal, o qual será divulgada no endereço eletrônico da SEMAS;
		p
			| CONSIDERANDO a Portaria n
			u
				sup º 
			| 179, de 11 de fevereiro de 2016, publicada no Diário Oficial do estado de nº 33066, de 12 de fevereiro de 2016, de dispõe sobre Municípios do Estado do Pará que possuem capacidade para exercer a gestão ambiental e dá outras providências;
		p
			| CONSIDERANDO os princípios que regem a Administração Pública, em especial os da legalidade e publicidade,
		p
			strong RESOLVE:
		p
			strong  
			| Art. 1
			u
				sup º 
			|  Fica excluído da Portaria n
			u
				sup º 
			| 179, de 11 de fevereiro de 2016, publicada no Diário Oficial do Estado de n
			u
				sup º
			|  33066, de 12 de fevereiro de 2016, o Município de Água Azul do Norte, que se declarou incapaz de exercer a gestão ambiental municipal.
		p
			| Parágrafo único. A partir desta data a relação atualizada dos Municípios habilitados para exercer a gestão ambiental parcial e/ou plena será disponibilizada no site do Órgão, documento de consulta oficial do órgão, ficando dispensada sua publicação no Diário Oficial do Estado.
		p Art. 2º Esta Portaria entra em vigor na data da sua publicação.
		p  
		p Belém, ___ de agosto de 2016.
		p
			em  
			em  
			em  L
			| UIZ FERNANDES ROCHA
		p
			strong
				em Secretário de Estado de Meio Ambiente e Sustentabilidade
