div(title='RESOLUÇÃO COEMA No 120, DE 28 DE OUTUBRO 2015.', type='doc')
	article.estiloLegislacao
		h2.title RESOLUÇÃO COEMA No 120, DE 28 DE OUTUBRO 2015. 
		p
			strong Data: 5 de novembro de 2015
		p(style='margin-left: 20%;')
			strong
		p(style='padding-left: 510px;')
			| Dispõe sobre as atividades de impacto ambiental local, de competência dos Municípios, e dá outras providências.
		p
			strong O SECRETARIO DO CONSELHO ESTADUAL DE MEIO AMBIENTE DO PARÁ
			| , no uso das atribuições que lhes são conferidas no art. 4
			u
				sup o
			| -A da Lei Estadual n
			u
				sup o
			|  5.752, de 26 de agosto de 1993, com suas devidas alterações, e o disposto no Decreto Estadual n
			u
				sup o
			|  1.859, de 16 de setembro de 1993,
		p
			| CONSIDERANDO o disposto no art. 23, VI e VII da Constituição Federal, de 1988, que atribui à União, aos Estados, ao Distrito Federal e aos Municípios a competência comum para proteção do meio ambiente e combate à poluição em todas as suas formas;
		p
			| CONSIDERANDO o contido no art. 9
			u
				sup o
			| , XIV, alínea “a” e no art. 18, § 2
			u
				sup o
			|  da Lei Complementar n
			u
				sup o
			|  140, de 8 de dezembro de 2011, que estabelecem aos Conselhos Estaduais de Meio Ambiente a competência para edição de ato normativo em matéria de ações administrativas dos Municípios definindo as atividades de impacto ambiental local, referente às tipologias aplicáveis, com critérios de porte, potencial poluidor e natureza da atividade;
		p
			| CONSIDERANDO o art. 6
			u
				sup o
			|  da Lei Federal n
			u
				sup o
			|  6.938, de 31 de agosto de 1981, que dispõe sobre a estrutura do Sistema Nacional de Meio Ambiente – SISNAMA e determina que as ações de cooperação entre a União, os Estados, o Distrito Federal e os Municípios deverão ser desenvolvidas de modo a garantir o desenvolvimento sustentável, harmonizando e integrando os sistemas de meio ambiente, nacional estadual e municipal;
		p
			| CONSIDERANDO que o art. 6
			u
				sup o
			|  da Resolução n
			u
				sup o
			|  237, de 19 de dezembro de 1997, do Conselho Nacional do Meio Ambiente – CONAMA, estabelece a competência do órgão ambiental municipal para o licenciamento ambiental de empreendimentos e atividades de impacto ambiental local, e de outros que lhe forem delegadas pelo Estado por instrumento legal ou convênio;
		p
			| CONSIDERANDO o previsto no art. 17, VI e VII da Constituição do Estado do Pará, que estabelece a competência comum para proteger o meio ambiente e combater a poluição em qualquer de suas formas;
		p
			| CONSIDERANDO que a Lei Estadual n
			u
				sup o
			|  5.887, de 9 de maio de 1995, em seu art. 7
			u
				sup o
			|  e seguintes, dispõe acerca do Sistema Estadual de Meio Ambiente – SISEMA, prevendo como órgãos locais os organismos ou entidades municipais responsáveis pela gestão ambiental nas suas respectivas jurisdições,
		p
			strong RESOLVE:
		p CAPÍTULO I
		p DISPOSIÇÕES GERAIS
		p
			| Art.1
			u
				sup o
			|  Estabelecer as atividades de impacto ambiental local e recomendações, para fins de licenciamento ambiental municipal, a ser realizado pelos Municípios no âmbito do Estado do Pará.
		ul
			li
				| 1
				u
					sup o
				|  Para os efeitos desta Resolução, considera-se impacto ambiental local qualquer alteração das propriedades físicas, químicas e biológicas do meio ambiente, causada por qualquer forma de matéria ou energia resultante das atividades humanas que, direta ou indiretamente, afetam a saúde, a segurança e o bem-estar da população, as atividades sociais e econômicas, a biota, as condições estéticas e sanitárias do meio ambiente, a qualidade dos recursos ambientais, dentro dos limites do Município.
		ul
			li
				| 2
				u
					sup o
				|  A tipologia das atividades de impacto ambiental local no Estado do Pará, prevista no Anexo único, abrange as atividades ou empreendimentos de acordo com o porte, o potencial poluidor/degradador e a natureza da atividade.
		ul
			li
				| 3
				u
					sup o
				|  Para o licenciamento de atividades ou empreendimentos de impacto ambiental local em Unidades de Conservação Estadual ou Federal deverão ser consultados os órgãos competentes da União e do Estado.
		p
			| Art. 2
			u
				sup o
			|   Estão sujeitas ao licenciamento ambiental municipal as atividades e/ou empreendimentos relacionados no Anexo único, parte integrante desta Resolução.
		ul
			li
				| 1
				u
					sup o
				|  A supressão de vegetação decorrente do licenciamento ambiental de atividades de impacto local, em área urbana ou rural, quando resultar de obras de infraestruturas, será autorizada pelo órgão licenciador municipal.
		ul
			li
				| 2
				u
					sup o
				|  A supressão de vegetação decorrente de atividades rurais produtivas em áreas não consolidadas, assim classificadas conforme a Lei Federal n
				u
					sup o
				|  12.651, de 25 de maio de 2012, será autorizada pelo Estado.
		p
			| Art. 3
			u
				sup o
			|   A avaliação dos impactos ambientais de um empreendimento deverá corresponder à totalidade dos impactos, incluindo aqueles decorrentes do corte de vegetação.
		ul
			li
				| 1
				u
					sup o
				|  O licenciamento de empreendimento que compreender mais de uma atividade será efetuado considerando o enquadramento de maior impacto, sendo vedado o fracionamento do licenciamento ambiental.
		ul
			li
				| 2
				u
					sup o
				|  O órgão ambiental municipal, ao detectar a formação de processo de licenciamento fora do seu âmbito de competência, encaminhará o pleito ao órgão ambiental competente, comunicando tal ato ao requerente.
		p
			| Art. 4
			u
				sup o
			|   O órgão ambiental exigirá, quando couber, no processo de licenciamento, a outorga de recursos hídricos ou a declaração de dispensa de outorga, emitida pelo órgão competente, considerando a situação atual do empreendimento, nos termos da legislação específica.
		p
			| Art. 5
			u
				sup o
			|   No que se refere ao Cadastro Ambiental Rural – CAR, obrigatório para todo imóvel rural localizado no Estado do Pará, economicamente produtivo ou não, nos termos da Lei Federal n
			u
				sup o
			|  12.651, de 2012, Decreto Federal n
			u
				sup o
			|  7.830, de 17 de outubro de 2012, e do Decreto Estadual n
			u
				sup o
			|  1.148, de 17 de julho de 2008, fica estabelecido que:
		p
			| I – os Municípios que atendam as exigências previstas na Lei Complementar n
			u
				sup o
			|  140, de 8 de dezembro de 2011, e na presente Resolução, considerados, pois, aptos a exercer a gestão ambiental de atividades de impacto local, procederão à análise e a aprovação dos dados contidos no CAR dentro de sua circunscrição, inclusive quanto ao percentual e localização da área de reserva legal, conforme disposto na Lei Federal n
			u
				sup o
			|  12.651, de 2012;
		p
			| II – a Secretaria de Estado de Meio Ambiente e Sustentabilidade do Para – SEMAS/PA deverá capacitar os técnicos dos órgãos ambientais municipais e permitir-lhes acesso ao sistema oficial de registro e aprovação do CAR adotado no âmbito do Estado do Pará; e
		p
			| III – a SEMAS, na condição de órgão central executor do Sistema Estadual de Meio Ambiente – SISEMA, deverá acompanhar as atividades de que trata o presente artigo, zelando pela regular e adequada operação e alimentação do sistema oficial de registro do CAR.
		p
			| Art. 6
			u
				sup o
			|   Serão implementadas ações de divulgação e de Educação Ambiental, direcionadas aos entes municipais responsáveis pelo licenciamento de atividades ou empreendimentos considerados de impacto ambiental local.
		p
			| Art. 7
			u
				sup o
			|   Os procedimentos que deverão ser adotados para o licenciamento das atividades ou empreendimentos de impacto ambiental local, obedecerão às normas legais e aos requisitos técnicos estabelecidos na legislação vigente, devendo observar as diretrizes expedidas pelo Conselho Estadual de Meio Ambiente do Pará – COEMA, bem como, utilizar, como parâmetro, as normativas expedidas pela SEMAS.
		p CAPÍTULO II
		p DO EXERCÍCIO DA GESTÃO AMBIENTAL MUNICIPAL
		p
			| Art. 8
			u
				sup o
			|   As ações administrativas decorrentes da competência comum, prevista no art. 23, incisos III, VI e VII da Constituição Federal, de 1988, serão exercidas por meio de órgão ambiental municipal capacitado e Conselho Municipal de Meio Ambiente, atendidos os requisitos constantes na Lei Complementar n
			u
				sup o
			|  140, de 2011, e considerando as seguintes recomendações:
		p
			| I – possuir quadro técnico próprio ou em consórcio, bem como outros instrumentos de cooperação que possam, nos termos da Lei, ceder-lhe pessoal técnico, devidamente habilitado e em número compatível com a demanda das ações administrativas para o exercício da gestão ambiental, de competência do ente federativo;
		p
			| II – possuir legislação própria que disponha sobre a política de meio ambiente e sobre o poder de polícia ambiental administrativa, disciplinando as normas e procedimentos do licenciamento e de fiscalização de empreendimentos ou atividades de impacto ambiental local, bem como legislação que preveja as taxas aplicáveis;
		p
			| III – criar, instalar e colocar em funcionamento o Conselho Municipal de Meio Ambiente;
		p
			| IV – criar, implantar e gerir, por meio de comitê gestor, o Fundo Municipal de Meio Ambiente;
		p
			| V – possuir, em sua estrutura, órgão executivo com capacidade administrativa e técnica interdisciplinar para o exercício da gestão ambiental municipal e para a implementação das políticas de planejamento territorial; e
		p
			| VI – possuir Plano Diretor de Desenvolvimento Urbano, o Município com população superior a 20.000 habitantes, ou Lei de Diretrizes Urbanas, o Município com população igual ou inferior a 20.000 habitantes.
		ul
			li
				| 1
				u
					sup º
				|  Deverá ser observado, para fins de constituição da equipe técnica mínima, de que trata o inciso I do art. 8
				u
					sup º
				|  desta Resolução, a tipologia e a classificação das atividades ou empreendimentos a serem licenciados pelo Município.
			li
				| 2
				u
					sup º
				|  Considera-se Conselho Municipal de Meio Ambiente, para fins do disposto nesta Resolução, àquele que, efetivamente, tenha suas atribuições e composição previstas em Lei, assegurada a participação social, no mínimo paritária, com caráter deliberativo, e que possua regimento interno aprovado.
		p
			| Art. 9
			u
				sup o
			|   Observadas as disposições previstas na Lei Complementar 140, de 2011, e no art. 8
			u
				sup o
			|  desta norma, o Município está apto para exercer sua gestão ambiental plena.
		ul
			li
				| 1
				u
					sup o
				|  O COEMA poderá acompanhar o desempenho do exercício da gestão ambiental, fazendo recomendações e requisições, quando couber.
		ul
			li
				| 2
				u
					sup o
				|  Poderá o Município solicitar à SEMAS apoio técnico e administrativo para o licenciamento, monitoramento ou fiscalização de determinado empreendimento ou atividade, nos termos do art. 16 da Lei Complementar n
				u
					sup o
				|  140, de 2011.
		p CAPÍTULO III
		p DO APOIO À MUNICIPALIZAÇÃO
		p
			| Art. 10.  O ente municipal que tiver interesse, poderá solicitar apoio ao Estado na construção do processo de municipalização, devendo, para tanto, contar com os instrumentos dispostos no art. 8
			u
				sup o
			|  desta Resolução.
		p
			| Art. 11.  A SEMAS poderá apoiar os Municípios quanto aos projetos de estruturação da gestão ambiental municipal.
		p
			| Art. 12. Caberão aos Municípios informar, ao COEMA, que estão exercendo a gestão ambiental municipal, no termos do art. 8
			u
				sup o
			|  desta Resolução.
		p
			| Parágrafo único.  A SEMAS manterá atualizada a Lista Oficial dos Órgãos Ambientais Municipais Capacitados ao exercício da gestão ambiental municipal, o qual será divulgada no endereço eletrônico da SEMAS, conforme informações repassadas pelo COEMA.
		p CAPÍTULO IV
		p DISPOSIÇÕES FINAIS
		p
			| Art. 13. O ente Municipal que declarar inexistência de órgão ambiental capacitado para o exercício da gestão local, repassará ao Estado a competência supletiva de que trata o art. 15, II da Lei Complementar n
			u
				sup o
			|  140, de 2011.
		p
			| Art. 14. Inexistindo órgão ambiental municipal capacitado, o Estado exercerá a competência supletiva de que trata o art. 15, II da Lei Complementar n
			u
				sup o
			|  140, de 2011.
		p
			| Art. 15. O Município poderá obter delegação de competência, por meio de convênio, para a execução de ações administrativas cuja competência seja do Estado, mediante o atendimento de requisitos definidos em norma específica.
		p
			| Art. 16.  Esta Resolução aplica-se aos pedidos realizados pelos Municípios, para o exercício da gestão ambiental local, já protocolados na SEMAS/PA, em observância ao disposto no art. 23, VI e VII da Constituição Federal, de 1988.
		ul
			li
				| 1
				u
					sup o
				|  Com a publicação desta Resolução, os atos administrativos concedidos ou firmados pela SEMAS, junto ao Município, para o exercício da sua gestão ambiental municipal, perderão seus efeitos legais, tendo em vista o disposto no art. 23, VI e VII, da Constituição Federal, de 1988, assim como na Lei Complementar n
				u
					sup o
				|  140, de 2011.
		ul
			li
				| 2
				u
					sup o
				|  Os processos de habilitação em trâmite na SEMAS, conforme o disposto no art. 10 desta norma, serão arquivados e os municípios devidamente informados do respectivo ato.
		p
			| Art. 17. As ações de cooperação entre os entes federativos deverão ser desenvolvidas de modo a garantir os objetivos previstos no art. 3
			u
				sup o
			|  da Lei Complementar n
			u
				sup o
			|  140, de 2011, e fortalecer o Sistema Nacional e Estadual de Meio Ambiente, harmonizando e integrando todas as políticas governamentais.
		p
			| Art. 18. O exercício da atividade de fiscalização deverá observar o disposto no art. 17 da Lei Complementar n
			u
				sup o
			|  140, de 2011, pautando suas ações pelo planejamento e atuação conjunta dos órgãos ambientais estaduais e municipais.
		p
			| Art. 19. Os órgãos estaduais fiscalizadores e de monitoramento da política ambiental devem acompanhar o cumprimento da presente Resolução pelos órgãos ambientais municipais.
		p
			| Art. 20. 
			em  
			| A SEMAS, na condição de órgão central executor do Sistema Estadual de Meio Ambiente -SISEMA, poderá instituir sistema eletrônico de gestão ambiental municipal, onde os órgãos municipais deverão registrar todos os processos administrativos, licenças e autorizações expedidas, como forma de assegurar os princípios da publicidade, informação e transparência das ações ambientais.
		p
			| Art. 21. A SEMAS poderá baixar atos disciplinares visando cumprir o disposto nesta Resolução e garantir o adequado funcionamento do Sistema Estadual de Meio Ambiente –SISEMA.
		p
			| Art. 22. Fica revogada a Resolução n
			u
				sup o
			|  116, de 3 de julho de 2014, do Conselho Estadual de Meio Ambiente do Pará – COEMA/PA, com exceção do seu Anexo único, o qual passa a fazer parte integrante desta Resolução.
		p Art. 23. Esta Resolução entra em vigor na data de sua publicação.
		p  
		p
			a(href='https://www.semas.pa.gov.br/wp-content/uploads/2015/11/AnexoUnico_Nova-ResoluçaoFinal.doc') >> CLIQUE AQUI PARA EFETUAR O DOWNLOAD DO ANEXO ÚNICO <<
		p  
		p
			| PLENÁRIO DO CONSELHO ESTADUAL DE MEIO AMBIENTE – COEMA, em 21 de outubro de 2015.
		p  
		p(style='text-align: center;')
			strong
				em LUIZ FERNANDES ROCHA
		p(style='text-align: center;')
			em Secretario do Conselho Estadual do Meio Ambiente – COEMA
		p  
