div(title='RESOLUÇÃO COEMA N O 107, DE 8 DE MARÇO DE 2013.', type='doc')
	article.estiloLegislacao
		h2.title RESOLUÇÃO COEMA N O 107, DE 8 DE MARÇO DE 2013. 
		p
			strong Data: 18 de julho de 2016
		p(style='margin-left: 20%;')
			strong
		p
			| Define os critérios para enquadramento de obra ou empreendimentos/atividades de baixo potencial poluidor/degradador ou baixo impacto ambiental passíveis de Dispensa de Licenciamento Ambiental (DLA) e dá outras providências.
		p
			a(href='https://www.semas.pa.gov.br/wp-content/uploads/2016/07/ANEXO-I.pdf') Anexo I 
		p
			a(href='https://www.semas.pa.gov.br/wp-content/uploads/2016/07/anexo_II.pdf') Anexo II
		p
			span(style='font-weight: 400;') O
			b  SECRETÁRIO DE ESTADO DE MEIO AMBIENTE,
			span(style='font-weight: 400;')
				| Secretario do Conselho Estadual de Meio Ambiente – COEMA, no uso das atribuições que lhes são conferidas no art. 4
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;') -A da Lei Estadual n
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| 5.752, de 26 de agosto de 1993, alterada pela Lei nº 7.026, de 30 de julho de 2007 e o disposto no Decreto Estadual nº 1.859, de 16 de setembro de 1993, e
		p
			span(style='font-weight: 400;')
				| CONSIDERANDO a competência do Estado do Pará em definir os critérios de exigibilidade do licenciamento ambiental, levando em consideração as especificidades, os riscos ambientais, o porte e outras características do empreendimento ou atividade preconizada no § 2
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')  do art. 2
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;') , da Resolução do CONAMA n
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')  237, de 19 de dezembro de 1997;
		p
			span(style='font-weight: 400;') CONSIDERANDO a Instrução Normativa n
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| 02, de 25 de abril de 2012, que dispõe sobre procedimentos para protocolo de processos de licenciamento ambiental que dependem de Outorga Preventiva ou Outorga de Direito de Uso de Recursos Hídricos;
		p
			span(style='font-weight: 400;') CONSIDERANDO que a Lei Federal n
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| 12.651/2012 (Código Florestal), norma geral, prevê tratamento simplificado para o pequeno proprietário rural ou de posse rural familiar, bem como incentiva as atividades produtivas de agricultura familiar e agrossilvopastoris;
		p
			span(style='font-weight: 400;')
				| CONSIDERANDO que o Programa Pará Rural é um Programa de Redução da Pobreza e Gestão dos Recursos Naturais do Pará, co-financiado pelo Governo do Estado do Pará – GEP e Banco Interamericano de Reconstrução e Desenvolvimento – BIRD, e que tem como objetivo dentre outros o aumento da renda e melhoria das condições de vida de comunidades rurais pobres, mediante o financiamento de processos de desenvolvimento, implementação de projetos produtivos e provisão de infraestrutura complementar à produção;
		p
			span(style='font-weight: 400;')
				| CONSIDERANDO a necessidade de regulamentar os procedimentos, quando for o caso, para a emissão da declaração da dispensa de licenciamento ambiental de obras ou empreendimentos/atividades de baixo potencial poluidor/degradador,
		p
			b RESOLVE:
		p
			span(style='font-weight: 400;') Art. 1
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| Fica criada a Declaração de Dispensa de Licenciamento Ambiental (DLA) concedida para os empreendimentos passíveis de dispensa de licenciamento ambiental pelo órgão ambiental, conforme os critérios estabelecidos nesta resolução e em resoluções específicas.
		p
			span(style='font-weight: 400;') Art. 2
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| Esta resolução define as obras ou empreendimentos/atividades, de baixo potencial poluidor/degradador, passíveis de dispensa de licenciamento ambiental, relacionadas no Anexo I desta Resolução.
		ul
			li
				span(style='font-weight: 400;')  1
				span(style='font-weight: 400;') o
				span(style='font-weight: 400;')
					| Exclui-se do caput deste artigo as obras ou empreendimentos/atividades, que necessitem suprimir vegetação de espécimes florestais com DAP (diâmetro a altura do peito) maior que 10 cm, devendo ser solicitado o licenciamento ambiental regular junto ao órgão ambiental competente.
		ul
			li
				span(style='font-weight: 400;')  2
				span(style='font-weight: 400;') o
				span(style='font-weight: 400;')
					| Exclui-se, também, do caput deste artigo as obras ou empreendimentos/atividade que incidam em área de preservação permanente e demais áreas legalmente protegidas e necessitem suprimir vegetação de floresta primária ou de formações sucessoras em estágio avançado de regeneração devendo ser solicitado o licenciamento ambiental regular junto ao órgão ambiental competente.
		p
			span(style='font-weight: 400;') Art. 3
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| A dispensa do licenciamento ambiental de obras ou empreendimentos/atividades de baixo potencial poluidor/degradador não desobriga o interessado de obter as demais licenças e/ou autorizações legalmente exigíveis na esfera municipal, estadual ou federal, bem como outros atos autorizativos legalmente exigíveis.
		p
			span(style='font-weight: 400;') Art. 4
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| As obras ou empreendimentos/atividades, constantes do Anexo I, deverão, nas fases de instalação e operação:
		p
			span(style='font-weight: 400;') I –
			span(style='font-weight: 400;')  c
			span(style='font-weight: 400;') onsiderar as legislações aplicáveis à obra ou empreendimento/atividade;
		p
			span(style='font-weight: 400;') II –
			span(style='font-weight: 400;')  p
			span(style='font-weight: 400;')
				| rojetar a obra ou empreendimento/atividade considerando as Normas Brasileiras de Referência – NBR’s que regulamentam a matéria, em especial as que abordam o tratamento dos efluentes líquidos e gasosos e a disposição final adequada dos resíduos sólidos;
		p
			span(style='font-weight: 400;') III –
			span(style='font-weight: 400;')  a
			span(style='font-weight: 400;')
				| dquirir material de emprego imediato na construção civil, bem como madeiras e outros insumos de fornecedores devidamente regularizados no órgão ambiental competente;
		p
			span(style='font-weight: 400;') IV –
			span(style='font-weight: 400;')  p
			span(style='font-weight: 400;')
				| ossuir a Outorga Preventiva ou Outorga de Direito de Uso dos Recursos Hídricos ou Dispensa de Outorga, quando for o caso.
		p
			span(style='font-weight: 400;') Art. 5
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| Os proprietários dos empreendimentos/atividades ou obra passíveis de dispensa de licenciamento ambiental relacionadas no Anexo I desta Resolução deverão requerer junto ao órgão ambiental competente a Declaração de Dispensa do Licenciamento Ambiental (DLA).
		p
			span(style='font-weight: 400;') Art. 6
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| A SEMAS deverá, no prazo máximo de 60 (sessenta) dias, operacionalizar os procedimentos para solicitação, no âmbito estadual, do pedido da Declaração de Dispensa do Licenciamento Ambiental (DLA).
		p
			span(style='font-weight: 400;')
				| Parágrafo único. Até a operacionalização pela Semas, a ausência de DLA pelo interessado não implica autuação, no âmbito estadual, de qualquer natureza.
		p
			span(style='font-weight: 400;') Art. 7
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| As atividades/empreendimentos ou obras não previstas no Anexo I desta Resolução e em normas específicas, deverão ser analisada
			span(style='font-weight: 400;') s
			span(style='font-weight: 400;')  pela SEMAS.
		p
			span(style='font-weight: 400;')
				| Parágrafo Único. Não sendo caso de dispensa de licenciamento, o órgão ambiental competente notificará o interessado informando-o sobre os procedimentos necessários para sua regularização ambiental.
		p
			span(style='font-weight: 400;') Art. 8
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')   É inexigível o licenciamento ambiental para as práticas descritas no Anexo II.
		p
			span(style='font-weight: 400;') Art. 9
			span(style='font-weight: 400;') o
			span(style='font-weight: 400;')
				| O não cumprimento do estabelecido nesta Resolução, bem como a declaração inverídica do interessado implicará na suspensão e/ou cancelamento da validade da DLA e sujeita o infrator às sanções administrativas, cíveis e criminais previstas na legislação competente.
		p
			span(style='font-weight: 400;')
				| Art. 10.  Esta Resolução entra em vigor na data de sua publicação, revogando as disposições em contrário.
		p
			span(style='font-weight: 400;') PLENÁRIO DO CONSELHO ESTADUAL DO MEIO AMBIENTE – COEMA, em 8 de MARÇO de 2013.
		p
			b
				i JOSÉ ALBERTO DA SILVA COLARES
		p
			i
				span(style='font-weight: 400;') Secretario do Conselho Estadual do Meio Ambiente – COEMA
