div(title='RESOLUÇÃO  AD REFERENDUM COEMA Nº 117, DE 25 DE NOVEMBRO DE 2014', type='doc')
	article.estiloLegislacao
		h2.title RESOLUÇÃO  AD REFERENDUM COEMA Nº 117, DE 25 DE NOVEMBRO DE 2014 
		p
			strong Data: 25 de novembro de 2014
		p(style='margin-left: 20%;')
			strong
		p
			strong O SECRETÁRIO DE ESTADO DE MEIO AMBIENTE
			| , Secretario do Conselho Estadual de Meio Ambiente – COEMA, no uso das atribuições que lhes são conferidas no art. 4º-A, da Lei Estadual nº 5.752, de 26 de agosto de 1993, alterada pela Lei nº 7.026, de 30 de julho de 2007 e o disposto no Decreto Estadual nº 1.859, de 16 de setembro de 1993; e
		p
			strong CONSIDERANDO
			|  os dispositivos da Lei Estadual nº 6.724, de 02 de fevereiro de 2005, que alterou a Lei Estadual nº 6.013, de 27 de dezembro de 1996, que estabelecem as taxas administrativas das licenças ambientais e das Autorizações;
		p
			strong CONSIDERANDO
			|  o disposto no parágrafo único do art.9º da Lei Estadual nº 6.013, de 27 de dezembro de 1996;
		p
			strong RESOLVE:
		p
			strong Art.1º
			|  – Aprovar 
			em Ad Referendum 
			| o anexo que estabelece a tabela de enquadramento das atividades sujeitas à cobrança de taxas pelo exercício regular do poder de polícia administrativa ambiental nas classes previstas na Lei Estadual nº 6.724, de 02 de fevereiro de 2005 que alterou a Lei Estadual nº 6.013, de 27 de dezembro de 1996.
		p
			strong Parágrafo Único
			| : O enquadramento a que se refere o “caput” deste artigo é anexo desta RESOLUÇÃO do qual passa a fazer parte integrante, que será submetida à apreciação do COEMA na próxima reunião ordinária.
		p
			strong Art.2º
			|  – Esta Resolução entra em vigor na data de sua publicação, revogando as disposições em contrário, especialmente a 
			strong RESOLUÇÃO COEMA nº 110
			| , de 10 de outubro de 2013.
		p
			strong
				| GABINETE DO SECRETÁRIO ESTADUAL DE MEIO AMBIENTE E SECRETARIO DO CONSELHO ESTADUAL DE MEIO AMBIENTE – COEMA,
		p Belém, 25/11/2014
		p Publique-se, dê-se ciência e cumpra-se
		p
			strong JOSÉ ALBERTO DA SILVA COLARES
		p
			| Secretário de Estado de Meio Ambiente Secretario do Conselho Estadual de Meio Ambiente – COEMA
		p
			a(href='http://www.sema.pa.gov.br/download/anexos_coema/anexo_resolucao_117_coema.xlsx') Anexo – Tabela de Enquadramento das Atividades (download)
