doctype html
head
  title Análise - Licenciamento Ambiental - Pará;
  link(rel='stylesheet' href='${templatePath}/style/estilo.css')
  meta(charset='UTF-8')
body
    center
        div
            img.logo(src='/public/app/images/brasao_pa.png')
            br
            h1 GOVERNO DO ESTADO DO PARÁ;
            br
            h2 SECRETARIA DE MEIO AMBIENTE E SUSTENTABILIDADE - SEMAS/PA