div(ng-if="usuarioSessao.perfilSelecionado.id === analiseEmAndamentoListagem.perfis.CONSULTOR_JURIDICO", 
    ng-controller='analiseEmAndamentoJuridicoListController as listagem')
    include consultorJuridico/analise-em-andamento-listagem