
html(lang='en')
    head
        meta(charset='utf-8')
        title Análise - Licenciamento Ambiental - Amazonas
        link(rel='stylesheet' href='${templatePath}/style/estilo.css')

    body
        div.centraliza-texto
            img.logo(src='/public/app/images/brasao_am.png' height="100" width="70" style="margin-top:5px; margin-bottom:0px;")
            br
            span GOVERNO DO ESTADO DO Amazonas
            br
            span INSTITUTO DE PROTEÇÃO AMBIENTAL DO AMAZONAS - IPAAM