div(uib-accordion class="accordion")
    div(uib-accordion-group class="panel-default" is-open="$ctrl.openedAccordion")
        div(uib-accordion-heading)
            | Filtros para consulta 
            i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.openedAccordion, 'glyphicon-chevron-right': !$ctrl.openedAccordion}")

        .row.form-group
            .col-md-5.col-sm-6
                label.control-label Número do processo:
                input.form-control(type='text', name='numProcesso', ng-model='$ctrl.filtro.numProcesso', placeholder='Número do processo', maxlength="15")

            .col-md-7.col-sm-6
                label.control-label CPF/CNPJ do empreendimento:
                input.form-control(type='text', name='cpfCnpjEmpreendimento', ng-model='$ctrl.filtro.cpfCnpjEmpreendimento', placeholder=' CPF/CNPJ do empreendimento', ui-br-cpfcnpj-mask)                            

        .row.form-group
            .col-md-12
                label.control-label Município do empreendimento:
                select.form-control(ng-model="$ctrl.filtro.idMunicipioEmpreendimento", name="selectMunicipio",
                                    ng-options="municipio.id as municipio.nome for municipio in $ctrl.municipios track by municipio.id")
                    option(value="") Selecione o município do empreendimento 

        .row.form-group
            .col-md-12
                label.control-label Tipologia do empreendimento:
                select.form-control(ng-model="$ctrl.filtro.idTipologiaEmpreendimento", name="selectTipologia",
                                    ng-options="tipologia.id as tipologia.nome for tipologia in $ctrl.tipologias | orderBy:'nome' track by tipologia.id")
                    option(value="") Selecione a tipologia do empreendimento

        .row.form-group
            .col-md-12
                label.control-label Atividade do empreendimento:
                select.form-control(ng-model="$ctrl.filtro.idAtividadeEmpreendimento", name="selectAtividade",
                                    ng-options="atividade.id as atividade.nome for atividade in $ctrl.atividades | orderBy:'nome' track by atividade.id")
                    option(value="") Selecione a atividade do empreendimento

        div
            button.btn.btn-default.pull-right.btn-success(ng-click="$ctrl.pesquisar()", tabindex="0")
                span.glyphicon.glyphicon-search 
                | &nbsp;Pesquisar