body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.header {
	display: block; text-align: center;
	position: running(header);
	background-color: #bfbfbf;
	border: solid 1px #000;
}

.titulo-tabela {
	background-color: red;
	text-align: center;
}


@page {
	@top-center { content: element(header) }
}