body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
	margin-top: 20px;
	text-align: center;
	position: running(header);
	background-color: #bfbfbf;
	border: solid 1px #000;
	border-style: double;
	display: block;
}

@page {
	@top-center { content: element(header) };
	margin-top: 3.0in;
	margin-bottom: 1.0in;
}

.header-item-large {
	padding-top: 23px;
	float: left;
	width: 50%;
}

.header-item-small {
	float: left;
	width: 20%;
}

.header-item-small-padding {
	padding-top: 8px;
	float: left;
	width: 10%;
}

.header-item-medium {
	padding-top: 8px;
	float: left;
	width: 20%;
	color: #00681b;
}

.header:after {
	content: "";
	display: block;
	clear: both;
}