<!DOCTYPE html>%{
processo = analiseEspecifica.analise.processo;
empreendimento = analiseEspecifica.analise.processo.empreendimento;
empreendimentoNome = empreendimento.pessoa.type == "PessoaFisica" ? empreendimento.pessoa.nome : empreendimento.pessoa.razaoSocial;
atividadesCaracerizacao = analiseEspecifica.analise.processo.caracterizacoes.get(0).atividadesCaracterizacao;
bairro = org.apache.commons.lang.StringUtils.isBlank(empreendimento.endereco.bairro) ? "" : " - " + empreendimento.endereco.bairro;
numero = org.apache.commons.lang.StringUtils.isBlank(empreendimento.endereco.numero) ? "s/n" : empreendimento.endereco.numero;
cep = empreendimento.endereco.cep == null ? "-" : empreendimento.endereco.cep;
municipio = empreendimento.endereco.municipio.nome + " - " + empreendimento.endereco.municipio.estado.codigo;
endereco = empreendimento.endereco.tipo.id == 1 ? empreendimento.endereco.roteiroAcesso + ", " + municipio : empreendimento.endereco.logradouro + " " + numero + bairro + ", " + municipio;
}%<html lang="en"><head><title>Análise - Licenciamento Ambiental - Pará</title><link rel="stylesheet" href="${templatePath}/style/estilo.css"><meta charset="UTF-8"></head></html><body><div style="text-align: center; margin-bottom: 20px"><div><img class="logo" src="/public/app/images/brasao_pa.png" height="139" width="186"></div><div><h3>GOVERNO DO ESTADO DO PARÁ</h3></div><div><h4>Secretaria de Estado de Meio Ambiente e Sustentabilidade</h4><h4>Diretoria de Gestão Florestal e Agrossilvipastoril - DGFLOR</h4></div></div><p><strong>Processo Nº:</strong>	${processo.numero}</p><p><strong>Requerente / Arrendatário:</strong>	${empreendimentoNome}</p><p><strong>Endereço:</strong><br>	${endereco}<br>	CEP: ${cep}</p><p><strong>Referente a pendência:</strong><br>#{if analiseArea == "ANALISE_JURIDICA"}
Em atenção ao processo protocolado nesta secretaria, sob o nº ${processo.numero} em ${new java.text.SimpleDateFormat("dd/MM/yyyy").format(processo.dataCadastro)},
no qual solicita ${licencas} para
#{list atividadesCaracerizacao, as:'atividadeCaracterizacao'}
${atividadeCaracterizacao.atividade.nome} - ${atividadeCaracterizacao.atividade.parametro.codigo} - ${atividadeCaracterizacao.atividade.potencialPoluidor.codigo},
#{/list}
no município de ${empreendimento.endereco.municipio.nome}, notificamos V.Sa. a atender, dentro do prazo estabelecido, as exigências relacionadas abaixo, a fim de ser dada continuidade à análise do pleito:
#{/if}
#{else}
Em atenção ao processo protocolado nesta secretaria, sob o nº ${processo.numero} em ${new java.text.SimpleDateFormat("dd/MM/yyyy").format(processo.dataCadastro)},
no qual solicita ${licencas} para
#{list atividadesCaracerizacao, as:'atividadeCaracterizacao'}
${atividadeCaracterizacao.atividade.nome} - ${atividadeCaracterizacao.atividade.parametro.codigo} - ${atividadeCaracterizacao.atividade.potencialPoluidor.codigo},
#{/list}
no município de ${empreendimento.endereco.municipio.nome}, notificamos V.Sa. a atender, dentro do prazo estabelecido, as exigências relacionadas abaixo, para que possamos dar prosseguimento à análise do processo.
#{/else}</p><p><strong>Prazo de 10 (dez) dias</strong><ul>#{list items:notificacoes, as:'notificacao'}<li>${notificacao.tipoDocumento.nome}</li>#{/list}</ul></p><p>#{if analiseArea == 'ANALISE_JURIDICA'}
Outrossim, informamos que o não cumprimento da solicitação supracitada, no prazo estipulado acima, implicará no arquivamento do referido processo.
#{/if}
#{if analiseArea == 'ANALISE_TECNICA'}
Outrossim, informo que o não comprimento da solicitação supracitada, noprazo estipulado acima, implicará no arquivamento do referido processo.
#{/if}</p><body><br><div style="text-align: center"><button type="application/pdf" style="text-align: center" href="${urlDownload}" download="${nomeArquivo}" name="botao-baixar-pdf" value="Baixar PDF">Baixar PDF</button></div></body></body>