html(lang='en')
    head
        meta(charset='utf-8')
        title Análise - Licenciamento Ambiental - Amapá
        link(rel='stylesheet' href='${templatePath}/style/estilo.css')

    body
        div.centraliza-texto
            img.logo(src='/public/app/images/brasao_ap.png' height="100" width="70" style="margin-top:5px; margin-bottom:0px;")
            br
            span GOVERNO DO ESTADO DO AMAPÁ
            br
            span SECRETARIA DE ESTADO DO MEIO AMBIENTE - SEMA-AP
