doctype html
html(lang="pt-br")
  head
      meta(charset='utf-8')
      title An치lise - Licenciamento Ambiental - Amap치
      link(rel='stylesheet' href='${templatePath}/style/estilo.css')
      style.
        * {
          margin: 0px;
          padding:0px;
        }

  body
    div.footer
        hr
        p.in-left
            span.pull-left An치lise do Licenciamento - Amap치

            span(style="text-align:center;margin-left:100px;") Gerado em: ${new Date().format('dd/MM/yyyy HH:mm:ss')}

        p.in-right
            pagenumber
            span /
            pagecount
