include ./pessoa-fisica
include ./pessoa-juridica
include ./contato
include ./endereco

.panel.panel-default(name='empreendedor')
	.panel-heading
		h4.panel-title Empreendedor
	.panel-body
		div(ng-if="$ctrl.empreendimento.empreendedor.pessoa.type === 'PessoaFisica'")
			+pessoa-fisica('$ctrl.empreendimento.empreendedor.pessoa')

		div(ng-if="$ctrl.empreendimento.empreendedor.pessoa.type === 'PessoaJuridica'")
			+pessoa-juridica('$ctrl.empreendimento.empreendedor.pessoa')(modelEsfera="$ctrl.empreendimento.empreendedor.esfera")

		+contato('$ctrl.empreendimento.empreendedor.pessoa.contato')

		+endereco('$ctrl.enderecoEmpreendedorPrincipal', `"Endereço do empreendedor:"`)

		+endereco('$ctrl.enderecoEmpreendedorCorrespondencia', `"Endereço de correspondência:"`)

.panel.panel-default(name='proprietarios')
	.panel-heading
		h4.panel-title Proprietários
	.panel-body
		div.row
			div.col-md-12
				table.table.table-striped
					thead
						tr
							th CPF
							th Nome
							th Data de Nascimento
							th RG
					tbody
						tr(ng-repeat="proprietario in $ctrl.empreendimento.proprietarios")
							td {{proprietario.pessoa.cpf | brCpfCnpj}}
							td {{proprietario.pessoa.nome}}
							td {{proprietario.pessoa.dataNascimento | date :  'dd/MM/yyyy'}}
							td {{proprietario.pessoa.rg}}

.panel.panel-default(name='representantesLegais')
	.panel-heading
		h4.panel-title Representantes legais
	.panel-body
		div.row
			div.col-md-12
				table.table.table-striped
					thead
						tr
							th CPF
							th Nome
							th Data da vinculação
							th Email
					tbody
					tr(ng-repeat="representante in $ctrl.empreendimento.empreendedor.representantesLegais")
						td {{representante.pessoa.cpf | brCpfCnpj}}
						td {{representante.pessoa.nome}}
						td {{representante.dataVinculacao}}
						td {{representante.pessoa.contato.email || '-' }}

.panel.panel-default(name='empreendimento')
	.panel-heading
		h4.panel-title Empreendimento
	.panel-body
		div(ng-if="$ctrl.empreendimento.pessoa.type === 'PessoaFisica'")
			+pessoa-fisica('$ctrl.empreendimento.pessoa')

		div(ng-if="$ctrl.empreendimento.pessoa.type === 'PessoaJuridica'")
			+pessoa-juridica('$ctrl.empreendimento.pessoa', true)

		div.row
			div.col-md-12
				div.row
					label.col-md-2.text-right Denominação do empreendimento:
					span.col-md-10 {{$ctrl.empreendimento.denominacao}}

		div.row.form-group
			div.col-md-6
				div.row
					label.col-md-4.text-right Jurisdição do empreendimento:
					span.col-md-8  {{$ctrl.empreendimento.jurisdicao}}

			div.col-md-6
				div.row
					label.col-md-4.text-right Município/UF do empreendimento:
					span.col-md-8 {{$ctrl.empreendimento.municipio.nome}}/{{$ctrl.empreendimento.municipio.estado.codigo}}

		+contato('$ctrl.empreendimento.contato')

		+endereco('$ctrl.empreendimento.endereco', `"Endereço:"`)

		div.row
			label.col-md-2.text-right Localização do empreendimento:
			span.col-md-10  {{$ctrl.empreendimento.localizacao === 'ZONA_URBANA' ? 'Zona urbana' : 'Zona rural'}}

		div.row(ng-if="$ctrl.empreendimento.localizacao === 'ZONA_RURAL'")
			label.col-md-2.text-right CAR vinculado:
			span.col-md-10  {{$ctrl.empreendimento.imovel.codigo + " - " + $ctrl.empreendimento.imovel.nome + " - " + $ctrl.empreendimento.imovel.municipio.nome + " / " + $ctrl.empreendimento.imovel.municipio.estado.nome}}


.panel.panel-default(name='responsaveis')
	.panel-heading
		h4.panel-title Responsáveis técnicos e legais
	.panel-body
		div.row
			div.col-md-12
				table.table.table-striped
					thead
						tr
							th
							th CPF
							th Nome completo
							th E-mail
							th Celular
					tbody
						tr(ng-repeat="responsavel in $ctrl.empreendimento.responsaveis")
							td
								span.icone-responsavel-tecnico.legal(ng-show="responsavel.tipo === 'LEGAL'", title="Responsável legal")
								span.icone-responsavel-tecnico.tecnico(ng-show="responsavel.tipo === 'TECNICO'", title="Responsável técnico")
							td {{responsavel.pessoa.cpf | brCpfCnpj}}
							td {{responsavel.pessoa.nome}}
							td {{responsavel.contato.email || ' - '}}
							td {{(responsavel.contato.celular | brPhoneNumber) || ' - '}}