div(ng-if="usuarioSessao.perfilSelecionado.id === caixaEntrada.perfis.COORDENADOR_JURIDICO", 
    ng-controller='cxEntCoordenadorJuridicoController as cxEntCoordenadorJuridico')
    include coordenadorJuridico/caixa-entrada

div(ng-if="usuarioSessao.perfilSelecionado.id === caixaEntrada.perfis.CONSULTOR_JURIDICO", 
    ng-controller='cxEntConsultorJuridicoController as cxEntConsultorJuridico')
    include consultorJuridico/caixa-entrada

div(ng-if="usuarioSessao.perfilSelecionado.id === caixaEntrada.perfis.COORDENADOR_TECNICO", 
    ng-controller='cxEntCoordenadorTecnicoController as cxEntCoordenadorTecnico')
    include coordenadorTecnico/caixa-entrada    