#modalNotificacao

	div.modal-header

		button.close(type='button', ng-click="modalVisualizacaoNotificacaoCtrl.fechar()")
			span(aria-hidden='true') ×
			span.sr-only Fechar

		h4.modal-title Notificações

	div.modal-body
		div(ng-repeat="notificacao in modalVisualizacaoNotificacaoCtrl.notificacoes")
			.panel-group(id='accordion-notificacoes-{{notificacao.id}}')
				div
					a(href='javascript:;', data-toggle='collapse', data-parent='#accordion-notificacoes-{{notificacao.id}}',
						aria-expanded='false', data-target='#meus-dados-notificacao-{{notificacao.id}}'
						ng-init = 'modalVisualizacaoNotificacaoCtrl.openedAccordionNotificacoes[notificacao.id] = false',
						ng-click = 'modalVisualizacaoNotificacaoCtrl.openedAccordionNotificacoes[notificacao.id] = !modalVisualizacaoNotificacaoCtrl.openedAccordionNotificacoes[notificacao.id]' )
						.panel.panel-default
							.panel-heading
								h4.panel-title
									| Notificação do dia {{notificacao.dataNotificacao}}
									i(class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': modalVisualizacaoNotificacaoCtrl.openedAccordionNotificacoes[notificacao.id], 'glyphicon-chevron-right': !modalVisualizacaoNotificacaoCtrl.openedAccordionNotificacoes[notificacao.id]}")
					.collapse.dados-notificacao(ng-class="{in: modalVisualizacaoNotificacaoCtrl.notificacoes[0].id === notificacao.id}",id='meus-dados-notificacao-{{notificacao.id}}')
						#accordion.panel-group
							.atendimento-notificacao
								div.label-atendimento-notificacao
									label Atendimento:
								div.check-atendimento-notificacao
									label.checkbox-inline
										input.checkbox-notificacao(type='checkbox', placeholder='Documentação', ng-model='notificacao.documentacao', ng-disabled='true')
										|  Documentação
									label.checkbox-inline
										input.checkbox-notificacao(type='checkbox', placeholder='Retificação do empreendimento', ng-model='notificacao.retificacaoEmpreendimento', ng-disabled='true')
										|  Retificação do empreendimento
									label.checkbox-inline
										input.checkbox-notificacao(type='checkbox', placeholder='Retificação da solitação', ng-model='notificacao.retificacaoSolicitacao', ng-disabled='true')
										|  Retificação da solicitação
									div.retificacao-com-geo(ng-show='notificacao.retificacaoSolicitacao || notificacao.retificacaoEmpreendimento')
										label.radio-inline
											input(type='radio', name='retificacaoSolicitacaoGeo{{$index}}', ng-model='notificacao.retificacaoSolicitacaoComGeo', ng-value='true', ng-disabled='true')
											| Com alteração GEO
										label.radio-inline
											input(type='radio', name='retificacaoSolicitacaoGeo{{$index}}', ng-model='notificacao.retificacaoSolicitacaoComGeo', ng-value='false', ng-disabled='true')
											| Sem alteração GEO

						#prazoNotificacao.panel-group
								label.label-text Prazo solicitado para atendimento da notificação:
									i {{notificacao.prazoNotificacao}} dias

						.panel-group
							.descricao
								.label-descricao
									label Descrição das solicitações:

								.form-group
									span {{notificacao.justificativa}}

						.panel-group
							table.area-modal.table.table-condensed(ng-if="notificacao.documentosParecer.length > 0")

								thead

									tr
										th.col-md-10 Documentos da notificação
										th.col-md-2.text-right Ações

								tbody

									tr(ng-repeat="anexo in notificacao.documentosParecer")

										td.col-md-10 {{anexo.nomeDoArquivo}}
										td.col-md-2.text-right
											a.d-inline.margin-right-xs(style='cursor: pointer;',title="Visualizar anexo",ng-click="modalVisualizacaoNotificacaoCtrl.baixarDocumento(anexo.id)")
												i.glyphicon.glyphicon-eye-open


						div(ng-show="notificacao.diasConclusao != undefined && notificacao.diasConclusao != null")
							.panel-group
								hr
								h5 Resposta do interessado

							div(ng-show='!notificacao.justificativaRetificacaoSolicitacao && notificacao.retificacaoSolicitacaoComGeo')

							#diasConclusao.panel-group
								label.label-text Atendimento no prazo de :
									i {{notificacao.diasConclusao}} dias

							.panel-group
								table.area-modal.table.table-condensed(ng-if="notificacao.documentos.length > 0")

									thead

										tr
											th.col-md-10 Arquivos inseridos
											th.col-md-2.text-right Ações

									tbody

										tr(ng-repeat="anexo in notificacao.documentos")

											td.col-md-10 {{anexo.nomeDoArquivo}}
											td.col-md-2.text-right
												a.d-inline.margin-right-xs(style='cursor: pointer;',title="Visualizar anexo",ng-click="modalVisualizacaoNotificacaoCtrl.baixarDocumento(anexo.id)")
													i.glyphicon.glyphicon-eye-open

							.panel-group(ng-show='notificacao.justificativaDocumentacao && notificacao.documentacao')
								.descricao
									.label-descricao
										label Justificativa da documentação:

								.form-group
									span {{notificacao.justificativaDocumentacao}}

							.panel-group(ng-show='notificacao.justificativaRetificacaoEmpreendimento && notificacao.retificacaoEmpreendimento')
								.descricao
									.label-descricao
										label Justificativa da retificação do empreendimento:

								.form-group
									span {{notificacao.justificativaRetificacaoEmpreendimento}}

							.panel-group(ng-show='notificacao.justificativaRetificacaoSolicitacao && notificacao.retificacaoSolicitacao')
								.descricao
									.label-descricao
										label Justificativa da retificação da solicitação:

								.form-group
									span {{notificacao.justificativaRetificacaoSolicitacao}}

							.panel-group(ng-show='!notificacao.justificativaRetificacaoEmpreendimento && notificacao.retificacaoEmpreendimento')
								.descricao
									.label-descricao.text-ok
										i.glyphicon.glyphicon-ok.text-ok.icone-ok
										| Interessado realizou a retificação do empreendimento.

							.panel-group(ng-show='!notificacao.justificativaRetificacaoSolicitacao && notificacao.retificacaoSolicitacao')
								.descricao
									.label-descricao.text-ok
										i.glyphicon.glyphicon-ok.text-ok.icone-ok
										| Interessado realizou a retificação da solicitação.

	div.modal-footer#footer-modal

		button.btn.btn-default.pull-left(ng-click="modalVisualizacaoNotificacaoCtrl.fechar()")
			i.glyphicon.glyphicon-arrow-left
			| &nbsp;Fechar
