.modal-header
    h4 Visualizar Comunicado

.modal-body
    label.label-item-restricao {{$ctrl.restricao.item | uppercase}}

    .documentacao-enviada
        label.label-documentos Documentos enviados ao órgão
        hr

        button.btn.btn-success.btn-download(type="button",ng-click="$ctrl.downloadPDFOficioOrgao()")
            .glyphicon.glyphicon-file.icon-download
            | Ofício

    .manifestacao-orgao
        label.label-manifestacao Manifestação do órgão
        hr

        label.title-manifestacao(ng-if="$ctrl.justificativaOrgao !== null") Justificativa:

        span.text-manifestacao(ng-if="$ctrl.justificativaOrgao === null")  Não houve manifestação do órgão no período de 30 dias
        span.text-manifestacao &nbsp; {{$ctrl.justificativaOrgao}}

        table.area-modal.table.table-condensed(ng-if="$ctrl.anexos.length > 0")

            thead

                tr
                    th.col-md-10 Arquivo anexado
                    th.col-md-2.text-right Ações

            tbody

                tr(ng-repeat="anexo in $ctrl.anexos")

                    td.col-md-10 {{ anexo.nomeDoArquivo }}
                    td.col-md-2.text-right
                        a.d-inline.margin-right-xs(style='cursor: pointer;',title="Visualizar anexo", ng-click="$ctrl.baixarDocumento(anexo)")
                            i.glyphicon.glyphicon-eye-open
        button.btn.btn-default.pull-right(ng-click="$ctrl.fechar()")
            i.glyphicon.glyphicon-remove
            |  Fechar
