include ../../layout/components/inputErrors

h3 Análise jurídica

div.margin-top-md
    label.not-bold.margin-right-xs(for="texto_nome_analista") Analista técnico:  
    span#texto_nome_consultor_juridico
        strong {{$ctrl.usuarioSessao.nome}}

hr

table.table.table-condensed

    thead

        tr
            th.col-md-9 Documento
            th.col-md-2.text-center Validar
            th.col-md-1.text-right Ações

    tbody

        tr(ng-repeat="analiseDocumento in $ctrl.analiseTecnica.analisesDocumentos")

            td.col-md-9 {{analiseDocumento.documento.tipo.nome}}
            td.col-md-2.text-center
                avaliar-documento(identificador="$index", analise-documento="analiseDocumento", invalidar="$ctrl.invalidarDocumento")
            td.col-md-1.text-right 

                a.margin-right-xs.pointer(ng-click="$ctrl.invalidarDocumento($index)", ng-if="analiseDocumento.validado === false", title="Editar motivo da invalidação")
                    i.fa.fa-pencil-square-o                    
                
                a.margin-right-xs.pointer(ng-click="$ctrl.baixarDocumento(analiseDocumento.documento.id)", title="Baixar documento")
                    i.glyphicon.glyphicon-download

section.margin-bottom-md

    form
        div.form-group
            label(for="input_numero_processo") Número do processo para clonar parecer
            div.input-group
                input#input_numero_processo(type="text", class="form-control", placeholder="Digite o número do processo do qual você deseja clonar o parecer", ng-model="$ctrl.numeroProcesso")
                span.input-group-btn
                    button.btn.btn-default(type="button", ng-click="$ctrl.clonarParecer()") 
                        i.glyphicon.glyphicon-refresh.glyphicon--with-right-margin
                        | Clonar parecer                            

    
    form#formulario_parecer(name="$ctrl.formularioParecer", novalidate)

        .form-group(ng-class="{'has-error': $ctrl.formularioParecer.$submitted && $ctrl.formularioParecer.parecer.$invalid}")
            div(text-angular, ng-model="$ctrl.analiseTecnica.parecer", name="parecer", required, ta-text-editor-class="form-control myform2-height", 
                ta-html-editor-class="form-control myform2-height")
            div(ng-messages='$ctrl.formularioParecer.$submitted && $ctrl.formularioParecer.parecer.$error')
                p.error-message(ng-message='required') Campo obrigatório.
        
        .form-group
            div.btn.btn-default(type="file", name="arquivo", ngf-select="$ctrl.upload($file, $invalidFile)", ngf-accept="'application/pdf,image/*'", ngf-pattern="'application/pdf,image/*'", ngf-max-size="{{ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
                i.glyphicon.glyphicon-open.glyphicon--with-right-margin 
                | Anexar arquivo ao parecer 
            i Tamanho máximo de {{$ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB
            

    table.table.table-condensed(ng-if="$ctrl.analiseTecnica.documentos.length > 0")

        thead

            tr
                th.col-md-10 Arquivo anexado
                th.col-md-2.text-right Ações

        tbody

            tr(ng-repeat="documento in $ctrl.analiseTecnica.documentos")

                td.col-md-10 {{documento.nome}}
                td.col-md-2.text-right 
                    a.d-inline.margin-right-xs(ng-if="documento.id", title="Baixar documento", ng-click="$ctrl.baixarDocumentoAnalise(documento.id)")
                        i.glyphicon.glyphicon-save

                    a.d-inline.margin-right-xs(title="Remover documento", ng-click="$ctrl.removerDocumento($index)")
                        i.glyphicon.glyphicon-trash          

    form.text-center.margin-bottom-md.margin-top-md(name="$ctrl.formularioResultado", novalidate)
        div(ng-class="{'has-error': $ctrl.formularioResultado.$submitted && $ctrl.formularioResultado.$invalid}")
            label.radio-inline(for="radio_deferido")
                input#radio_deferido(type="radio", name="resultado", ng-value="{{$ctrl.DEFERIDO}}", ng-model="$ctrl.analiseTecnica.tipoResultadoAnalise.id", ng-required="!$ctrl.analiseTecnica.tipoResultadoAnalise") 
                | Deferido
            label.radio-inline(for="radio_indeferido")
                input#radio_indeferido(type="radio", name="resultado", ng-value="{{$ctrl.INDEFERIDO}}", ng-model="$ctrl.analiseTecnica.tipoResultadoAnalise.id", ng-required="!$ctrl.analiseTecnica.tipoResultadoAnalise") 
                | Indeferido
            label.radio-inline(for="radio_notificacao")
                input#radio_notificacao(type="radio", name="resultado", ng-value="{{$ctrl.EMITIR_NOTIFICACAO}}", ng-model="$ctrl.analiseTecnica.tipoResultadoAnalise.id", ng-required="!$ctrl.analiseTecnica.tipoResultadoAnalise") 
                | Emitir notificação
            div(ng-messages='$ctrl.formularioResultado.$submitted && $ctrl.formularioResultado.resultado.$error')
                p.error-message(ng-message='required') Campo obrigatório.

    section(ng-if="$ctrl.analiseTecnica.tipoResultadoAnalise.id === $ctrl.DEFERIDO")

        table.table.table-condensed

            thead
                
                tr
                    th.col-md-1 Emitir
                    th.col-md-3 Licença
                    th.col-md-4 Porte e potencial poluidor
                    th.col-md-2 Validade
                    th.col-md-2 Ações

            tbody

                tr(ng-repeat="licenca in $ctrl.licencas")

                    th.col-md-1
                        input(type="checkbox")
                    th.col-md-3 {{licenca.nome}}
                    th.col-md-4 {{licenca.porte}}
                    th.col-md-2 {{licenca.validade}}
                    th.col-md-2
                        a.d-inline.margin-right-xs(title="Alterar licença, ng-click($ctrl.alterarLicenca($index)")
                            i.glyphicon.glyphicon-pencil



section        
    a.btn << Etapa anterior