include ./observacoes

h5 Análise temporal de imagens de satélite

div
    blockquote.analise-manejo
        div.row.card-analise-manejo

            .col-xs-12
                p.analise-temporal.text-justify Para comprovação da existência de cobertura florestal e verificação da ocorrência ou não de áreas com exploração florestal não autorizada, foi realizada através de análise de imagens de satélite, referente aos últimos 24 anos. Esta análise está baseada na determinação do Índice Normalizado de Diferença de Fração, portaria 63/2014, cujo objetivo medir as alterações na cobertura vegetal e no solo, conforme determina a portaria 63 de 10/09/2015.

div
    +observacoes('analiseTecnicaManejo.analiseTecnica.observacoesAnaliseTemporal')