include ./observacoes

h5 Análise temporal de imagens de satélite

div
    blockquote.analise-manejo
        div.row.card-analise-manejo

            .col-xs-12
                p.analise-temporal.text-justify Para comprovação da existência de cobertura florestal e verificação da não ocorrência de áreas com exploração florestal, foi realizada através de análise de imagens de satélite, referente aos últimos 24 anos. Esta análise está baseada na determinação do Índice Normalizado de Diferença de Fração – NDFI, cujo objetivo medir as alterações na cobertura vegetal e no solo, conforme determina a IN 05 de 10/09/2015.

div
    +observacoes('analiseTecnicaManejo.analiseTecnica.observacoesAnaliseTemporal')