div
	h4 Parecer Técnico

	hr
	div.row#dadosProcesso(ng-init="analiseTecnicaManejo.init()")
		.col-xs-12.col-md-8
			blockquote.success

				div.row
					label.col-sm-4 Protocolo:
					span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.numeroProcesso}}

				div.row
					label.col-sm-4 CPF/CNPJ:
					span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.cpfCnpj | brCpfCnpj}}

				div.row
					label.col-sm-4 Nome do proprietário e/ou Detentor:
					span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.empreendimentoEU.denominacao}}

				div.row
					label.col-sm-4 Município:
					span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.empreendimento.municipio.nome}}

	div

		ul.nav.nav-tabs(role="tablist")
			li.abas.active(role="presentation")
				a(id="id-dados-imovel", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(0)") Imóvel
			li.abas(role="tab")
				a(id="id-metodos-base-vetorial", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(1)") Metadados
			li.abas(role="tab")
				a(id="id-analise-vetorial-base-oficiais", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(2)") Análise Vetorial
			li.abas(role="tab")
				a(id="id-analise-temporal-imagens-satelite", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(3)") Análise Temporal
			li.abas(role="tab")
				a(id="id-insumos-utilizados-analise-temporal", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(4)") Insumos
			li.abas(role="tab")
				a(id="id-calculo-ndfi", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(5)") NDFI
			li.abas(role="tab")
				a(id="id-calculo-area-efetiva-manejo", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(6)") Área Efetiva
			li.abas(role="tab")
				a(id="id-detalhamento-area-efetiva-manejo", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(7)") Detalhamento NDFI
			li.abas(role="tab")
				a(id="id-consideracoes", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(8)") Considerações
			li.abas(role="tab")
				a(id="id-documentos-complementares", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(9)") Documentos complementares
			li.abas(role="tab")
				a(id="id-embasamento-legal", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(10)") Embasamento legal
			li.abas(role="tab")
				a(id="id-conclusao", data-toggle="tab", ng-click="analiseTecnicaManejo.changeTab(11)") Conclusão

		.tab-content

			div(ng-if="analiseTecnicaManejo.index === 0")
				include dados-imovel

			div(ng-if="analiseTecnicaManejo.index === 1")
				include metodos-base-vetorial

			div(ng-if="analiseTecnicaManejo.index === 2")
				include analise-vetorial-base-oficiais

			div(ng-if="analiseTecnicaManejo.index === 3")
				include analise-temporal-imagens-satelite

			div(ng-if="analiseTecnicaManejo.index === 4")
				include insumos-utilizados-analise-temporal

			div(ng-if="analiseTecnicaManejo.index === 5")
				include calculo-ndfi

			div(ng-if="analiseTecnicaManejo.index === 6")
				include calculo-area-efetiva-manejo

			div(ng-if="analiseTecnicaManejo.index === 7")
				include detalhamento-area-efetiva-manejo

			div(ng-if="analiseTecnicaManejo.index === 8")
				include consideracoes

			div(ng-if="analiseTecnicaManejo.index === 9")
				include documentos-complementares

			div(ng-if="analiseTecnicaManejo.index === 10")
				include embasamento-legal

			div(ng-if="analiseTecnicaManejo.index === 11")
				include conclusao

	.col-xs-12.rodape-analise
		button.btn.btn-default.margin-right-xs(ng-click="analiseTecnicaManejo.sair()", tabindex="0")
				span.glyphicon.glyphicon-remove.glyphicon--with-right-margin
				| &nbsp;Sair

		button.btn.btn-default(ng-click="analiseTecnicaManejo.voltar()", tabindex="0", ng-if="analiseTecnicaManejo.index !== 0")
			span.glyphicon.glyphicon-chevron-left.glyphicon--with-right-margin
			| &nbsp;Voltar

		button.btn.btn-success.pull-right(ng-if="analiseTecnicaManejo.index !== 11", ng-click="analiseTecnicaManejo.proximo()", tabindex="0")
			| &nbsp;Próximo&nbsp;
			span.glyphicon.glyphicon-chevron-right.glyphicon--with-left-margin

		button.btn.btn-success.pull-right(ng-if="analiseTecnicaManejo.index === 11", ng-click="analiseTecnicaManejo.confirmar()", tabindex="0")
			span.glyphicon.glyphicon-ok.glyphicon--with-right-margin()
			| &nbsp;Confirmar parecer
