include ./observacoes

h5 Dados analisados da AMF pelo GEOTEC

div
	blockquote.analise-manejo
		table.table.table-striped.table-condensed

			thead
				tr
					th.cabecalho-coluna-unica-direita.text-center(rowspan="2") Exibir no PDF
					th.text-center(colspan="2") Vetores
					th.text-center.coluna-dupla-divisao(colspan="2") Propriedade
					th.text-center.coluna-dupla-divisao(colspan="2") AMF
				tr
					th.text-center Tipo
					th.text-center Nome
					th.text-center.coluna-dupla-divisao Distância (km)
					th.text-center Sobreposição (ha)
					th.text-center.coluna-dupla-divisao Distância (km)
					th.text-center Sobreposição (ha)

			tbody
				tr(ng-repeat="analise in analiseTecnicaManejo.analiseTecnica.analisesVetorial")
					td.col-md-1.text-center.checkbox-center
						input(type='checkbox', placeholder='', ng-model='analise.exibirPDF')
					td.col-md-1(style='max-width: 100px;') {{analise.tipo || '-'}}
					td.col-md-1 {{analise.nome || '-'}}
					td.col-md-1.text-right(style='max-width: 85px; word-wrap: break-word;') {{ (analise.distanciaPropriedade || analise.distanciaPropriedade === 0) ? analise.distanciaPropriedade : '-'}}
					td.col-md-1.text-right(style='max-width: 85px; word-wrap: break-word;') {{ (analise.sobreposicaoPropriedade || analise.sobreposicaoPropriedade === 0) ? analise.sobreposicaoPropriedade : '-'}}
					td.col-md-1.text-right(style='max-width: 85px; word-wrap: break-word;') {{ (analise.distanciaAmf || analise.distanciaAmf === 0) ? analise.distanciaAmf : '-'}}
					td.col-md-1.text-right(style='max-width: 85px; word-wrap: break-word;') {{ (analise.sobreposicaoAmf || analise.sobreposicaoAmf === 0) ? analise.sobreposicaoAmf : '-'}}


div
	+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesAnaliseVetorial')