h4 Parecer Técnico

hr
div.row#dadosProcesso(ng-init="analiseTecnicaManejo.init()")
	.col-xs-12.col-md-8
		blockquote.success

			div.row
				label.col-sm-4 Processo:
				span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.numeroProcesso}}

			div.row
				label.col-sm-4 CPF/CNPJ:
				span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.cpfCnpj | brCpfCnpj}}

			div.row
				label.col-sm-4 Nome/Razão Social:
				span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.denominacaoEmpreendimentoSimlam}}

			div.row
				label.col-sm-4 Município:
				span.col-sm-8 {{analiseTecnicaManejo.analiseTecnica.processoManejo.nomeMunicipioSimlam}}

div

	ul.nav.nav-tabs(role="tablist")
		li.abas.active(role="presentation")
			a.link(id="dados-imovel", data-toggle="tab", data-target="#dados-imovel") Imóvel
		li.abas(role="tab")
			a.link(id="metodos-base-vetorial", data-toggle="tab", data-target="#metodos-base-vetorial") Metadados
		li.abas(role="tab")
			a.link(id="analise-vetorial-base-oficiais", data-toggle="tab", data-target="#analise-vetorial-base-oficiais") Análise Vetorial
		li.abas(role="tab")
			a.link(id="analise-temporal-imagens-satelite", data-toggle="tab", data-target="#analise-temporal-imagens-satelite") Análise Temporal
		li.abas(role="tab")
			a.link(id="insumos-utilizados-analise-temporal", data-toggle="tab", data-target="#insumos-utilizados-analise-temporal") Insumos
		li.abas(role="tab")
			a.link(id="calculo-ndfi", data-toggle="tab", data-target="#calculo-ndfi") NDFI
		li.abas(role="tab")
			a.link(id="calculo-area-efetiva-manejo", data-toggle="tab", data-target="#calculo-area-efetiva-manejo") Área Efetiva
		li.abas(role="tab")
			a.link(id="detalhamento-area-efetiva-manejo", data-toggle="tab", data-target="#detalhamento-area-efetiva-manejo") Detalhamento
		li.abas(role="tab")
			a.link(id="consideracoes", data-toggle="tab", data-target="#consideracoes") Considerações
		li.abas(role="tab")
			a.link(id="conclusao", data-toggle="tab", data-target="#conclusao") Conclusão

	.tab-content

		#dados-imovel.tab-pane.fade.in.active
			include dados-imovel

		#metodos-base-vetorial.tab-pane.fade
			include metodos-base-vetorial

		#analise-vetorial-base-oficiais.tab-pane.fade
			include analise-vetorial-base-oficiais

		#analise-temporal-imagens-satelite.tab-pane.fade
			include analise-temporal-imagens-satelite

		#insumos-utilizados-analise-temporal.tab-pane.fade
			include insumos-utilizados-analise-temporal

		#calculo-ndfi.tab-pane.fade
			include calculo-ndfi

		#calculo-area-efetiva-manejo.tab-pane.fade
			include calculo-area-efetiva-manejo

		#detalhamento-area-efetiva-manejo.tab-pane.fade
			include detalhamento-area-efetiva-manejo

		#consideracoes.tab-pane.fade
			include consideracoes

		#conclusao.tab-pane.fade
			include conclusao

.col-xs-12.col-md-6.rodape-analise
	button.btn.btn-default.margin-right-xs(ng-click="analiseTecnicaManejo.sair()", tabindex="0")
			span.glyphicon.glyphicon-remove.glyphicon--with-right-margin
			| &nbsp;Sair

	button.btn.btn-default(ng-click="analiseTecnicaManejo.voltar()", tabindex="0", ng-if="analiseTecnicaManejo.index !== 0")
		span.glyphicon.glyphicon-chevron-left.glyphicon--with-right-margin
		| &nbsp;Voltar

.col-xs-12.col-md-6.text-right.rodape-analise
	button.btn.btn-success.pull-right(ng-click="analiseTecnicaManejo.confirmar()", tabindex="0")
			span.glyphicon.glyphicon-ok.glyphicon--with-right-margin
			| &nbsp;Confirmar parecer