include ../../../layout/components/inputErrors

h5 Conclusão

div
	form(name="analiseTecnicaManejo.formularioAnaliseTecnicaConclusao", novalidate)

		div
			textarea.form-control(name='conclusao', rows='6', ng-model="analiseTecnicaManejo.analiseTecnica.conclusao", required)
			+inputErrors('analiseTecnicaManejo.formularioAnaliseTecnicaConclusao', 'conclusao', 'required')

		div.margin-top-md.text-center

			label.radio-inline(style="margin-right: 30px" for="radio_deferido")
				input#radio_deferido(type="radio", name="apto", ng-value="true", ng-model="analiseTecnicaManejo.analiseTecnica.apto", ng-required="!analiseTecnicaManejo.analiseTecnica.apto")
				| Apto
			label.radio-inline(for="radio_indeferido")
				input#radio_indeferido(type="radio", name="apto", ng-value="false", ng-model="analiseTecnicaManejo.analiseTecnica.apto", ng-required="!analiseTecnicaManejo.analiseTecnica.apto")
				| Inapto
			+inputErrors('analiseTecnicaManejo.formularioAnaliseTecnicaConclusao', 'apto', 'required')