include ./observacoes

h5 Conclusão

div
	blockquote.analise-manejo
		div.row.card-analise-manejo
			.col-xs-12
				p.margin-top-xs Embasamento Legal
				ul.margin-bottom-important
					li Código Florestal - Lei n°12651/2012
					li Instrução Normativa n°02/2014
					li Decreto n°7830/2012
					li Instrução Normativa n° 01/2014
					li Portaria n° 63/2014
					li Instrução Normativa n°14/2011
					li Decreto n° 216/2011
					li Lei Federal 10.267/01
					li Lei n° 9605 de 12/02/1998
					li Decreto n° 6514 de 22/07/2008
					li Resolução CONAMA nº 378/2006

div
	+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesConclusao')