include ./observacoes

div
	blockquote.analise-manejo
		div.row.card-analise-manejo
			.col-xs-12
				p.conclusao {{analiseTecnicaManejo.analiseTecnica.conclusao}}

div
	+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesConclusao')