include ./observacoes

h5 Considerações

div
    blockquote.analise-manejo
        div.row.card-analise-manejo
            .col-xs-12.margin-top-xs.margin-bottom-xs(ng-repeat="vinculo in analiseTecnicaManejo.analiseTecnica.vinculosConsideracoes")

                .col-xs-1.text-center.checkbox-center
                    input(type='checkbox', placeholder='', ng-model='vinculo.exibirPDF')
                .col-xs-11
                    span.text-justify {{ vinculo.consideracao.texto }}

div
    +observacoes('analiseTecnicaManejo.analiseTecnica.observacoesConsideracoes')