
h5 Informações declaradas no CAR

div
	table.table.table-striped.table-condensed

		thead
			tr
				th Dados
				th Valores

		tbody
			tr
				td.col-md-1 Registro no CAR
				td.col-md-1 {{analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.registroCar ? analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.registroCar : '-'}}
			tr
				td.col-md-1 Registro no CAR
				td.col-md-1 {{analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.areaLiquidaImovel ? analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.areaLiquidaImovel : '-'}}


