
h5 Informações declaradas no CAR

div
	table.table.table-striped.table-condensed

		thead
			tr
				th Dados
				th Valores

		tbody
			tr
				td.col-md-1 Registro no CAR
				td.col-md-1 {{analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.registroCar ? analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.registroCar : '-'}}
			tr
				td.col-md-1 Registro no CAR
				td.col-md-1 {{analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.areaLiquidaImovel ? analiseTecnicaManejo.analiseTecnica.processoManejo.imovelManejo.areaLiquidaImovel : '-'}}



div
	.col-xs-12.col-md-6.no-padding
		h5 Anexos
	.col-xs-6.col-md-6.text-right.no-padding.margin-bottom-md
		form(name="analiseTecnicaManejo.formularioAnaliseTecnica")
			.form-group
				div.btn.btn-default(type="file", name="arquivo", ngf-select="analiseTecnicaManejo.upload($file)", ngf-max-size="{{analiseTecnicaManejo.TAMANHO_MAXIMO_ARQUIVO_MB}}MB",
				ngf-before-model-change="analiseTecnicaManejo.validarArquivo($file)")
					i.glyphicon.glyphicon-open.glyphicon--with-right-margin
					| Anexar arquivo à análise

//div
//	table.table.table-condensed
//
//		thead
//
//			tr
//				th.col-xs-10 Arquivo anexado
//				th.col-xs-2.text-right Ações
//
//		tbody
//
//			tr(ng-if="analiseGeoManejo.processo.analiseManejo.pathShape")
//				td.col-xs-10 {{analiseGeoManejo.arquivoShape.name}}
//				td.col-xs-2.text-right
//					a.d-inline.margin-right-xs(title="Remover arquivo", ng-click="analiseGeoManejo.removeUpload()")
//						i.glyphicon.glyphicon-trash
//			tr(ng-if="!analiseGeoManejo.processo.analiseManejo.pathShape")
//				td.col-xs-12.text-center Nenhum arquivo anexado
	span.error-message(ng-show="analiseGeoManejo.formularioAnaliseGeo.$submitted && !analiseGeoManejo.arquivoShape") Campo obrigatório.