include ./observacoes

div
	blockquote.analise-manejo
		.panel.panel-default(name='documentacao')
			.panel-heading
				h4.panel-title Anexos
			.panel-body
				div.row
					div.col-md-12
						form(name="formulario-documentos-complementares", novalidate)
							.form-group.text-right
								div.btn.btn-default(type="file", name="arquivo", ngf-select="ctrl.upload($file, $invalidFile)", ngf-max-size="{{ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
									i.glyphicon.glyphicon-open.glyphicon--with-right-margin
									| Anexar arquivo
								div
									i Tamanho máximo de {{ctrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB
					div.col-md-12
						table.table.table-striped
							thead
								tr
									th.col-md-3 Documento
									th.col-md-1.text-right Ações
							tbody
								//tr(ng-repeat="arquivoShape in analiseGeoManejo.arquivosShape")
								//	td
								//		div(ng-if="arquivoShape.key") {{arquivoShape.nome}}
								//	td
								//		div.btn-group.pull-right
								//			button.btn.btn-default.btn-xs.no-margin(title="Clique para fazer o upload do shape",
								//			ngf-select, ngf-multiple="false", ngf-keep="false", ngf-max-files="1",
								//			ngf-change="analiseGeoManejo.selecionarArquivo($files, $file, arquivoShape)",
								//			ng-if="!arquivoShape.key",
								//			ngf-accept="'application/zip'"
								//			ng-class="{'button-error': formularioAnaliseGeo.$submitted && !arquivoShape.key && arquivoShape.obrigatorio}")
								//				i.fa.fa-upload
								//			button.btn.btn-default.btn-xs.no-margin(title="Clique para baixar o shape",
								//			ng-click="analiseGeoManejo.downloadArquivo(arquivoShape)",
								//			ng-if="!!arquivoShape.key", target="_blank")
								//				i.fa.fa-download
								//			button.btn.btn-default.btn-xs.no-margin(title="Clique para remover o shape",
								//			ng-click="analiseGeoManejo.removerArquivo(arquivoShape)",
								//			ng-if="documentoShape.key")
								//				i.fa.fa-trash

div
	+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesDocumentosComplementares')