include ./observacoes

include ./observacoes

div
	div.row.card-analise-manejo

		.col-xs-12
			p.insumos-utilizados Para elaboração deste laudo técnico foi realizada a análise multitemperamental de imagens de satélites, referente aos ultimos 24 anos, onde foram verificadas as feições da cobertura do solo dentro da área de manejo florestal - AMF. As informações das imagens de satélites utilizadas são descritas na tabela abaixo.


	blockquote.analise-manejo
		table.table.table-striped.table-condensed
			thead
				tr
					th.text-center Selecione
					th.text-center Ano da imagem
					th.text-center Satélite
					th.text-center Órbita/ponto
					th.text-center Data

			tbody
				tr(ng-repeat="vinculo in analiseTecnicaManejo.analiseTecnica.vinculoInsumos")
					td.col-md-1.text-center.checkbox-center
						input(type='checkbox', placeholder='', ng-model='vinculo.exibirPDF')
					td.text-center {{ vinculo.insumo.ano }}
					td.text-center {{ vinculo.insumo.satelite }}
					td.text-center {{ vinculo.insumo.orbPonto }}
					td.text-center {{ vinculo.insumo.data }}
div
	+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesInsumosUtilizados')