include ./observacoes

h5 Dados analisados da AMF pela GEOTEC

div
	blockquote.analise-manejo
		table.table.table-striped.table-condensed

			thead
				tr
					th.text-center Exibir no PDF
					th.text-center Última atualização
					th.text-center Dados oficiais
					th.text-center Fonte
					th.text-center Escala
					th.text-center Observação

			tbody
				tr(ng-repeat="baseVetorial in analiseTecnicaManejo.analiseTecnica.basesVetorial")
					td.col-md-1.text-center.checkbox-center
						input(type='checkbox', placeholder='', ng-model='baseVetorial.exibirPDF')
					td.col-md-2.text-center {{baseVetorial.ultimaAtualizacao ? baseVetorial.ultimaAtualizacao : '-'}}
					td.col-md-4.text-center {{baseVetorial.nome ? baseVetorial.nome : '-'}}
					td.col-md-2.text-center {{baseVetorial.fonte ? baseVetorial.fonte : '-'}}
					td.col-md-1.text-center {{baseVetorial.escala ? baseVetorial.escala : '-'}}
					td.col-md-3.text-center {{baseVetorial.observacao ? baseVetorial.observacao : '-'}}

div
	+observacoes('analiseTecnicaManejo.analiseTecnica.observacoesBaseVetorial')
