<!DOCTYPE html>
%{
numeroProtocolo = analiseGeo.analise.processo.numero;
numeroProcesso = caracterizacao.processoLicenciamento.numero;
tipoLicenca = analiseGeo.analise.processo.getCaracterizacao().tipoLicenca.nome;
restricao = comunicado.tipoSobreposicao.nome;
orgaoResponsavel = comunicado.orgao;
nomeAnalista = parecerAnalistaGeo.usuario.pessoa.nome;
empreendimento = analiseGeo.analise.processo.empreendimento;
empreendimentoNome = empreendimento.pessoa.type == "PessoaFisica" ? empreendimento.pessoa.nome : empreendimento.pessoa.razaoSocial;
nomeEmpreendimento = empreendimento.denominacao;
atividadesCaracterizacao = caracterizacao.atividadesCaracterizacao;
endereco = enderecoCompleto;
}%

<html>




<head>
</head>

<body>

<h1 style="text-align: center">
    #{embeddedImage src:'conf/images/brasao_ap.png', name:'Amapá', alt:'Estado do Amapá', height:'100', width:'70' /}
</h1>
<p style="text-align: center">GOVERNO DO ESTADO DO AMAPÁ</p>

<p style="text-align: center">SECRETARIA DE ESTADO DO MEIO AMBIENTE - SEMA-AP</p>

<p style="text-align: right">  Macapá/AP, ${utils.Helper.getDataPorExtenso(new Date())} </p>
<p><strong>Processo N°: <strong>${numeroProcesso}</strong></strong><strong> Protocolo N°: ${numeroProtocolo}</strong></p>

<p><strong>Interessado: </strong> <strong> ${empreendimentoNome} </strong><br>#{list items:atividadesCaracterizacao, as:'atividadeCaracterizacao' }<strong>Atividade(s): ${atividadeCaracterizacao.atividade.nome.toUpperCase()}</strong>, #{/list} </p>

<p> Em atenção à solicitação supracitada, informamos a V.Sa. que foi identificado que a área da propriedade/atividade <strong>${nomeEmpreendimento}</strong>  se sobrepõe total ou parcialmente a área <strong>${restricao}</strong>, de responsabilidade da Instituição <strong>${orgaoResponsavel.sigla}</strong>, com emissão de comunicação à referida instituição via sistema.

<p> O prosseguimento da análise do processo, bem como demais procedimentos e prazos para manifestação e/ou autorização da instituição serão realizados conforme disposto na Portaria Interministerial nº 060, de 24 de março de 2015 e na Lei Estadual nº 4.185. de 26 de junho de 2015.</p>

<p> No caso de dúvidas ou para maiores esclarecimentos acesse o sistema do licenciamento ou procure o SEMA-AP/${orgaoResponsavel.sigla} mencionada nesta comunicação</p>

<p> <strong> Responsável pela Análise GEO: ${nomeAnalista}</strong> </p>

<p>             Atenciosamente,  </p>

<p style="text-align: center"><strong> Robério Aleixo<br>Diretor Presidente </strong></p>


</body>





</html>
