<!DOCTYPE html>
%{
  licenca = licencaCancelada.licenca;
  numProcesso = licenca.caracterizacao.numeroProcesso;
  nomelicenca = licenca.caracterizacao.tipoLicenca.nome;
  empreendimento = licenca.caracterizacao.empreendimento;
  empreendimentoNome = empreendimento.pessoa.type == "PessoaFisica" ? empreendimento.pessoa.nome : empreendimento.pessoa.razaoSocial;
  bairro = org.apache.commons.lang.StringUtils.isBlank(empreendimento.endereco.bairro) ? "" : " - " + empreendimento.endereco.bairro;
  numero = org.apache.commons.lang.StringUtils.isBlank(empreendimento.endereco.numero) ? "s/n" : empreendimento.endereco.numero;
  cep = empreendimento.endereco.cep == null ? "-" : empreendimento.endereco.cep;
  municipio = empreendimento.endereco.municipio.nome + " - " + empreendimento.endereco.municipio.estado.codigo; 
  end = empreendimento.endereco.tipo.id == 1 ? empreendimento.endereco.roteiroAcesso + ", " + municipio : empreendimento.endereco.logradouro + " " + numero + bairro + ", " + municipio;
}%

<html>
  
  <head>
  </head>
  
  <body>
    
	<h1 style="text-align: center">
		#{embeddedImage src:'conf/images/brasao_pa.png', name:'Pará', alt:'Estado do Pará', height:'100', width: '100' /}
	</h1>

	<p style="text-align: center">GOVERNO DO ESTADO DO PARÁ</p>
	
	<p style="text-align: center">Secretaria de Estado de Meio Ambiente e Sustentabilidade</p>
	
	<p style="text-align: center">Diretoria de Gestão Florestal e Agrossilvipastoril - DGFLOR</p>
	
	<p style="text-align: right">Belém - PA, ${utils.DateUtil.formatarMesMinusculo(new Date())};</p>
	
	<p><strong>Protocolo N&ordm;:</strong> ${numProcesso}</p>
	<p><strong>Licença N&ordm;:</strong> ${licenca.numero}</p>
	
	<p><b>Á</b></p>

	<p>${empreendimentoNome}</p>
	
	<p>End: ${end}</p>
	
	<p>CEP: ${cep}</p>
	    
	<p>Em atenção a solicitação protocolada nesta Secretaria de Estado do Meio Ambiente e Sustentabilidade - SEMAS, sob o nº do protocolo ${numProcesso}, o qual solicita ${nomelicenca}, notifico V.Sa que a referida licença foi <b>CANCELADA</b>.</p>

	<p>Procure a SEMAS para maiores esclarecimentos.</p>
	    
	<!-- <p>${licencaCancelada.justificativa}</p>     -->
    
  </body>
  
</html>
