<!DOCTYPE html>
%{
numeroProcesso = analiseTecnica.analise.processo.numero;
tipoLicenca = analiseTecnica.analise.processo.getCaracterizacao().tipoLicenca.nome;
empreendimento = analiseTecnica.analise.processo.empreendimento;
empreendimentoNome = empreendimento.empreendimentoEU.empreendedor.pessoa.nome ? empreendimento.empreendimentoEU.empreendedor.pessoa.nome : empreendimento.empreendimentoEU.empreendedor.pessoa.razaoSocial;
endereco = enderecoCompleto;
}%

<html>




<head>
</head>

<body>

<h1 style="text-align: center">
#{embeddedImage src:'conf/images/brasao_ap.png', name:'Amapá', alt:'Estado do Amapá', height:'100', width:'70' /}
</h1>
<p style="text-align: center">GOVERNO DO ESTADO DO AMAPÁ</p>

<p style="text-align: center">SECRETARIA DE ESTADO DO MEIO AMBIENTE - SEMA-AP</p>


<p><strong>Protocolo N°: <strong>${numeroProcesso}</strong></strong> </p>
<p style="text-align: right">  Macapá/AP, ${utils.Helper.getDataPorExtenso(new Date())} </p>

<p><strong>À </strong><br> <strong> ${empreendimentoNome} </strong><br> End: ${endereco.logradouro} ${endereco.numero} - ${endereco.bairro}, ${endereco.municipio.nome} - ${endereco.municipio.estado.sigla} <br>CEP: ${endereco.cep}<br><br></p>

<p> Em atenção a solicitação protocolada, sob o nº do protocolo <strong>${numeroProcesso}</strong>, o qual solicita  <strong>${tipoLicenca}</strong>, notifico V.Sa que a referida licença foi <strong>NOTIFICADA</strong> </p>

<p><strong>Descrição:</strong> ${parecerAnalistaTecnico.parecer}</p>

<p><br>    <a href=${analiseTecnica.linkNotificacao} target=_blank>CLIQUE AQUI PARA ATENDER SUA NOTIFICAÇÃO </a><br></p>

<p>             Atenciosamente,  </p>

<p style="text-align: center"><strong> Robério Aleixo Anselmo Nobre<br>Secretário </strong></p>


</body>





</html>
