include ../../../layout/components/paginacao

div
	filtro-processos-manejo(paginacao="listagemProcessoManejo.paginacao",
		atualizar-lista="listagemProcessoManejo.atualizarListaProcessos",
		atualizar-paginacao="listagemProcessoManejo.atualizarPaginacao",
		pesquisar-ao-inicializar="true")

div(style="margin-top: 30px;")
	h4.col-md-6 Lista de processos

	.col-md-6.pull-right(style="padding-right: 0px;")
		button.pull-right.btn.btn-default.btn-success(ng-click="listagemProcessoManejo.cadastrarProcessoManejo()" tabindex="0")
			span.glyphicon.glyphicon-plus
			| &nbsp; Cadastrar Processo

	hr
	.row(style="margin-top: 60px;")
		.col-md-12
			div(ng-if="listagemProcessoManejo.processosManejo && listagemProcessoManejo.processosManejo.length > 0").table-responsive
				table.table.table-striped.table-condensed.no-margin
					thead
						tr
							th.col-md-1 Processo
							th.col-md-2 CPF/CNPJ
							th.col-md-2 Empreendimento
							th.col-md-1 Município
							th.col-md-1 Licença
							th.col-md-1.text-right(ng-if="listagemProcessoManejo.permissaoAnalisar || listagemProcessoManejo.permissaoVisualizar") Ações
					tbody
						tr(ng-repeat="processoManejo in listagemProcessoManejo.processosManejo")
							td {{processoManejo.numeroProcesso}}
							td {{processoManejo.cpfCnpjEmpreendimento | brCpfCnpj}}
							td {{processoManejo.denominacaoEmpreendimento}}
							td {{processoManejo.municipioEmpreendimento}}/{{processoManejo.siglaEstadoEmpreendimento}}
							td {{processoManejo.tipoLicenca}}
							td(ng-if="listagemProcessoManejo.permissaoAnalisar || listagemProcessoManejo.permissaoVisualizar")
								span.pull-right

									.dropdown.action-table
										button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
											| Ações &nbsp;
											span.caret
										ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
											li
												a(ng-click="listagemProcessoManejo.iniciarAnalise(processoManejo)", ng-if="listagemProcessoManejo.permissaoAnalisar && processoManejo.idCondicao === 17")
													i.glyphicon.glyphicon-check
													span Analisar
											li
												a(ng-click="listagemProcessoManejo.continuarAnalise(processoManejo)", ng-if="listagemProcessoManejo.permissaoAnalisar && processoManejo.idCondicao === 18")
													i.glyphicon.glyphicon-check
													span Continuar análise
											li
												a(ng-click="listagemProcessoManejo.visualizarProcesso(processoManejo)", ng-if="listagemProcessoManejo.permissaoVisualizar")
													i.glyphicon.glyphicon-eye-open
													span Visualizar processo
											li
												a(ng-click="listagemProcessoManejo.downloadPdfAnaliseTecnica(processoManejo)", ng-if="listagemProcessoManejo.permissaoAnalisar && processoManejo.idCondicao === 19")
													i.glyphicon.glyphicon-save-file
													span Gerar PDF

				+paginacao('listagemProcessoManejo.paginacao', 'listagemProcessoManejo.onPaginaAlterada')

					.row(ng-show="!listagemProcessoManejo.processosManejo || listagemProcessoManejo.processosManejo.length == 0")
						.col-md-12
							p.empty-result Não existem dados a serem exibidos.
