include ../../components/resumoProcesso/resumo-processo

div(ng-init="ctrl.init()")
    
    section
        
        +resumo-processo('ctrl.processo','ctrl.exibirDadosProcesso()')     

    section(ng-if="ctrl.analiseTecnica.analiseTecnicaRevisada")   
        label Parecer da validação:     
        div(class="alert alert-warning", ng-bind-html="ctrl.analiseJuridica.analiseTecnica.analiseTecnicaRevisada.parecerValidacao")
           

    section.margin-bottom-md

        uib-tabset(active='ctrl.tabAtiva')
            uib-tab(index="0", heading="Análise geo")
                div(ng-if='ctrl.tabAtiva === 0')
                    include analiseGeo/analise-geo

                a.btn.pull-right(ng-click="ctrl.tabAtiva = 1")
                    | >> Próxima etapa

            uib-tab(index="1", heading="Parecer")
                parecer(analise-tecnica="ctrl.analiseTecnica", formularios="ctrl.formularios", usuario-sessao="usuarioSessao")

                a.btn(ng-click="ctrl.tabAtiva = 0")
                    | << Etapa anterior


    section.margin-bottom-xl.alone
    
        button.btn.btn-default.col-md-2.col-md-offset-0(ng-click="ctrl.cancelar()")
            i.glyphicon.glyphicon-ban-circle.glyphicon--with-right-margin
            | Cancelar
        
        button.btn.btn-success.col-md-2.col-md-offset-5(ng-click="ctrl.salvar()", ng-if="!ctrl.analiseTecnica.dataFim")
            i.glyphicon.glyphicon-edit.glyphicon--with-right-margin
            | Salvar
        
        button.btn.btn-success.col-md-2.col-md-offset-1(ng-click="ctrl.concluir()", ng-if="!ctrl.analiseTecnica.dataFim")
            i.glyphicon.glyphicon-check.glyphicon--with-right-margin
            | Concluir

        i.pull-right(ng-if="ctrl.analiseTecnica.dataFim") Esta análise foi concluida em {{ctrl.analiseTecnica.dataFim}} e não pode mais ser alterada.




