include ../../layout/components/inputErrors
include ../../components/resumoProcesso/resumo-processo
include parecer

div(ng-init="ctrl.init()")
    section
        
    +resumo-processo('ctrl.processo','ctrl.exibirDadosProcesso()')

    section.margin-bottom-md

        uib-tabset
            uib-tab(index="0", heading="Análise geo")

            uib-tab(index="1", heading="Parecer")
                +parecer()
        






