include ../../layout/components/inputErrors
include ../../components/resumoProcesso/resumo-processo

div(ng-init="ctrl.init()")
    section
        
    +resumo-processo('ctrl.processo','ctrl.exibirDadosProcesso()')

    section.margin-bottom-md


            

        






