include ../../../../layout/components/panel
include ../../../../features/resumoProcesso/resumo-processo
include ../../../../layout/components/inputErrors

+resumo-processo('validacaoAnaliseSecretario.analiseTecnica.analise.processo','validacaoAnaliseSecretario.exibirDadosProcesso()','validacaoAnaliseSecretario.titulo')

section.margin-bottom-md

	.row
		div(style="padding:15px;")
			div.modal-body

			include tela-validacao-secretario

section(style="padding-top:20px;")

	button.btn.btn-default.pull-left.posicao-cancelar-gerente(title='Cancelar análise',
                                    ng-bootbox-title='Confirmação',
                                    ng-bootbox-confirm='Deseja realmente cancelar a análise ?',
                                    ng-bootbox-confirm-action="validacaoAnaliseSecretario.cancelar()")
		i.glyphicon.glyphicon-ban-circle.glyphicon--with-right-margin
		| Cancelar
	
	button.btn.btn-success.btn-assinar-licenca(ng-if="validacaoAnaliseSecretario.idTipoResultadoAnalise === validacaoAnaliseSecretario.tiposResultadoAnalise.ANALISE_APROVADA.toString()",ng-click="validacaoAnaliseSecretario.concluir()")
		i.glyphicon.glyphicon-ok-sign.glyphicon--with-right-margin
		| APROVAR LICENÇA

	button.btn.btn-success.btn-assinar-licenca(ng-if="validacaoAnaliseSecretario.idTipoResultadoAnalise === validacaoAnaliseSecretario.tiposResultadoAnalise.ANALISE_NAO_APROVADA.toString()",ng-click="validacaoAnaliseSecretario.concluir()")
		i.glyphicon.glyphicon-ok-sign.glyphicon--with-right-margin
		| INDEFERIR SOLICITAÇÃO

              
