div.modal-header(ng-init="modalCtrl.init()")
    button.close(type='button', ng-click="modalCtrl.fechar()")
        span(aria-hidden='true') ×
        span.sr-only Fechar

    h4.modal-title {{ modalCtrl.labelModal }} Inconsistência
    div(growl inline="true" reference='5')

div.modal-body

    div.area-modal
        label.label-modal.obrigatorio Descrição da inconsistência:
        br
        textarea.textarea-modal(name="descricaoInconsistência", ng-keydown="modalCtrl.limparErrosInconsistenciaVistoria()", ng-class="{ 'error': modalCtrl.errors.descricaoInconsistencia }", ng-model="modalCtrl.inconsistenciaVistoria.descricaoInconsistencia")

    div.area-modal
        label.label-modal.obrigatorio Tipo da inconsistência:
        br
        textarea.textarea-modal(name="tipoInconsistência", ng-keydown="modalCtrl.limparErrosInconsistenciaVistoria()", ng-class="{ 'error': modalCtrl.errors.tipoInconsistencia }", ng-model="modalCtrl.inconsistenciaVistoria.tipoInconsistencia")

    div.button-upload-modal.btn.btn-default(style=" margin-bottom:5px;",type="file", name="arquivo", ngf-select="modalCtrl.upload($file, $invalidFile)", ngf-accept="'application/pdf,image/*'", ngf-pattern="'application/pdf,image/*'", ngf-max-size="{{modalCtrl.TAMANHO_MAXIMO_ARQUIVO_MB}}MB")
        i.glyphicon.glyphicon-open.glyphicon--with-right-margin
        | Anexar arquivo na inconsistência

    table.area-modal.table.table-condensed(ng-if="modalCtrl.inconsistenciaVistoria.anexos.length > 0")

        thead

            tr
                th.col-md-10 Arquivo anexado
                th.col-md-2.text-right Ações

        tbody

            tr(ng-repeat="anexo in modalCtrl.inconsistenciaVistoria.anexos")

                td.col-md-10 {{ anexo.nomeDoArquivo }}
                td.col-md-2.text-right
                    a.d-inline.margin-right-xs.pointer(title="Visualizar anexo", ng-click="modalCtrl.baixarDocumento(anexo)")
                        i.glyphicon.glyphicon-eye-open

                    a.d-inline.margin-right-xs.pointer
                        i.glyphicon.glyphicon-trash(title='Remover anexo',
                                                    ng-bootbox-title='Confirmação',
                                                    ng-bootbox-confirm='Deseja realmente remover este anexo ?',
                                                    ng-bootbox-confirm-action="modalCtrl.removerDocumento($index)")

div.modal-footer

    button.btn.btn-default.pull-left(ng-click="modalCtrl.fechar()")
        i.glyphicon.glyphicon-arrow-left
        | &nbsp;Cancelar
    
    button.btn.btn-success.pull-right(ng-click="modalCtrl.concluir()")
        i.glyphicon.glyphicon-arrow-right
        | &nbsp;Confirmar
